Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

style: tighten typography and content polish
  src/components/content/AppleTVFlag.tsx
  src/components/interactive/WritingPage.tsx
  src/components/ui/Subsubheadline.tsx
  src/content/journal/2022/civil-war-truth-1-introduction.mdx
Due: npx prettier --write

fix(pnpm): allow builds
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add series stepper
  src/components/interactive/SeriesStepper.tsx
  src/components/site/PostNavigation.astro
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

chore: add numbers to series essays
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2021/the-decentralized-web-1-why-do-we-need-it.mdx
  src/content/journal/2021/the-decentralized-web-2-the-wild-west-web.mdx
  src/content/journal/2021/the-decentralized-web-3-develop-and-publish-a-website.mdx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/artificial-intelligence-3-text-to-image-generation.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2022/civil-war-truth-1-introduction.mdx
  src/content/journal/2022/civil-war-truth-2-corporatism-technocracy.mdx
  src/content/journal/2022/civil-war-truth-3-political-division.mdx
  src/content/journal/2022/civil-war-truth-4-media-journalism.mdx
  src/content/journal/2022/civil-war-truth-5-academia.mdx
  src/content/journal/2022/civil-war-truth-6-science.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/content/journal/2022/template-ia-writer-nanzan.mdx
  src/content/journal/2022/template-ia-writer-shibui.mdx
  src/content/journal/2024/beyond-the-bookshelf-1.mdx
  src/content/journal/2024/beyond-the-bookshelf-2-books-2024.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

feat: add new favicons and webfeed assets
  public/assets/images/favicons/apple-touch-icon.png
  public/assets/images/favicons/favicon-192.png
  public/assets/images/favicons/favicon-512.png
  public/assets/images/favicons/favicon.svg
  public/assets/images/portrait-stefan-imhoff-2025.jpg
  public/assets/images/portrait-stefan-imhoff-2025.webp
  public/assets/images/webfeeds-cover.jpg
  public/assets/images/webfeeds-cover.webp
  public/assets/images/webfeeds-icon.png
  public/assets/images/webfeeds-logo.svg
Due: none

feat: replace bonsai image with Ma image
  src/layouts/BaseLayout.astro
  src/pages/[...slug].astro
  src/pages/rss.xml.js
  src/utils/preview-url.ts
Due: npx prettier --write, npx eslint --fix

fix(journal): correct grid layout for meta/toc sidebars across breakpoints
  src/components/interactive/SeriesStepper.tsx
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat(journal): redesign post navigation as bordered pair card
  src/components/site/PostNavigation.astro
Due: npx prettier --write, npx eslint --fix

feat(writing): move post detail pages from /<slug>/ to /writing/<slug>/
  nginx.conf
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/WritingList.tsx
  src/components/interactive/WritingPage.tsx
  src/components/site/PostNavigation.astro
  src/content/projects/journal.mdx
  src/content/text/about/intro.mdx
  src/content/writing/2020/new-website-2020-development.mdx
  src/content/writing/2020/new-website-2020.mdx
  src/content/writing/2021/new-website-2021.mdx
  src/content/writing/2023/website-relaunch-2023.mdx
  src/content/writing/2025/note-taking-obsidian-readwise-ai.mdx
  src/pages/index.astro
  src/pages/rss.xml.js
  src/pages/traditional-colors-of-japan.astro
  src/pages/writing.astro
  src/pages/writing/[slug].astro
  src/utils/get-writing-slug.ts
  src/utils/index.ts
Due: npx prettier --write, npx eslint --fix

feat: add a max-width for blog post lines
  src/content/writing/2026/bookmark-to-brain.mdx
  src/styles/global.css
Due: npx prettier --write

feat(banner): redesign Banner to match Ma design system card vocabulary
  src/components/content/Banner.tsx
  src/content/writing/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat(quotes): redesign Blockquote and Pullquote to match Ma design system
  src/components/content/Blockquote.tsx
  src/components/content/Pullquote.tsx
  src/components/ui/QuoteAttribution.tsx
  src/content/writing/2009/home-documentary.mdx
  src/content/writing/2017/minimalism.mdx
  src/styles/global.css
Due: npx prettier --write

feat(mdx): add ==mark== syntax via remark-mark plugin
  astro.config.mjs
  src/components/ui/Marked.tsx
  src/content/writing/2015/motivational-video.mdx
  src/data/site.ts
  src/mdx-components.ts
  src/styles/global.css
  src/utils/index.ts
  src/utils/remark-mark.ts
Due: npx prettier --write, npx eslint --fix

feat: add styles for ins and del
  .beans/SI-fpz7--fix-the-clear-filter-design-for-the-tag-list.md
  src/components/ui/Inserted.tsx
  src/components/ui/Strikethrough.tsx
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

feat(lightbox): add image lightbox to blog post images
  src/components/content/Image.tsx
  src/components/content/MarkdownImage.tsx
  src/components/interactive/LightboxRoot.tsx
  src/lib/lightboxSizing.ts
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

feat(design-system): add multi-page documentation infrastructure
  .beans/SI-031b--ds-6-motion-page-easing-curves-duration-bar-motion.md
  .beans/SI-13js--ds-11-new-guideline-pages-quotes-and-italics-print.md
  .beans/SI-3nvi--ds-3-color-page-swatches-ramp-contrast-matrix-prin.md
  .beans/SI-5cnd--ds-2-landing-page-cover-hero-principle-grid-sectio.md
  .beans/SI-6edx--ds-10-brand-foundations-naming-pages.md
  .beans/SI-b9m3--ds-12-components-catalogue-componentshowcase-props.md
  .beans/SI-bzgh--ds-8-imagery-icons-page-icon-grid-phosphor-note.md
  .beans/SI-ddkv--ds-1-foundations-schema-layout-dynamic-route-sideb.md
  .beans/SI-ei8h--ds-7-logo-page-specimen-size-strip-donts.md
  .beans/SI-jrz3--ds-13-polish-toc-prevnext-breadcrumbs-dark-mode-qa.md
  .beans/SI-js25--ds-4-typography-page-scale-specimens-italic-compar.md
  .beans/SI-p04a--phase-5i-design-system-documentation-site.md
  .beans/SI-pgi6--ds-9-accessibility-page-focus-ring-touch-target-al.md
  .beans/SI-wri5--ds-5-layout-grid-spacing-pages.md
  src/components/site/DesignSystemNav.astro
  src/content.config.ts
  src/data/design-system-nav.ts
  src/layouts/DesignSystemLayout.astro
  src/pages/design-system/[slug].astro
  src/schema/design-system.ts
Due: npx prettier --write, npx eslint --fix

feat(design-system): add landing page with cover, hero, principles, section index
  .beans/SI-5cnd--ds-2-landing-page-cover-hero-principle-grid-sectio.md
  src/components/design-system/PrincipleCard.tsx
  src/pages/design-system.astro
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

feat(design-system): add color page with visual components
  .beans/SI-3nvi--ds-3-color-page-swatches-ramp-contrast-matrix-prin.md
  src/components/design-system/ColorRamp.tsx
  src/components/design-system/ContrastBadge.tsx
  src/components/design-system/ContrastMatrix.tsx
  src/components/design-system/PrintSpec.tsx
  src/components/design-system/RatioBar.tsx
  src/content/design-system/4-color.mdx
  src/lib/color-contrast.ts
Due: npx prettier --write, npx eslint --fix

feat(design-system): DS-4 typography page with scale, specimens, italic, Japanese components
  .beans/SI-js25--ds-4-typography-page-scale-specimens-italic-compar.md
  src/components/design-system/ItalicComparison.tsx
  src/components/design-system/JapaneseSpecimen.tsx
  src/components/design-system/TypeScale.tsx
  src/components/design-system/TypeSpecimen.tsx
  src/content/config.ts
  src/content/design-system/5-typography.mdx
  src/schema/index.ts
Due: npx prettier --write, npx eslint --fix

feat(design-system): DS-5 layout/grid + spacing pages with interactive components
  .beans/SI-wri5--ds-5-layout-grid-spacing-pages.md
  src/components/design-system/BreakpointTable.tsx
  src/components/design-system/GridOverlay.tsx
  src/components/design-system/SpacingPicker.tsx
  src/components/design-system/SpacingScale.tsx
  src/content/design-system/6-layout-and-grids.mdx
  src/content/design-system/6a-spacing.mdx
Due: npx prettier --write

feat(design-system): DS-6 motion page with easing curves, duration bars, interactive demos
  .beans/SI-031b--ds-6-motion-page-easing-curves-duration-bar-motion.md
  .beans/SI-js25--ds-4-typography-page-scale-specimens-italic-compar.md
  .beans/SI-wri5--ds-5-layout-grid-spacing-pages.md
  src/components/design-system/DurationBar.tsx
  src/components/design-system/EasingComparison.tsx
  src/components/design-system/EasingCurvePlot.tsx
  src/components/design-system/MotionDemo.tsx
  src/components/design-system/ReducedMotionDemo.tsx
  src/content/design-system/8-motion.mdx
Due: npx prettier --write

fix(design-system): tracking calc, article spacing, logo specimens
  src/components/design-system/LogoSizeStrip.tsx
  src/components/design-system/LogoSpecimen.tsx
  src/components/design-system/TypeScale.tsx
  src/components/design-system/TypeSpecimen.tsx
  src/content/design-system/3-logo.mdx
  src/data/design-system-nav.ts
  src/layouts/DesignSystemLayout.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): Boska renders at bold weight (700) in TypeScale and ItalicComparison
  src/components/design-system/ItalicComparison.tsx
  src/components/design-system/TypeScale.tsx
Due: npx prettier --write

fix(design-system): prevent CJK synthetic italic and spacing-32 bar overflow
  src/components/design-system/SpacingScale.tsx
  src/components/design-system/TypeSpecimen.tsx
  src/content/design-system/5-typography.mdx
Due: npx prettier --write

feat(design-system): complete DS-7 through DS-12 — logo, imagery, a11y, brand, components
  src/components/design-system/AltTextTable.tsx
  src/components/design-system/ComponentShowcase.tsx
  src/components/design-system/FocusRingDemo.tsx
  src/components/design-system/IconGrid.tsx
  src/components/design-system/LogoDontList.tsx
  src/components/design-system/PhosphorNote.tsx
  src/components/design-system/TouchTargetOverlay.tsx
  src/content/design-system/1-brand-foundations.mdx
  src/content/design-system/2-naming-and-voice.mdx
  src/content/design-system/3-logo.mdx
  src/content/design-system/7-imagery.mdx
  src/content/design-system/9-accessibility.mdx
  src/pages/design-system/components/index.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): activate Boska bold axis on layout hero h1
  src/layouts/DesignSystemLayout.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): add font-bold to landing hero h1 and section list titles
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

feat(design-system): DS-13 polish — breadcrumb, stale section cleanup, directive fix
  src/components/design-system/FocusRingDemo.tsx
  src/layouts/DesignSystemLayout.astro
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

chore: delete obsolete 0-index.mdx (superseded by pages/design-system/index.astro)
  src/content/design-system/0-index.mdx
Due: npx prettier --write

feat(design-system): replace custom icon grid with Phosphor icons used on site
  src/components/design-system/IconGrid.tsx
Due: npx prettier --write

fix(design-system): fix ReducedMotionDemo toggle, animation, and Pullquote prop
  src/components/design-system/IconGrid.tsx
  src/components/design-system/LogoDontList.tsx
  src/components/design-system/MotionDemo.tsx
  src/components/design-system/ReducedMotionDemo.tsx
  src/components/design-system/SpacingPicker.tsx
  src/components/ui/switch.tsx
  src/content/design-system/10-accessibility.mdx
  src/content/design-system/7-spacing.mdx
  src/content/design-system/8-imagery.mdx
  src/content/design-system/9-motion.mdx
  src/pages/design-system/components/index.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): unify kanji glyphs across landing, nav, and page heroes
  src/content/design-system/10-accessibility.mdx
  src/data/design-system-nav.ts
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

fix(IconGrid): use Phosphor Icon type to fix weight prop TS errors
  src/components/design-system/IconGrid.tsx
Due: npx prettier --write

fix: resolve all astro check errors and warnings
  src/components/design-system/ContrastMatrix.tsx
  src/components/design-system/IconGrid.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/site/PostNavigation.astro
  src/layouts/DesignSystemLayout.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): add light-color borders to swatches and wire pagination
  src/components/content/ColorSwatch.tsx
  src/components/content/ColorSwatchPrimary.tsx
  src/components/design-system/LogoSpecimen.tsx
  src/lib/color-contrast.ts
  src/pages/design-system/[slug].astro
  src/pages/design-system/components/index.astro
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

redesign(404): replace GridLayout with 迷 (mayoi) kanji hero
  src/content/text/404/haiku.mdx
  src/pages/404.astro
Due: npx prettier --write, npx eslint --fix

fix(design-system): stack principle cards full-width on mobile
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

refactor(cv): migrate to Ma design system layout with asymmetric hero
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
