Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

feat: remove Netlify deploy scripts and update colophon
  .gitignore
  package.json
  pnpm-lock.yaml
  src/pages/colophon.mdx
Due: npx prettier --write

chore: add tracking link for umami
  src/components/RSSLink.astro
  src/components/SearchLink.astro
  src/components/SocialLinks.tsx
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/pages/imprint.mdx
Due: npx prettier --write, npx eslint --fix

chore(pnpm): upgrade to Astro 4.7 and update all packages
  package.json
  pnpm-lock.yaml
Due: none

chore: add data attribute
  .eslintignore
  .eslintrc.json
  eslint.config.cjs
  src/components/Backlink.tsx
  src/components/MainNavigation.astro
  src/components/Pagination.astro
  src/components/UpLink.tsx
Due: npx prettier --write, npx eslint --fix

chore(pnpm): upgrade to Astro 4.9 and update all other packages
  package.json
  pnpm-lock.yaml
Due: none

feat: add new award
  src/data/cv.json
Due: none

chore(now): update page
  src/pages/now.mdx
Due: npx prettier --write

fix(essay): hard to understand sentence
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

chore: remove old links
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/projects/stefanimhoff-v4.mdx
Due: npx prettier --write

feat(umami): activate script in production only
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore(tools): update tools
  src/data/tools.ts
Due: npx prettier --write, npx eslint --fix

chore: update links
  src/components/AffiliateLink.tsx
  src/components/AmazonBook.tsx
  src/components/ProductLink.tsx
  src/components/index.ts
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2010/rework.mdx
  src/content/journal/2011/decodeunicode.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/website-typography.mdx
  src/content/journal/2015/calisthenics.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2018/morning-routine.mdx
  src/content/journal/2020/101-things-you-can-do.mdx
  src/content/journal/2020/everyday-carry.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
  src/content/journal/2024/raycast.mdx
  src/data/tools.ts
  src/mdx-components.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

chore: remove cspell configuration
  .cspell.json
  .cspell/dictionary.txt
Due: none

chore: remove vscode configuration
  .vscode/extensions.json
  .vscode/launch.json
Due: none

chore: add sentence
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
Due: npx prettier --write

chore(npm): upgrade to Astro 4.13
  package.json
  pnpm-lock.yaml
Due: none

feat: update profession title
  pnpm-lock.yaml
  src/data/cv.json
  src/data/site.ts
  src/pages/about.mdx
  src/pages/index.astro
  src/text/cv/intro.mdx
  src/text/homepage/about-me.mdx
Due: npx prettier --write, npx eslint --fix

chore: add https for product links
  src/components/ProductLink.tsx
Due: npx prettier --write

feat: add script to convert JPG to WebP
  convert-images.cjs
  package.json
Due: none

feat: add cover images for essays
  public/assets/images/branding/og/decentralized-web-1.jpg
  public/assets/images/branding/og/decentralized-web-1.webp
  public/assets/images/branding/og/decentralized-web-2.jpg
  public/assets/images/branding/og/decentralized-web-2.webp
  public/assets/images/branding/og/decentralized-web-3.jpg
  public/assets/images/branding/og/decentralized-web-3.webp
  public/assets/images/cover/decentralized-web-1.jpg
  public/assets/images/cover/decentralized-web-1.webp
  public/assets/images/cover/decentralized-web-2.jpg
  public/assets/images/cover/decentralized-web-2.webp
  public/assets/images/cover/decentralized-web-3.jpg
  public/assets/images/cover/decentralized-web-3.webp
  src/content/journal/2021/the-decentralized-web-1-why-do-we-need-it.mdx
  src/content/journal/2021/the-decentralized-web-2-the-wild-west-web.mdx
  src/content/journal/2021/the-decentralized-web-3-develop-and-publish-a-website.mdx
Due: npx prettier --write

feat: update cover photo
  public/assets/images/branding/og/bug-out-bag.jpg
  public/assets/images/branding/og/bug-out-bag.webp
  public/assets/images/branding/og/how-to-prepare-for-the-worst-case.jpg
  public/assets/images/branding/og/how-to-prepare-for-the-worst-case.webp
  public/assets/images/cover/bug-out-bag.jpg
  public/assets/images/cover/bug-out-bag.webp
  public/assets/images/cover/how-to-prepare-for-the-worst-case.jpg
  public/assets/images/cover/how-to-prepare-for-the-worst-case.webp
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
Due: npx prettier --write

feat: add cover photo
  public/assets/images/branding/og/i-counted-everything-i-own.jpg
  public/assets/images/branding/og/i-counted-everything-i-own.webp
  public/assets/images/cover/i-counted-everything-i-own.jpg
  public/assets/images/cover/i-counted-everything-i-own.webp
  src/content/journal/2022/i-counted-everything-i-own.mdx
Due: npx prettier --write

feat: add cover image
  public/assets/images/branding/og/dreaming-of-the-old-normal.jpg
  public/assets/images/branding/og/dreaming-of-the-old-normal.webp
  public/assets/images/cover/dreaming-of-the-old-normal.jpg
  public/assets/images/cover/dreaming-of-the-old-normal.webp
  src/content/journal/2022/dreaming-of-the-old-normal.mdx
Due: npx prettier --write

feat: update essay
  src/content/journal/2021/learning-poems.mdx
Due: npx prettier --write

feat: add cover for essay
  public/assets/images/branding/og/interpretation-if.jpg
  public/assets/images/branding/og/interpretation-if.webp
  public/assets/images/cover/interpretation-if.jpg
  public/assets/images/cover/interpretation-if.webp
  src/content/journal/2021/interpretation-if.mdx
  src/pages/about.mdx
Due: npx prettier --write

fix: typo
  src/content/journal/2014/gulp-tutorial-16-postcss.mdx
Due: npx prettier --write

chore(colophon): add FLUX as used tool
  src/pages/colophon.mdx
Due: npx prettier --write

fix: broken grids on project page
  src/components/Image.astro
  src/components/ProjectContainer.astro
  src/components/ProjectImage.astro
Due: npx prettier --write, npx eslint --fix

feat: add cover for "Setting Up a Web Developer Work Environment" series
  public/assets/images/branding/og/web-developer-work-environment-1.jpg
  public/assets/images/branding/og/web-developer-work-environment-1.webp
  public/assets/images/branding/og/web-developer-work-environment-2.jpg
  public/assets/images/branding/og/web-developer-work-environment-2.webp
  public/assets/images/cover/web-developer-work-environment-1.jpg
  public/assets/images/cover/web-developer-work-environment-1.webp
  public/assets/images/cover/web-developer-work-environment-2.jpg
  public/assets/images/cover/web-developer-work-environment-2.webp
  src/content/journal/2021/web-developer-work-environment-1.mdx
  src/content/journal/2021/web-developer-work-environment-2.mdx
Due: npx prettier --write

fix: issue with white-space around links
  src/components/Link.astro
  src/components/TextLink.astro
Due: npx prettier --write, npx eslint --fix

chore: add link to Now page
  src/pages/about.mdx
Due: npx prettier --write

feat: add new cover images
  public/assets/images/branding/og/new-website-2020-design.jpg
  public/assets/images/branding/og/new-website-2020-design.webp
  public/assets/images/branding/og/new-website-2020-development.jpg
  public/assets/images/branding/og/new-website-2020-development.webp
  public/assets/images/branding/og/new-website-2020-inspiration.jpg
  public/assets/images/branding/og/new-website-2020-inspiration.webp
  public/assets/images/branding/og/new-website-2020.jpg
  public/assets/images/branding/og/new-website-2020.webp
  public/assets/images/branding/og/new-website-2021.jpg
  public/assets/images/branding/og/new-website-2021.webp
  public/assets/images/branding/og/the-old-man-on-the-bench.jpg
  public/assets/images/branding/og/the-old-man-on-the-bench.webp
  public/assets/images/cover/new-website-2020-design.jpg
  public/assets/images/cover/new-website-2020-design.webp
  public/assets/images/cover/new-website-2020-development.jpg
  public/assets/images/cover/new-website-2020-development.webp
  public/assets/images/cover/new-website-2020-inspiration.jpg
  public/assets/images/cover/new-website-2020-inspiration.webp
  public/assets/images/cover/new-website-2020.jpg
  public/assets/images/cover/new-website-2020.webp
  public/assets/images/cover/new-website-2021.jpg
  public/assets/images/cover/new-website-2021.webp
  public/assets/images/cover/the-old-man-on-the-bench.jpg
  public/assets/images/cover/the-old-man-on-the-bench.webp
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/journal/2021/new-website-2021.mdx
  src/content/journal/2021/the-old-man-on-the-bench.mdx
Due: npx prettier --write
