Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpx prettier --write, pnpx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,svelte,css}": ["pnpx prettier --write"],
	"**/*.{js,ts,html,astro,svelte}": ["pnpx eslint --fix"]
}

chore(eslint): add support for Astro files
  .eslintrc.json
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

feat(tailwind): add color palette
  tailwind.config.cjs
Due: none

feat: add basic page color styles
  src/layouts/Layout.astro
  src/pages/index.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat: add webfont with global CSS and preloading
  public/assets/fonts/secuela-italic-vf.woff
  public/assets/fonts/secuela-italic-vf.woff2
  public/assets/fonts/secuela-regular-vf.woff
  public/assets/fonts/secuela-regular-vf.woff2
  src/layouts/Layout.astro
  src/styles/fonts.css
  src/styles/global.css
Due: pnpx prettier --write, pnpx eslint --fix

feat: add branding assets and favicon meta tags
  public/assets/images/branding/favicons/apple-touch-icon.png
  public/assets/images/branding/favicons/favicon-192.png
  public/assets/images/branding/favicons/favicon-512.png
  public/assets/images/branding/favicons/favicon.svg
  public/assets/images/branding/og/banner.png
  public/assets/images/branding/webfeeds-cover.jpg
  public/assets/images/branding/webfeeds-icon.png
  public/assets/images/branding/webfeeds-logo.svg
  src/layouts/Layout.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore: add cssnano for PostCSS
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
Due: none

chore: add no-js class and module to replace it if JavaScript is available
  src/layouts/Layout.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore: change scripts to use npx
  .husky/pre-commit
  .lintstagedrc.json
Due: none

fix(eslint): add configuration for inline script tags
  .eslintrc.json
Due: none

chore(tailwind): add CSS logical property plugin
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: none

feat(tailwind): add custom header/footer spacing and template row
  tailwind.config.cjs
Due: none

feat(tailwind): add styling for header, footer and content area
  src/layouts/Layout.astro
  src/pages/index.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore(astro): add Astro icon plugin and a custom SVG
  package.json
  pnpm-lock.yaml
  src/icons/circle.svg
Due: none

feat(astro): migrate back link
  src/layouts/Layout.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): add theme provider for dark mode
  src/components/ThemeProvider.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  tailwind.config.cjs
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): add backlink component
  src/components/Backlink.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): add navigation component
  src/components/MainNavigation.astro
  src/data/navigation.json
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): add theme toggle
  src/components/ThemeToggle.astro
  src/icons/circle.svg
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): add page header component
  src/components/PageHeader.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): use page header component
  src/layouts/Layout.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore: move icon and click area sizes into tokens
  src/components/Backlink.astro
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
  tailwind.config.cjs
Due: pnpx prettier --write, pnpx eslint --fix

feat(svelte): add ThemeBox component
  .eslintrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/components/ThemeBox.svelte
Due: pnpx prettier --write, pnpx eslint --fix

feat: add footer with legal, social icons, and up link
  src/components/Legal.astro
  src/components/LegalDate.svelte
  src/components/PageFooter.astro
  src/components/SocialLinks.astro
  src/components/ThemeBox.svelte
  src/components/UpLink.astro
  src/data/site.ts
  src/data/social-links.json
  src/layouts/Layout.astro
  tailwind.config.cjs
Due: pnpx prettier --write, pnpx eslint --fix

chore: remove vale
  .vale.ini
  .vale/Vocab/Base/accept.txt
  .vale/Vocab/Base/reject.txt
  package.json
  pnpm-lock.yaml
Due: none

chore(cspell): update dictionary
  .cspell/dictionary.txt
Due: none

feat(astro): change footer section
  src/components/Legal.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): finish header and footer styling
  .cspell/dictionary.txt
  src/components/Backlink.astro
  src/components/Headline.svelte
  src/components/Legal.astro
  src/components/MainNavigation.astro
  src/components/PageFooter.astro
  src/components/PageHeader.astro
  src/components/PageTitle.svelte
  src/components/RSSLink.astro
  src/components/SocialLinks.astro
  src/components/Subheadline.svelte
  src/components/Subnavigation.astro
  src/components/Subsubheadline.svelte
  src/components/ThemeToggle.astro
  src/components/UpLink.astro
  src/data/navigation.json
  src/data/subnavigation.json
  tailwind.config.cjs
Due: pnpx prettier --write, pnpx eslint --fix

chore: simplify the ThemeBox component
  src/components/ThemeBox.svelte
Due: pnpx prettier --write, pnpx eslint --fix

chore: update margins of the footer
  src/components/PageFooter.astro
  src/components/RSSLink.astro
  src/components/Subnavigation.astro
  src/components/Subsubheadline.svelte
Due: pnpx prettier --write, pnpx eslint --fix

refactor: move Svelte components to Astro
  .cspell/dictionary.txt
  src/components/Headline.astro
  src/components/Headline.svelte
  src/components/PageTitle.svelte
  src/components/RSSLink.astro
  src/components/Subheadline.astro
  src/components/Subheadline.svelte
  src/components/Subnavigation.astro
  src/components/Subsubheadline.astro
  src/components/Subsubheadline.svelte
  src/components/ThemeBox.astro
  src/components/Title.astro
  src/pages/index.astro
Due: pnpx prettier --write, pnpx eslint --fix

feat(astro): create Link component
  src/components/Backlink.astro
  src/components/Link.astro
  src/components/MainNavigation.astro
  src/components/RSSLink.astro
  src/components/SocialLinks.astro
  src/components/Subnavigation.astro
  src/components/UpLink.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore(preact): add Preact to Astro
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: replace Svelte LegalDate component with Preact
  src/components/Legal.astro
  src/components/LegalDate.tsx
Due: pnpx prettier --write, pnpx eslint --fix

refactor: migrate components to Preact
  src/components/Backlink.astro
  src/components/Headline.astro
  src/components/Headline.tsx
  src/components/Legal.astro
  src/components/Link.astro
  src/components/Link.tsx
  src/components/MainNavigation.astro
  src/components/PageFooter.astro
  src/components/RSSLink.astro
  src/components/SocialLinks.astro
  src/components/Subheadline.astro
  src/components/Subheadline.tsx
  src/components/Subnavigation.astro
  src/components/Subsubheadline.astro
  src/components/Subsubheadline.tsx
  src/components/Text.tsx
  src/components/TextLink.tsx
  src/components/Title.astro
  src/components/Title.tsx
  src/components/UpLink.astro
  src/components/index.ts
Due: pnpx prettier --write, pnpx eslint --fix

feat: add page layout
  src/layouts/BaseLayout.astro
  src/layouts/PageLayout.astro
Due: pnpx prettier --write, pnpx eslint --fix

chore: add Tailwind CSS OpenType plugin and classnames
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: none

feat(mdx): create mapping for components
  src/mdx-components.ts
Due: pnpx eslint --fix

feat: add some static mdx pages
  src/pages/about.mdx
  src/pages/colophon.mdx
  src/pages/imprint.mdx
  src/pages/index.astro
  src/pages/now.mdx
  src/pages/tools.mdx
Due: pnpx prettier --write, pnpx eslint --fix

chore: change some spacing in Typography components
  src/components/Headline.tsx
  src/components/Subheadline.tsx
  src/components/Subsubheadline.tsx
  src/components/Text.tsx
  src/components/TextLink.tsx
Due: none
