Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

feat: add RSS feeds for Haiku, AI Art, and Sketchnotes
  package.json
  pnpm-lock.yaml
  src/pages/rss-ai-art.xml.js
  src/pages/rss-haiku.xml.js
  src/pages/rss-sketchnotes.xml.js
Due: npx eslint --fix

chore: add redirect from old RSS feed url to new one
  netlify.toml
Due: none

feat: implement hack for journal post RSS feed
  src/components/RssXml.astro
  src/components/WriteFile.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/utils/sort-by-date.ts
Due: npx prettier --write, npx eslint --fix

chore: update cspell file
  .cspell/dictionary.txt
  package.json
  pnpm-lock.yaml
Due: none

chore: update colophon
  src/pages/colophon.mdx
Due: npx prettier --write

chore(pnpm): update packages
  package.json
  pnpm-lock.yaml
Due: none

chore: add basic HTML minification and CSS inlining
  astro.config.mjs
Due: none

feat: add critical render path optimization
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/styles/print.css
Due: npx prettier --write

feat: add compression for HTML, CSS, and JavaScript
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: update Colophon
  src/pages/colophon.mdx
Due: npx prettier --write

refactor: move active link handling to JavaScript
  src/components/ActiveNavigationCheck.astro
  src/components/MainNavigation.astro
  src/components/Subnavigation.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: add page transitions with Swup
  package.json
  pnpm-lock.yaml
  src/components/Sal.astro
  src/components/Scripts.astro
  src/layouts/BaseLayout.astro
  types/swup.d.ts
Due: npx prettier --write, npx eslint --fix

feat: add focus states
  src/components/DownloadLink.astro
  src/components/EmailLink.astro
  src/components/JournalList.astro
  src/components/MainNavigation.astro
  src/components/MoreLink.astro
  src/components/RSSLink.astro
  src/components/Subnavigation.astro
  src/components/Tag.tsx
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: customize settings of service worker
  astro.config.mjs
Due: none

fix(a11y): accessibility issues
  .gitignore
  astro.config.mjs
  netlify.toml
  src/components/JournalList.astro
  src/components/RSSLink.astro
  src/components/Tag.tsx
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2010/rework.mdx
  src/content/journal/2011/decodeunicode.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/website-typography.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2018/morning-routine.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/learning-poems.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
  src/content/journal/2023/shokunin.mdx
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix(swup): add scripts plugin for Astro island architecture
  package.json
  pnpm-lock.yaml
  src/components/Scripts.astro
Due: npx prettier --write, npx eslint --fix

chore: add Netlify folder to gitignore
  .gitignore
Due: none

chore: increase project version
  package.json
Due: none

fix: typo in deploy script
  package.json
Due: none

feat: remove Home navigation item in favor of back link
  src/data/navigation.json
  src/layouts/AboutLayout.astro
  src/pages/404.astro
  src/pages/about.mdx
  src/pages/ai-art.astro
  src/pages/colophon.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/imprint.mdx
  src/pages/journal.astro
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/sketchnotes.astro
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

fix: bug with device rotation
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

fix: sideway scrolling bug on mobile
  src/components/GalleryDetail.astro
Due: npx prettier --write, npx eslint --fix

fix(a11y): remove accessibility issue
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

fix: load cover photo eager to prevent performance issue
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix: remove Astro critters because of ugly white mode flash in dark mode
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/styles/print.css
  src/layouts/BaseLayout.astro
  src/pages/colophon.mdx
Due: npx prettier --write, npx eslint --fix

fix: move some scripts to central file because of issue with Swup
  src/components/ActiveNavigationCheck.astro
  src/components/EmailLink.astro
  src/components/Scripts.astro
  src/components/UpLink.astro
  types/swup.d.ts
Due: npx prettier --write, npx eslint --fix

chore: remove astro-compress and use Astro's default settings
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/colophon.mdx
Due: npx prettier --write

fix(a11y): more accessibility issues
  astro.config.mjs
  shiki-theme.json
  src/components/AmazonBook.tsx
  src/components/JournalList.astro
  src/content/journal/2017/gitbook.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/pages/[...slug].astro
  src/pages/ai-art.astro
  src/pages/sketchnotes.astro
  src/styles/global.css
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

refactor: change animations on About page
  src/pages/about.mdx
Due: npx prettier --write

chore: add Swup to colophon
  src/pages/colophon.mdx
Due: npx prettier --write

fix: missing space after minification
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat(essay): Website Relaunch With Astro, Preact, and Tailwind CSS
  public/assets/images/branding/og/alien-worlds.jpg
  public/assets/images/cover/alien-worlds.jpg
  public/assets/images/posts/unlighthouse.jpg
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
Due: npx prettier --write

feat: add option for multiple photos to figure component
  src/components/Figure.tsx
Due: none

chore: update text for project
  src/content/projects/stefanimhoff-v4.mdx
Due: npx prettier --write

fix: bottom gap on mobile devices
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: update colophon with additional information
  src/pages/colophon.mdx
Due: npx prettier --write

chore: show future posts by default
  src/utils/format-posts.ts
Due: npx eslint --fix

fix: gap below footer on iPad
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

fix: duplication of reading time label
  src/pages/[...slug].astro
  src/utils/remark-reading-time.ts
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
