Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

fix(tools): add back overwritten image
  public/assets/images/cover/home-office.webp
  public/assets/images/og/home-office.jpg
  public/assets/images/preview/home-office.webp
Due: none

feat(cv): replace old resume
  public/downloads/resume-stefan-imhoff.zip
Due: none

fix: columns and line-height on title and subtitle
  src/components/site/PageTitle.astro
  src/components/ui/Title.tsx
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

fix(CommandMenu): search results not displaying due to cmdk filter
  src/components/interactive/CommandMenu.tsx
Due: npx prettier --write

test(CommandMenu): update tests for unified single-view interface
  .codegraph/.gitignore
  src/components/interactive/interactive-components.test.tsx
Due: npx prettier --write

test(e2e): update command menu test for unified search interface
  tests/e2e/command-menu.spec.ts
Due: npx prettier --write, npx eslint --fix

feat(CommandMenu): ESC closes menu immediately instead of clearing search first
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/interactive-components.test.tsx
Due: npx prettier --write

feat(writing): add uniparty maximal state article
  public/assets/images/cover/uniparty-maximal-state.webp
  public/assets/images/og/uniparty-maximal-state.jpg
  public/assets/images/preview/uniparty-maximal-state.webp
  src/content/writing/2026/uniparty-maximal-state.mdx
Due: npx prettier --write

feat(work): replace component highlighter with much improved version
  public/assets/images/work/component-highlighter-detail.webp
  public/assets/images/work/component-highlighter-options.webp
  public/assets/images/work/component-highlighter-pop-over.webp
  public/assets/images/work/xing-chrome-extension-1.webp
  public/assets/images/work/xing-chrome-extension-2.webp
  src/content/work/component-highlighter-chrome-extension.mdx
  src/content/work/xing-design-system-chrome-extension.mdx
  src/content/work/xing-onboarding-illustrations.mdx
Due: npx prettier --write

feat(writing): add Higonokami folding knife video to shokunin essay
  src/content/writing/2023/shokunin.mdx
Due: npx prettier --write

chore(config): replace CLAUDE.md content with AGENTS.md reference
  CLAUDE.md
Due: npx prettier --write

fix(writing): correct punctuation in uniparty article
  src/content/writing/2026/uniparty-maximal-state.mdx
Due: npx prettier --write

chore(now): update page
  src/pages/now.mdx
Due: npx prettier --write

feat(config): add graphify knowledge graph integration
  .claude/settings.json
  .codex/hooks.json
  .opencode/opencode.json
  .opencode/plugins/graphify.js
  AGENTS.md
  CLAUDE.md
  eslint.config.mjs
Due: npx prettier --write, npx eslint --fix

chore(graphify): add graph generation tooling
  .claude/skills/graphify/.graphify_version
  .claude/skills/graphify/SKILL.md
  .claude/skills/graphify/references/add-watch.md
  .claude/skills/graphify/references/exports.md
  .claude/skills/graphify/references/extraction-spec.md
  .claude/skills/graphify/references/github-and-merge.md
  .claude/skills/graphify/references/hooks.md
  .claude/skills/graphify/references/query.md
  .claude/skills/graphify/references/transcribe.md
  .claude/skills/graphify/references/update.md
  .gitignore
  .graphifyignore
Due: npx prettier --write

chore(codegraph): add editor usage guidance
  .cursor/rules/codegraph.mdc
Due: none

chore(graphify): add generated knowledge graph
  .graphifyignore
  graphify-out/.graphify_labels.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: npx prettier --write, npx eslint --fix

fix(home): prevent writing links from stretching full width
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(books): add principles-of-economics, mark gold-standard as paid, update cover
  public/assets/images/books/libertarianism/principles-of-economics.webp
  public/assets/images/books/libertarianism/the-praxeology-of-privacy.webp
  src/content/books/libertarianism/principles-of-economics.mdx
  src/content/books/libertarianism/the-gold-standard.mdx
Due: npx prettier --write

chore(life-rules): add cake proverb
  src/pages/life-rules.mdx
Due: npx prettier --write

chore(now): remove stale website rebuild item
  src/pages/now.mdx
Due: npx prettier --write

chore(tools): update desk setup, remove Things app
  src/pages/tools.mdx
Due: npx prettier --write
