Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

fix: change placeholder type for Toolbox
  src/components/Toolbox.astro
Due: npx prettier --write, npx eslint --fix

chore: update text
  src/pages/tools.mdx
Due: npx prettier --write

fix: remove header background on Haiku detail pages
  src/pages/haiku/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix: stretch project images to full width
  src/pages/projects/[...slug].astro
Due: npx prettier --write, npx eslint --fix

chore: shorten pagination
  src/pages/haiku/[...slug].astro
  src/pages/projects/[...slug].astro
Due: npx prettier --write, npx eslint --fix

refactor: add missing navigation aria sections
  src/components/MainNavigation.astro
  src/components/SocialLinks.astro
  src/components/Subnavigation.astro
  src/pages/haiku.astro
  src/pages/sketchnotes/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add gallery detail page and component
  public/assets/images/sketchnotes/being-a-good-listener.jpg
  public/assets/images/sketchnotes/better-conversation.jpg
  public/assets/images/sketchnotes/bikablo-practice-1.jpg
  public/assets/images/sketchnotes/bikablo-practice-2.jpg
  public/assets/images/sketchnotes/bikablo-practice-3.jpg
  public/assets/images/sketchnotes/bikablo-practice-4.jpg
  public/assets/images/sketchnotes/how-to-speak.jpg
  public/assets/images/sketchnotes/random-sketches-1.jpg
  public/assets/images/sketchnotes/random-sketches-2.jpg
  public/assets/images/sketchnotes/random-sketches-3.jpg
  public/assets/images/sketchnotes/random-sketches-4.jpg
  public/assets/images/sketchnotes/random-sketches-5.jpg
  public/assets/images/sketchnotes/random-sketches-6.jpg
  public/assets/images/sketchnotes/random-sketches-7.jpg
  public/assets/images/sketchnotes/random-sketches-8.jpg
  public/assets/images/sketchnotes/self-actualization.jpg
  public/assets/images/sketchnotes/the-art-of-enough.jpg
  public/assets/images/sketchnotes/this-is-water-1.jpg
  public/assets/images/sketchnotes/this-is-water-2.jpg
  public/assets/images/sketchnotes/title-lettering.jpg
  public/assets/images/sketchnotes/weight-idea.jpg
  public/assets/images/sketchnotes/wim-hof-method.jpg
  src/components/GalleryDetail.astro
  src/content/config.ts
  src/content/sketchnotes/being-a-good-listener.mdx
  src/content/sketchnotes/better-conversation.mdx
  src/content/sketchnotes/bikablo-practice.mdx
  src/content/sketchnotes/how-to-speak-so-that-people-want-to-listen.mdx
  src/content/sketchnotes/random-sketches.mdx
  src/content/sketchnotes/self-actualization-vs-self-image-actualization.mdx
  src/content/sketchnotes/the-art-of-enough.mdx
  src/content/sketchnotes/the-wim-hof-method.mdx
  src/content/sketchnotes/this-is-water.mdx
  src/content/sketchnotes/title-lettering.mdx
  src/content/sketchnotes/weight-idea.mdx
  src/pages/sketchnotes/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add gallery index page for Sketchnotes
  src/content/config.ts
  src/content/sketchnotes/being-a-good-listener.mdx
  src/content/sketchnotes/bikablo-practice.mdx
  src/content/sketchnotes/random-sketches.mdx
  src/content/sketchnotes/self-actualization-vs-self-image-actualization.mdx
  src/content/sketchnotes/this-is-water.mdx
  src/content/sketchnotes/weight-idea.mdx
  src/pages/sketchnotes.astro
  src/text/sketchnotes/intro.mdx
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

fix: remove max-width of images on project overview
  src/components/ProjectImage.astro
Due: npx prettier --write, npx eslint --fix

chore: smaller text changes
  src/pages/imprint.mdx
  src/pages/now.mdx
Due: npx prettier --write

feat: change 404 haiku
  src/text/404/haiku.mdx
Due: npx prettier --write

refactor: move schemas into individual files
  src/content/config.ts
  src/schema/ai-art.ts
  src/schema/haiku.ts
  src/schema/index.ts
  src/schema/projects.ts
  src/schema/sketchnotes.ts
Due: npx eslint --fix

chore: use description in head
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore(npm): upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

chore: add downloads assets
  public/downloads/MarkdownDefault.css
  public/downloads/business-card-stefan-imhoff.zip
  public/downloads/cv-stefan-imhoff.zip
  public/downloads/publickey.hey@stefanimhoff.de-9cb867d4ccd2c1d7d9fde82f4b649797f3e007a9.asc
  public/downloads/session.txt
  public/downloads/traditional-colors-of-japan-rgb.zip
Due: npx prettier --write

chore: add title and description to all pages
  src/pages/404.astro
  src/pages/ai-art.astro
  src/pages/ai-art/[...slug].astro
  src/pages/colophon.mdx
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/imprint.mdx
  src/pages/index.astro
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
  src/pages/sketchnotes.astro
  src/pages/sketchnotes/[...slug].astro
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

refactor: allow to turn of email icon
  src/components/EmailLink.astro
Due: npx prettier --write, npx eslint --fix

fix: change text links to be displayed inline block
  src/components/TextLink.tsx
Due: none

feat(cv): add CV page
  src/data/cv.json
  src/pages/cv.astro
  src/text/cv/interests-hobbies.mdx
  src/text/cv/intro.mdx
Due: npx prettier --write, npx eslint --fix

chore: update Vcard
  public/downloads/business-card-stefan-imhoff.zip
Due: none

chore(cv): update skills
  src/data/cv.json
Due: none

feat: add Journal page
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/images/cover/home-documentary.jpg
  public/assets/images/posts/design-koi.png
  public/assets/images/posts/gitweb-theme-commit.png
  public/assets/images/posts/gitweb-theme-commitdiff.png
  public/assets/images/posts/gitweb-theme-log.png
  public/assets/images/posts/gitweb-theme-projects.png
  public/assets/images/posts/gitweb-theme-summary.png
  public/assets/images/posts/gitweb-theme-tree.png
  public/assets/images/posts/gtd-after.jpg
  public/assets/images/posts/gtd-before.jpg
  public/assets/images/posts/suikoden-luta.jpg
  src/components/Bookshelf.tsx
  src/content/config.ts
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2009/git.mdx
  src/content/journal/2009/gitweb-theme.mdx
  src/content/journal/2009/home-documentary.mdx
  src/pages/[...slug].astro
  src/pages/ai-art.astro
  src/pages/ai-art/[...slug].astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/journal.astro
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
  src/pages/sketchnotes.astro
  src/pages/sketchnotes/[...slug].astro
  src/schema/index.ts
  src/schema/journal.ts
  src/text/journal/intro.mdx
  src/utils/date.ts
  src/utils/index.ts
  src/utils/remark-reading-time.ts
  src/utils/word-count.ts
Due: npx prettier --write, npx eslint --fix

feat: add Pullquote component
  src/components/Pullquote.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: add Blockquote component
  src/components/Blockquote.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

refactor: move custom grids into the components
  src/components/ColorStack.tsx
  src/components/PageHeader.astro
  src/components/Toolbox.astro
  src/pages/[...slug].astro
  src/pages/ai-art.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/sketchnotes.astro
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

feat: add Figure component
  src/components/Figure.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

fix: link to be inline
  src/components/TextLink.tsx
Due: none

feat: add Bookshelf component
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

fix: warning to not pass props directly
  src/components/Image.astro
Due: npx prettier --write, npx eslint --fix

feat: move essays of 2010
  astro.config.mjs
  public/assets/images/cover/rework.jpg
  public/assets/images/cover/webstandards-magazine-django.jpg
  public/assets/images/posts/vim-vintage.jpg
  src/components/Image.astro
  src/content/journal/2010/rework.mdx
  src/content/journal/2010/vim.mdx
  src/content/journal/2010/webstandards-magazine-django.mdx
  src/layouts/BaseLayout.astro
  src/schema/journal.ts
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

feat: move essays of 2011
  public/assets/images/cover/book-decodeunicode.jpg
  src/content/journal/2011/decodeunicode.mdx
  src/styles/global.css
Due: npx prettier --write

feat: move essays of 2015
  .prettierignore
  public/assets/images/cover/calisthenics.jpg
  public/assets/images/cover/human-documentary.jpg
  public/assets/images/cover/motivational-video.jpg
  public/assets/images/posts/calisthenics-arm-elbow-lever.jpg
  public/assets/images/posts/calisthenics-best-dad-ever.jpg
  src/content/journal/2015/calisthenics.mdx
  src/content/journal/2015/human-documentary.mdx
  src/content/journal/2015/motivational-video.mdx
Due: npx prettier --write

feat: move essays of 2014
  public/assets/images/cover/gulp.svg
  public/assets/images/posts/moleskine-pencil-drawings.jpg
  public/assets/images/posts/rakkan.jpg
  src/components/Figure.tsx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2009/gitweb-theme.mdx
  src/content/journal/2014/gulp-tutorial-1-intro-setup.mdx
  src/content/journal/2014/gulp-tutorial-10-generating-sprites.mdx
  src/content/journal/2014/gulp-tutorial-11-production-build-server-and-jekyll.mdx
  src/content/journal/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html.mdx
  src/content/journal/2014/gulp-tutorial-13-revisioning.mdx
  src/content/journal/2014/gulp-tutorial-14-deploying-the-website.mdx
  src/content/journal/2014/gulp-tutorial-15-performance-improvements-webp-gzip.mdx
  src/content/journal/2014/gulp-tutorial-16-postcss.mdx
  src/content/journal/2014/gulp-tutorial-2-development-server-browsersync-configuration.mdx
  src/content/journal/2014/gulp-tutorial-3-build-clean-jekyll.mdx
  src/content/journal/2014/gulp-tutorial-4-css-generation-sass.mdx
  src/content/journal/2014/gulp-tutorial-5-javascripts-browserify.mdx
  src/content/journal/2014/gulp-tutorial-6-images-vector-fonts.mdx
  src/content/journal/2014/gulp-tutorial-7-base64.mdx
  src/content/journal/2014/gulp-tutorial-8-watch.mdx
  src/content/journal/2014/gulp-tutorial-9-linting-scss-and-javascript.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/logo-design.mdx
  src/content/journal/2014/website-typography.mdx
Due: npx prettier --write

feat: move essays of 2018
  src/content/journal/2018/morning-routine.mdx
  src/content/journal/2018/storing-information.mdx
Due: npx prettier --write

feat: move essays of 2017
  public/assets/images/cover/attention.jpg
  public/assets/images/posts/gitbook-kogakure.jpg
  public/assets/images/posts/minimalism-cleanup-cellar.jpg
  public/assets/images/posts/minimalism-living.jpg
  public/assets/images/posts/minimalism-office.jpg
  src/content/journal/2017/attention.mdx
  src/content/journal/2017/gitbook.mdx
  src/content/journal/2017/minimalism.mdx
Due: npx prettier --write

feat: move essays of 2020
  public/assets/images/posts/about-design.jpg
  public/assets/images/posts/base-design.jpg
  public/assets/images/posts/color-variants-design.jpg
  public/assets/images/posts/colors-of-japan.jpg
  public/assets/images/posts/devonthink-sorter.jpg
  public/assets/images/posts/devonthink-zettelkasten.jpg
  public/assets/images/posts/everyday-carry.jpg
  public/assets/images/posts/golden-canon-grid.png
  public/assets/images/posts/haiku-design.jpg
  public/assets/images/posts/haiku.jpg
  public/assets/images/posts/homepage-dark.jpg
  public/assets/images/posts/homepage-design.jpg
  public/assets/images/posts/homepage-light.jpg
  public/assets/images/posts/logo-skribbles.png
  public/assets/images/posts/meta-section-design.png
  public/assets/images/posts/obsidian-graph-view.jpg
  public/assets/images/posts/rakkan-logo.png
  public/assets/images/posts/typographic-scale.png
  src/content/journal/2020/101-things-you-can-do.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2020/everyday-carry.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2020/zettelkasten-note-taking-devonthink.mdx
  src/pages/[...slug].astro
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat: add series feature to journal
  src/pages/[...slug].astro
  src/pages/journal.astro
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat: move essays of 2016
  public/assets/images/cover/netflix-underwear.jpg
  src/content/journal/2016/japanese-netflix-tv-show-underwear.mdx
Due: npx prettier --write

feat: create DoughnutChart component and replace old implementation
  src/components/DoughnutChart.tsx
  src/components/index.ts
  src/content/journal/2022/i-counted-everything-i-own.mdx
  src/data/journal/i-counted-everything-i-own.ts
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
