Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

chore: auto-open coverage report in browser
  package.json
Due: none

chore: add happy-dom for future component testing
  package.json
  pnpm-lock.yaml
  src/test/setup.ts
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

feat: improve Docker build with Alpine and caching
  .dockerignore
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
  Dockerfile.new
  package.json
Due: npx prettier --write

chore: activate new Dockerfile for testing
  Dockerfile
  Dockerfile.new
  Dockerfile.old
  package.json
Due: none

docs: update documentation with Coolify test results
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
Due: npx prettier --write

chore: remove old Dockerfile backup
  Dockerfile.old
Due: none

docs: update references after Dockerfile.old removal
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
Due: npx prettier --write

feat: add GitHub Actions CI/CD workflow
  .github/workflows/docker-build.yml
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
Due: npx prettier --write

refactor: simplify CI to tests only
  .github/workflows/docker-build.yml
  .github/workflows/tests.yml
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
Due: npx prettier --write

docs: update documentation for production deployment
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
Due: npx prettier --write

chore: update multiple pages
  src/pages/about.mdx
  src/pages/cv.astro
  src/pages/now.mdx
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

chore: update link to use Grokipedia
  src/content/journal/2021/learning-poems.mdx
Due: npx prettier --write

chore: add Claude preview settings
  .claude/launch.json
Due: none

feat(projects): add new project
  public/assets/images/projects/thumbnails/xing-design-system-chrome-extension.webp
  src/content/projects/xing-design-system-chrome-extension.mdx
  src/content/projects/xing-design-system.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
Due: npx prettier --write

feat: update title
  src/content/journal/2024/raycast.mdx
  src/data/site.ts
  src/pages/about.mdx
  src/pages/index.astro
  src/pages/projects.astro
  src/text/homepage/about-me.mdx
  src/text/projects/intro.mdx
Due: npx prettier --write, npx eslint --fix

feat(essay): Agentic Note-Taking - Transforming My Obsidian Vault with Claude Code
  public/assets/images/cover/agentic-note-taking-obsidian-claude-code.webp
  public/assets/images/og/agentic-note-taking-obsidian-claude-code.jpg
  public/assets/images/posts/agentic-note-taking-obsidian-claude-code-d3-visualization.webp
  public/assets/images/thumbnail/agentic-note-taking-obsidian-claude-code.jpg
  src/content/journal/2026/agentic-note-taking-obsidian-claude-code.mdx
Due: npx prettier --write

fix(essay): correct image caption and alt text in agentic note-taking essay
  src/content/journal/2026/agentic-note-taking-obsidian-claude-code.mdx
Due: npx prettier --write

chore(now): update page
  src/pages/now.mdx
Due: npx prettier --write

chore(content): update journal posts and now page for March 2026
  src/content/journal/2025/from-typewriter-to-split-keyboard.mdx
  src/content/journal/2026/agentic-note-taking-obsidian-claude-code.mdx
  src/pages/now.mdx
Due: npx prettier --write

feat(analytics): improve umami event labels with context prefixes
  src/components/MainNavigation.astro
  src/components/SocialLinks.astro
  src/components/Subnavigation.astro
Due: npx prettier --write, npx eslint --fix
