Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

chore: change quote to pullquote
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

fix: wrong word
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
Due: npx prettier --write

chore: add paypal and lightning wallet
  src/pages/imprint.mdx
Due: npx prettier --write

fix(haiku): issue with the header height
  src/pages/haiku/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix: update 𝕏 handle of Raycast
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

chore: update tagline
  src/data/site.ts
  src/pages/about.mdx
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat(tools): update page
  src/pages/tools.mdx
Due: npx prettier --write

chore: remove outdated sentence
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

chore: update job title
  src/data/cv.json
  src/data/site.ts
  src/pages/about.mdx
  src/pages/index.astro
  src/pages/rss-test.xml.js
  src/text/cv/intro.mdx
  src/text/homepage/about-me.mdx
Due: npx prettier --write, npx eslint --fix

fix: adjust tagline font size to match dark mode
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix: error in line break
  src/pages/tools.mdx
Due: npx prettier --write

feat(life-rules): add and update rules
  src/pages/life-rules.mdx
Due: npx prettier --write

feat(tools): replace photo
  public/assets/images/cover/home-office.jpg
  public/assets/images/cover/home-office.webp
Due: none

feat(now): update page
  src/pages/now.mdx
Due: npx prettier --write

feat(essay): From Typewriter to Split Keyboard
  public/assets/images/cover/from-typewriter-to-split-keyboard.jpg
  public/assets/images/cover/from-typewriter-to-split-keyboard.webp
  public/assets/images/posts/zsa-voyager-light.jpg
  public/assets/images/posts/zsa-voyager-light.webp
  public/assets/images/posts/zsa-voyager.jpg
  public/assets/images/posts/zsa-voyager.webp
  src/content/journal/2025/from-typewriter-to-split-keyboard.mdx
Due: npx prettier --write

chore: add another account that uncovers propaganda
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
Due: npx prettier --write

chore(tools): update desktop pad
  src/pages/tools.mdx
Due: npx prettier --write

feat(cover): add new cover for Git essay
  public/assets/images/cover/git.jpg
  public/assets/images/cover/git.webp
Due: none

fix: broken article
  src/content/journal/2017/attention.mdx
Due: npx prettier --write

feat(cover): add new cover for essay
  public/assets/images/cover/attention.jpg
  public/assets/images/cover/attention.webp
Due: none

feat(cover): add new cover for essay
  public/assets/images/cover/news-wave.jpg
  public/assets/images/cover/news-wave.webp
Due: none

feat(cover): add new cover and decrease content image size
  public/assets/images/cover/design-koi.jpg
  public/assets/images/cover/design-koi.webp
  src/content/journal/2007/koi-design.mdx
Due: npx prettier --write

feat(cover): add new cover for essay
  public/assets/images/cover/gitbook.jpg
  public/assets/images/cover/gitbook.webp
Due: none

feat(cover): add a cover for essay
  public/assets/images/cover/gitweb-theme.jpg
  public/assets/images/cover/gitweb-theme.webp
  src/content/journal/2009/gitweb-theme.mdx
Due: npx prettier --write

feat(cover): add a cover for essay
  public/assets/images/cover/using-readwise-with-obsidian-for-note-talking.jpg
  public/assets/images/cover/using-readwise-with-obsidian-for-note-talking.webp
  src/content/journal/2021/using-readwise-with-obsidian-for-note-talking.mdx
Due: npx prettier --write

feat(tools): replace cover image
  public/assets/images/cover/home-office.jpg
  public/assets/images/cover/home-office.webp
  src/pages/tools.mdx
Due: npx prettier --write

fix: provide broken mindmap link as PDF download
  public/downloads/japanese-design-aesthetics.pdf
  src/content/journal/2020/new-website-2020-inspiration.mdx
Due: npx prettier --write

chore: update text to reflect current state
  src/content/journal/2020/new-website-2020-inspiration.mdx
Due: npx prettier --write

fix: update link
  src/content/journal/2021/new-website-2021.mdx
Due: npx prettier --write

docs: add AGENTS.md with build and style guidelines
  AGENTS.md
Due: npx prettier --write

feat(cover): add new covers
  public/assets/images/cover/devonthink-obsidian-for-note-taking.jpg
  public/assets/images/cover/devonthink-obsidian-for-note-taking.webp
  public/assets/images/cover/processing-information-into-notes.jpg
  public/assets/images/cover/processing-information-into-notes.webp
  public/assets/images/cover/storing-information.jpg
  public/assets/images/cover/storing-information.webp
  public/assets/images/cover/tools-i-use-for-note-taking.jpg
  public/assets/images/cover/tools-i-use-for-note-taking.webp
  public/assets/images/cover/zettelkasten-note-taking-devonthink.jpg
  public/assets/images/cover/zettelkasten-note-taking-devonthink.webp
  src/content/journal/2018/storing-information.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2020/zettelkasten-note-taking-devonthink.mdx
  src/content/journal/2021/devonthink-obsidian-for-note-taking.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
Due: npx prettier --write

fix: improve sentence
  src/content/journal/2025/from-typewriter-to-split-keyboard.mdx
Due: npx prettier --write

chore: update imprint
  src/pages/imprint.mdx
Due: npx prettier --write

fix: wrong name
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

feat(essay): Ok, Boomer
  public/assets/images/cover/ok-boomer.jpg
  public/assets/images/cover/ok-boomer.webp
  src/content/journal/2025/ok-boomer.mdx
Due: npx prettier --write

chore: update text
  pnpm-lock.yaml
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
Due: npx prettier --write

chore: update Affinity links
  public/humans.txt
  src/content/journal/2020/101-things-you-can-do.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/projects/ai-art.mdx
  src/content/projects/bamboo-illustration.mdx
  src/data/cv.json
  src/pages/about.mdx
  src/pages/tools.mdx
Due: npx prettier --write

chore: update work information
  src/data/cv.json
  src/layouts/AboutLayout.astro
  src/pages/now.mdx
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write, npx eslint --fix
