Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

fix(layout): update SimpleLayout to 2-col section label layout
  src/layouts/SimpleLayout.astro
Due: npx prettier --write, npx eslint --fix

fix(qa): update wrong grids manually
  src/pages/about.astro
  src/pages/haiku.astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix: more errors
  src/components/interactive/WritingList.tsx
  src/components/interactive/WritingPage.tsx
  src/components/ui/SectionLabel.tsx
  src/pages/about.astro
  src/pages/index.astro
  src/pages/projects.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): add tasks
  .beans/SI-0750--phase-5g-generic-page-template-simple-pages.md
  .beans/SI-1o06--phase-1-dependencies-configuration.md
  .beans/SI-2kad--tailwind-logical-properties.md
  .beans/SI-4xvy--phase-5e-about-page-redesign.md
  .beans/SI-51x3--phase-3-core-react-components.md
  .beans/SI-5mp9--analytics-strategy-with-umami.md
  .beans/SI-5ron--phase-10-documentation-launch-prep.md
  .beans/SI-8idd--cms.md
  .beans/SI-9cmg--phase-0-setup-documentation.md
  .beans/SI-9w94--fix-the-page-titles-on-all-pages.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-aqs1--copy-email-function.md
  .beans/SI-djwt--phase-2-design-system-tailwind-v4-css-tokens.md
  .beans/SI-e0cz--text-highlight-color.md
  .beans/SI-e0w1--phase-5a-base-layout-header-footer-page-structure.md
  .beans/SI-fpz7--fix-the-clear-filter-design-for-the-tag-list.md
  .beans/SI-gr3h--create-vitest-unit-tests-for-all-react-components.md
  .beans/SI-i3ne--phase-7-astro-image-optimization.md
  .beans/SI-kezu--libertarianism-page.md
  .beans/SI-knz7--cmdk-menu.md
  .beans/SI-l1kq--phase-8-routing-redirects.md
  .beans/SI-mebe--table-of-contents.md
  .beans/SI-mpgh--paralax-scrolling-on-work-page.md
  .beans/SI-n5p8--phase-5d-work-page-redesign.md
  .beans/SI-r2th--phase-4-cmdk-command-menu.md
  .beans/SI-rj73--nextprevious-links.md
  .beans/SI-s9mq--inpage-search-color.md
  .beans/SI-sje6--book-recommendation-section-or-page.md
  .beans/SI-tfhf--phase-5-layouts-pages.md
  .beans/SI-to2g--phase-5b-homepage-redesign.md
  .beans/SI-ui6j--hover-images.md
  .beans/SI-vl2o--phase-9-testing-quality.md
  .beans/SI-xivd--phase-5f-haiku-page-redesign.md
  .beans/SI-yj2e--phase-5c-writing-page-redesign.md
Due: npx prettier --write

chore: clean up unused components
  src/components/site/JournalList.astro
  src/components/site/JournalTitle.astro
  src/components/site/Legal.astro
  src/components/site/LegalDate.astro
  src/components/ui/PageHeading.tsx
Due: npx prettier --write, npx eslint --fix

fix: page titles on all pages
  .beans/SI-9w94--fix-the-page-titles-on-all-pages.md
  .beans/SI-rgi0--fix-page-layout.md
  AGENTS.md
  CLAUDE.md
  src/components/site/PageTitle.astro
  src/components/ui/HomepagePageSection.tsx
  src/components/ui/Title.tsx
  src/layouts/SimpleLayout.astro
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/design-system.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/traditional-colors-of-japan.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

refactor(layout): unify page grid, spacing, and container tokens
  specs/designs/Work - Grid.webp
  specs/designs/Writing - Grid.webp
  src/components/interactive/WritingPage.tsx
  src/components/ui/PageSection.tsx
  src/layouts/SimpleLayout.astro
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/design-system.astro
  src/pages/haiku.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

refactor(ui): extract JapanesePoem component and remove width constraints
  src/components/ui/JapanesePoem.tsx
  src/pages/[...slug].astro
  src/pages/colophon.astro
  src/pages/design-system.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/work.astro
Due: npx prettier --write, npx eslint --fix

refactor: normalize import paths and clean up MDX files
  src/layouts/SimpleLayout.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/design-system.astro
  src/pages/haiku.astro
  src/pages/libertarianism.mdx
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): update tasks
  .beans/SI-22b7--divider-on-haiku-page-is-too-wide.md
  .beans/SI-2a4l--use-wallace-css-code-quality.md
  .beans/SI-2kad--tailwind-logical-properties.md
  .beans/SI-4g7m--use-wallace-css-design-tokens.md
  .beans/SI-99ml--use-wallace-custom-properties.md
  .beans/SI-9q52--fix-haiku-marquee-scroll-driven-animation-timing.md
  .beans/SI-aqs1--copy-email-function.md
  .beans/SI-fpz7--fix-the-clear-filter-design-for-the-tag-list.md
  .beans/SI-k1it--use-wallace-css-analyzer.md
  .beans/SI-knz7--cmdk-menu.md
  .beans/SI-pu42--fix-haiku-page-layout-and-design-review.md
  .beans/SI-rgi0--fix-page-layout.md
  .beans/SI-s9mq--inpage-search-color.md
  .beans/SI-tfhf--phase-5-layouts-pages.md
  .beans/SI-ui6j--hover-images.md
  .beans/SI-vb9g--use-wallace-code-coverage.md
Due: npx prettier --write

fix: add missing separator
  src/components/ui/JapanesePoem.tsx
Due: npx prettier --write

chore(markdownlint): add configuration file
  .markdownlint.json
Due: none

refactor(layout): align SimpleLayout grid with responsive 3/6/12 column system
  src/layouts/SimpleLayout.astro
  src/pages/imprint.mdx
  src/pages/libertarianism.mdx
  src/pages/life-rules.mdx
  src/pages/now.mdx
Due: npx prettier --write, npx eslint --fix

fix(haiku): constrain Divider to content column width
  .beans/SI-22b7--divider-on-haiku-page-is-too-wide.md
  src/pages/haiku.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): update ticket status
  .beans/SI-pu42--fix-haiku-page-layout-and-design-review.md
  .beans/SI-rgi0--fix-page-layout.md
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat(content): add InlineCode component with light/dark mode support
  src/components/content/InlineCode.tsx
  src/mdx-components.ts
  src/pages/imprint.mdx
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

chore(beans): add more tickets
  .beans/SI-4xvy--phase-5e-about-page-redesign.md
  .beans/SI-7a25--about-page-photo-mobile-view.md
  .beans/SI-8idd--cms.md
  .beans/SI-9q52--fix-haiku-marquee-scroll-driven-animation-timing.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-aslg--check-which-styles-of-simplelayout-are-needed.md
  .beans/SI-e0cz--text-highlight-color.md
  .beans/SI-ec1h--phase-5i-additional-components-and-styling.md
  .beans/SI-ex39--phase-5j-404-page-redesign.md
  .beans/SI-fpz7--fix-the-clear-filter-design-for-the-tag-list.md
  .beans/SI-gr3h--create-vitest-unit-tests-for-all-react-components.md
  .beans/SI-mebe--table-of-contents.md
  .beans/SI-mpgh--paralax-scrolling-on-work-page.md
  .beans/SI-n5p8--phase-5d-work-page-redesign.md
  .beans/SI-o312--hyperlink-component.md
  .beans/SI-rj73--nextprevious-links.md
  .beans/SI-s9mq--inpage-search-color.md
  .beans/SI-to2g--phase-5b-homepage-redesign.md
  .beans/SI-vqr1--phase-5h-writing-detail-page-redesign.md
  .beans/SI-yj2e--phase-5c-writing-page-redesign.md
Due: npx prettier --write

chore(docker): ignore more files
  .dockerignore
Due: none

fix: the slight offset of list to the caption
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): add new ticket
  .beans/SI-9q52--fix-haiku-marquee-scroll-driven-animation-timing.md
Due: npx prettier --write

feat: extract reusable Marquee component with adaptive duration
  .beans/SI-3urj--extract-reusable-marquee-component.md
  .beans/SI-9q52--fix-haiku-marquee-scroll-driven-animation-timing.md
  src/components/interactive/Marquee.tsx
  src/components/ui/JapanesePoem.tsx
  src/pages/index.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat(ui): add EssayLink component for post lists
  src/components/interactive/WritingPage.tsx
  src/components/ui/EssayLink.tsx
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix(ui): align MoreLink with CTA spec
  src/components/ui/MoreLink.tsx
Due: npx prettier --write

feat: improve japanese kanji
  src/pages/about.astro
  src/pages/haiku.astro
  src/pages/life-rules.mdx
Due: npx prettier --write, npx eslint --fix

style(ui): use ease-enter utility in MoreLink
  src/components/ui/MoreLink.tsx
Due: npx prettier --write

fix(ui): align TextLink with Hyperlink spec
  src/components/ui/TextLink.tsx
Due: npx prettier --write

fix(ui): use neutral gray for Ruby annotations
  src/components/content/Ruby.tsx
Due: npx prettier --write

fix(ui): main navigation styling
  .beans/SI-jo37--fix-mainnavigation-hover-styling-to-use-underline.md
  src/components/site/MainNavigation.astro
Due: npx prettier --write, npx eslint --fix

fix(ui): remove redundant styling
  .beans/SI-aslg--check-which-styles-of-simplelayout-are-needed.md
  .beans/SI-o312--hyperlink-component.md
  src/layouts/SimpleLayout.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): create tickest for component mapping plan
  .beans/SI-0ph1--centralize-htmlcomponent-mapping-mdx-componentsts.md
  .beans/SI-2a60--replace-raw-phr-in-writingpagetsx-with-textdivider.md
  .beans/SI-3bqs--gfm-table-component-family.md
  .beans/SI-495k--create-linebreak-component-srccomponentsuilinebrea.md
  .beans/SI-81ng--enable-remark-gfm-in-astroconfigmjs.md
  .beans/SI-8vb9--create-codeblock-component-srccomponentsuicodebloc.md
  .beans/SI-a86a--create-footnotesection-component-srccomponentsuifo.md
  .beans/SI-a9qx--block-code-component-pre.md
  .beans/SI-bim9--gfm-task-list-footnote-components.md
  .beans/SI-cdpo--inline-text-element-components-strong-em-br-del-su.md
  .beans/SI-es9i--create-em-component-srccomponentsuiemtsx.md
  .beans/SI-fwaq--create-subscript-component-srccomponentsuisubscrip.md
  .beans/SI-hao2--create-strikethrough-component-srccomponentsuistri.md
  .beans/SI-lfci--create-taskcheckbox-component-srccomponentsuitaskc.md
  .beans/SI-on9g--remove-redundant-strongempre-global-styles-from-si.md
  .beans/SI-p137--create-superscript-component-srccomponentsuisupers.md
  .beans/SI-pq18--replace-raw-p-in-pullquotetsx-with-text.md
  .beans/SI-przn--wire-all-new-mappings-into-srcmdx-componentsts.md
  .beans/SI-slu2--create-strong-component-srccomponentsuistrongtsx.md
  .beans/SI-ssda--create-table-family-table-tablehead-tablebody-tabl.md
Due: npx prettier --write

fix(content): correct chart component import paths
  src/content/journal/2022/i-counted-everything-i-own.mdx
  src/content/journal/2024/beyond-the-bookshelf-2-books-2024.mdx
Due: npx prettier --write

fix(layout): drop dead grid props from PageTitle calls
  src/layouts/PageLayout.astro
  src/pages/404.astro
Due: npx prettier --write, npx eslint --fix

fix(about): scope link hover to text only
  src/pages/about.astro
Due: npx prettier --write, npx eslint --fix

refactor(tailwind): to use newer syntax
  src/components/ui/HomepagePageSection.tsx
  src/components/ui/PageSection.tsx
  src/pages/404.astro
  src/pages/cv.astro
  src/pages/design-system.astro
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

chore: remove comments
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): update tickets
  .beans/SI-2060--extend-colors-japanjson-with-kanji-hiragana-rgb-cm.md
  .beans/SI-sje6--book-recommendation-section-or-page.md
  .beans/SI-ui6j--hover-images.md
Due: npx prettier --write

refactor: move text into Markdown content files
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/work.astro
  src/pages/writing.astro
  src/text/about/intro.mdx
  src/text/colophon/design.mdx
  src/text/colophon/technology.mdx
  src/text/haiku/intro.mdx
  src/text/homepage/about-me.mdx
  src/text/homepage/about.mdx
  src/text/homepage/journal.mdx
  src/text/homepage/what-i-do.mdx
  src/text/homepage/work.mdx
  src/text/homepage/writing.mdx
  src/text/journal/intro.mdx
  src/text/projects/intro.mdx
  src/text/work/intro.mdx
  src/text/writing/intro.mdx
Due: npx prettier --write, npx eslint --fix

feat(colors): add kanji, hiragana, RGB, CMYK to Japanese colors
  src/data/colors-japan.json
  src/utils/pick-two-random-colors.ts
Due: npx prettier --write, npx eslint --fix
