Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

fix: add alt attribute for cover photo
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat: add cover photo option for Markdown pages and tools cover photo
  public/assets/images/cover/home-office.jpg
  src/layouts/PageLayout.astro
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

fix: decrease font sizes for essays
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix: missing margin on attribution
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

feat: add cover photo
  public/assets/images/cover/copybook-headings.jpg
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
Due: npx prettier --write

fix: add margin to toolbox
  src/components/Toolbox.astro
Due: npx prettier --write, npx eslint --fix

feat: add remark widont extension
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
  src/utils/remark-widont.ts
Due: npx eslint --fix

feat: add prefetch for pagination pages
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Pagination.astro
Due: npx prettier --write, npx eslint --fix

fix: add cut of text of essay
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
  src/pages/colophon.mdx
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write

chore: add more tags
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2009/gitweb-theme.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/website-typography.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2018/morning-routine.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
Due: npx prettier --write

feat: add Sal.js scroll animations
  package.json
  pnpm-lock.yaml
  src/components/GalleryDetail.astro
  src/components/JournalList.astro
  src/components/ProjectContainer.astro
  src/components/Sal.astro
  src/data/site.ts
  src/layouts/BaseLayout.astro
  src/pages/404.astro
  src/pages/about.mdx
  src/pages/ai-art.astro
  src/pages/colophon.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/sketchnotes.astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

refactor: replace YouTubeVideo with YouTube Lite
  package.json
  pnpm-lock.yaml
  src/components/YouTubeVideo.tsx
  src/components/index.ts
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
  src/content/journal/2021/learning-poems.mdx
  src/content/journal/2022/artificial-intelligence-3-text-to-image-generation.mdx
  src/content/journal/2023/shokunin.mdx
  src/mdx-components.ts
  src/styles/global.css
  types/astro-embed-youtube.d.ts
Due: npx prettier --write, npx eslint --fix

feat: add Eagle app to tools page
  public/assets/images/tools/eagle.png
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat: create cover image for Shokunin essay
  public/assets/images/cover/shinto-gate.jpg
  public/assets/images/cover/shokunin.jpg
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

feat: create cover for RSS News Feed essay
  public/assets/images/cover/news-wave.jpg
  src/content/journal/2022/rss-news-feed.mdx
Due: npx prettier --write

feat: add helper function for title case
  src/utils/index.ts
  src/utils/titlecase.ts
Due: npx eslint --fix

feat: add title and description to all pages
  src/pages/[...slug].astro
  src/pages/ai-art.astro
  src/pages/ai-art/[...slug].astro
  src/pages/colophon.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/imprint.mdx
  src/pages/index.astro
  src/pages/now.mdx
  src/pages/projects/[...slug].astro
  src/pages/sketchnotes/[...slug].astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat: add script to generate branded Open Graph images
  og-generate.cjs
  package.json
  pnpm-lock.yaml
  public/assets/images/branding/template/text.png
Due: none

chore: replace SVG cover image with PNG
  public/assets/images/cover/git.jpg
  public/assets/images/cover/gulp.jpg
  public/assets/images/cover/gulp.svg
  src/content/journal/2009/git.mdx
  src/content/journal/2014/gulp-tutorial-1-intro-setup.mdx
  src/content/journal/2014/gulp-tutorial-10-generating-sprites.mdx
  src/content/journal/2014/gulp-tutorial-11-production-build-server-and-jekyll.mdx
  src/content/journal/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html.mdx
  src/content/journal/2014/gulp-tutorial-13-revisioning.mdx
  src/content/journal/2014/gulp-tutorial-14-deploying-the-website.mdx
  src/content/journal/2014/gulp-tutorial-15-performance-improvements-webp-gzip.mdx
  src/content/journal/2014/gulp-tutorial-16-postcss.mdx
  src/content/journal/2014/gulp-tutorial-2-development-server-browsersync-configuration.mdx
  src/content/journal/2014/gulp-tutorial-3-build-clean-jekyll.mdx
  src/content/journal/2014/gulp-tutorial-4-css-generation-sass.mdx
  src/content/journal/2014/gulp-tutorial-5-javascripts-browserify.mdx
  src/content/journal/2014/gulp-tutorial-6-images-vector-fonts.mdx
  src/content/journal/2014/gulp-tutorial-7-base64.mdx
  src/content/journal/2014/gulp-tutorial-8-watch.mdx
  src/content/journal/2014/gulp-tutorial-9-linting-scss-and-javascript.mdx
Due: npx prettier --write

chore: scale and crop cover images to the same size
  public/assets/images/cover/ai-cover-1.jpg
  public/assets/images/cover/ai-cover-2.jpg
  public/assets/images/cover/ai-cover-3.jpg
  public/assets/images/cover/ai-cover-4.jpg
  public/assets/images/cover/attention.jpg
  public/assets/images/cover/bonsai.jpg
  public/assets/images/cover/book-decodeunicode.jpg
  public/assets/images/cover/bug-out-bag.jpg
  public/assets/images/cover/calisthenics.jpg
  public/assets/images/cover/copybook-headings.jpg
  public/assets/images/cover/design-koi.jpg
  public/assets/images/cover/everyday-carry.jpg
  public/assets/images/cover/git.png
  public/assets/images/cover/git.svg
  public/assets/images/cover/gitbook.jpg
  public/assets/images/cover/home-documentary.jpg
  public/assets/images/cover/home-office.jpg
  public/assets/images/cover/human-documentary.jpg
  public/assets/images/cover/ia-writer-template-nanzan.jpg
  public/assets/images/cover/ia-writer-template-shibui.jpg
  public/assets/images/cover/motivational-video.jpg
  public/assets/images/cover/netflix-underwear.jpg
  public/assets/images/cover/news-wave.jpg
  public/assets/images/cover/rakkan.jpg
  public/assets/images/cover/rework.jpg
  public/assets/images/cover/shinto-gate.jpg
  public/assets/images/cover/vim-polisher.jpg
  public/assets/images/cover/webstandards-magazine-django.jpg
Due: none

chore: generate OG images with branding
  public/assets/images/branding/og/ai-cover-1.jpg
  public/assets/images/branding/og/ai-cover-2.jpg
  public/assets/images/branding/og/ai-cover-3.jpg
  public/assets/images/branding/og/ai-cover-4.jpg
  public/assets/images/branding/og/attention.jpg
  public/assets/images/branding/og/banner.png
  public/assets/images/branding/og/bonsai.jpg
  public/assets/images/branding/og/book-decodeunicode.jpg
  public/assets/images/branding/og/bug-out-bag.jpg
  public/assets/images/branding/og/calisthenics.jpg
  public/assets/images/branding/og/copybook-headings.jpg
  public/assets/images/branding/og/design-koi.jpg
  public/assets/images/branding/og/everyday-carry.jpg
  public/assets/images/branding/og/git.jpg
  public/assets/images/branding/og/gitbook.jpg
  public/assets/images/branding/og/gulp.jpg
  public/assets/images/branding/og/home-documentary.jpg
  public/assets/images/branding/og/home-office.jpg
  public/assets/images/branding/og/human-documentary.jpg
  public/assets/images/branding/og/ia-writer-template-nanzan.jpg
  public/assets/images/branding/og/ia-writer-template-shibui.jpg
  public/assets/images/branding/og/motivational-video.jpg
  public/assets/images/branding/og/netflix-underwear.jpg
  public/assets/images/branding/og/news-wave.jpg
  public/assets/images/branding/og/rakkan.jpg
  public/assets/images/branding/og/rework.jpg
  public/assets/images/branding/og/shinto-gate.jpg
  public/assets/images/branding/og/vim-polisher.jpg
  public/assets/images/branding/og/webstandards-magazine-django.jpg
Due: none

chore: replace webfeeds cover
  public/assets/images/branding/webfeeds-cover.jpg
Due: none

chore: delete old profile image
  public/assets/images/portrait-stefan-imhoff.svg
Due: none

feat: add cover for John Seymour essay
  public/assets/images/branding/og/john-seymour.jpg
  public/assets/images/cover/john-seymour.jpg
  src/content/journal/2014/john-seymour-books.mdx
Due: npx prettier --write

fix: max-width of YouTube lite
  src/styles/global.css
Due: npx prettier --write

chore: add tags to essay
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

chore: add book recommendation
  src/content/journal/2021/learning-poems.mdx
Due: npx prettier --write

refactor(plop): use short date in template
  plopfile.cjs
Due: none

feat: add meta tags, and links, and other SEO optimization to the head
  package.json
  pnpm-lock.yaml
  src/content/journal/2023/shokunin.mdx
  src/layouts/BaseLayout.astro
  src/layouts/GridLayout.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/cv.astro
  src/pages/imprint.mdx
  src/schema/ai-art.ts
  src/schema/haiku.ts
  src/schema/journal.ts
  src/schema/projects.ts
  src/schema/sketchnotes.ts
Due: npx prettier --write, npx eslint --fix

feat: optimize pages for print layout
  public/assets/styles/print.css
  src/components/GalleryDetail.astro
  src/components/NetflixFlag.tsx
  src/components/Pagination.astro
  src/components/PrimeVideoFlag.tsx
  src/components/Sal.astro
  src/components/Tag.tsx
  src/components/Toolbox.astro
  src/layouts/BaseLayout.astro
  src/pages/[...slug].astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/sketchnotes.astro
Due: npx prettier --write, npx eslint --fix

feat: add schema.org data
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add sitemap
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

refactor: reduce the amount of image formats and sizes
  public/assets/images/ai-portrait-stefan-imhoff.png
  src/components/GalleryDetail.astro
  src/components/Image.astro
  src/components/JournalList.astro
  src/components/MarkdownImage.astro
  src/components/Picture.astro
  src/components/ProjectImage.astro
  src/components/Toolbox.astro
  src/layouts/AboutLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[...slug].astro
  src/pages/ai-art.astro
  src/pages/index.astro
  src/pages/sketchnotes.astro
Due: npx prettier --write, npx eslint --fix

feat: add manifest.webmanifest
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix: problem with Sal.js in production mode
  .eslintignore
  public/assets/scripts/sal.js
  public/assets/scripts/sal.js.map
  src/components/Sal.astro
  src/styles/sal.css
  src/styles/sal.css.map
Due: npx prettier --write, npx eslint --fix

feat: add service worker
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

feat: add isProduction function
  src/utils/index.ts
  src/utils/is-production.ts
Due: npx eslint --fix

refactor: hide link for manifest in development
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
