Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

feat: move essays of 2021
  public/assets/images/posts/bug-out-bag.jpg
  public/assets/images/posts/copybook-headings.jpg
  public/assets/images/posts/new-website-2021.jpg
  public/assets/images/posts/work-environment-bat.jpg
  public/assets/images/posts/work-environment-colorizer.jpg
  public/assets/images/posts/work-environment-completion.jpg
  public/assets/images/posts/work-environment-fzf.jpg
  public/assets/images/posts/work-environment-goyo.jpg
  public/assets/images/posts/work-environment-hammerspoon.jpg
  public/assets/images/posts/work-environment-lsp-installer.jpg
  public/assets/images/posts/work-environment-plug-install.jpg
  public/assets/images/posts/work-environment-telescope.jpg
  public/assets/images/posts/work-environment-terminal.jpg
  public/assets/images/posts/work-environment-tmux.jpg
  src/content/journal/2021/devonthink-obsidian-for-note-taking.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/interpretation-if.mdx
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
  src/content/journal/2021/learning-poems.mdx
  src/content/journal/2021/new-website-2021.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
  src/content/journal/2021/the-decentralized-web-1-why-do-we-need-it.mdx
  src/content/journal/2021/the-decentralized-web-2-the-wild-west-web.mdx
  src/content/journal/2021/the-decentralized-web-3-develop-and-publish-a-website.mdx
  src/content/journal/2021/the-old-man-on-the-bench.mdx
  src/content/journal/2021/using-readwise-with-obsidian-for-note-talking.mdx
  src/content/journal/2021/web-developer-work-environment-1.mdx
  src/content/journal/2021/web-developer-work-environment-2.mdx
  src/pages/[...slug].astro
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

chore: add preact-compat to use React components
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

feat: move essays of 2022
  public/assets/images/cover/ai-cover-1.jpg
  public/assets/images/cover/ai-cover-2.jpg
  public/assets/images/cover/ai-cover-3.jpg
  public/assets/images/cover/ai-cover-4.jpg
  public/assets/images/cover/ia-writer-template-nanzan.jpg
  public/assets/images/cover/ia-writer-template-shibui.jpg
  public/assets/images/posts/ai-cyberpunk-wizard.jpg
  public/assets/images/posts/ai-diffusion-models.jpg
  public/assets/images/posts/ai-draw-things.jpg
  public/assets/images/posts/ai-inpainting.jpg
  src/components/Banner.tsx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/artificial-intelligence-3-text-to-image-generation.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2022/civil-war-truth-1-introduction.mdx
  src/content/journal/2022/civil-war-truth-2-corporatism-technocracy.mdx
  src/content/journal/2022/civil-war-truth-3-political-division.mdx
  src/content/journal/2022/civil-war-truth-4-media-journalism.mdx
  src/content/journal/2022/civil-war-truth-5-academia.mdx
  src/content/journal/2022/civil-war-truth-6-science.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/content/journal/2022/dreaming-of-the-old-normal.mdx
  src/content/journal/2022/i-counted-everything-i-own.mdx
  src/content/journal/2022/manage-references-for-note-taking.mdx
  src/content/journal/2022/rss-news-feed.mdx
  src/content/journal/2022/template-ia-writer-nanzan.mdx
  src/content/journal/2022/template-ia-writer-shibui.mdx
  src/content/journal/2022/tools-for-better-writing.mdx
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat: move essay of 2023
  public/assets/images/cover/shokunin.jpg
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

feat: move essays of 2014
  src/content/journal/2014/gulp-tutorial-16-postcss.md
Due: npx prettier --write

fix: problems in essays
  .prettierrc.json
  astro.config.mjs
  public/assets/images/cover/rakkan.jpg
  public/assets/images/cover/vim-polisher.jpg
  src/components/Banner.tsx
  src/components/ColorStack.tsx
  src/components/Pullquote.tsx
  src/content/journal/2009/git.mdx
  src/content/journal/2009/home-documentary.mdx
  src/content/journal/2010/rework.mdx
  src/content/journal/2010/vim.mdx
  src/content/journal/2010/webstandards-magazine-django.mdx
  src/content/journal/2014/gulp-tutorial-16-postcss.md
  src/content/journal/2014/logo-design.mdx
  src/content/journal/2015/calisthenics.mdx
  src/content/journal/2017/attention.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2018/storing-information.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/learning-poems.mdx
  src/content/journal/2021/the-old-man-on-the-bench.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2022/civil-war-truth-1-introduction.mdx
  src/content/journal/2022/civil-war-truth-2-corporatism-technocracy.mdx
  src/content/journal/2022/civil-war-truth-6-science.mdx
  src/content/journal/2022/template-ia-writer-nanzan.mdx
  src/content/journal/2022/template-ia-writer-shibui.mdx
  src/content/journal/2023/shokunin.mdx
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat(tools): change terminal from Kitty to Wezterm
  public/assets/images/tools/wezterm.png
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

refactor: move featured tag into its own property
  src/content/journal/2017/attention.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2020/zettelkasten-note-taking-devonthink.mdx
  src/content/journal/2021/interpretation-if.mdx
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
  src/content/journal/2022/template-ia-writer-nanzan.mdx
  src/content/journal/2022/template-ia-writer-shibui.mdx
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat: add Journal index page
  src/components/JournalList.astro
  src/pages/journal.astro
  src/pages/tags/[tag].astro
  src/schema/journal.ts
  src/styles/global.css
  src/text/journal/intro.mdx
  src/utils/index.ts
  src/utils/pick-two-random-colors.ts
Due: npx prettier --write, npx eslint --fix

chore: reduce, unify and combine tags
  src/content/journal/2009/home-documentary.mdx
  src/content/journal/2010/rework.mdx
  src/content/journal/2010/webstandards-magazine-django.mdx
  src/content/journal/2011/decodeunicode.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/website-typography.mdx
  src/content/journal/2015/calisthenics.mdx
  src/content/journal/2015/human-documentary.mdx
  src/content/journal/2016/japanese-netflix-tv-show-underwear.mdx
  src/content/journal/2017/gitbook.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2020/101-things-you-can-do.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2020/zettelkasten-note-taking-devonthink.mdx
  src/content/journal/2021/devonthink-obsidian-for-note-taking.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
  src/content/journal/2021/the-decentralized-web-1-why-do-we-need-it.mdx
  src/content/journal/2021/the-decentralized-web-2-the-wild-west-web.mdx
  src/content/journal/2021/the-decentralized-web-3-develop-and-publish-a-website.mdx
  src/content/journal/2021/the-old-man-on-the-bench.mdx
  src/content/journal/2021/using-readwise-with-obsidian-for-note-talking.mdx
  src/content/journal/2021/web-developer-work-environment-1.mdx
  src/content/journal/2021/web-developer-work-environment-2.mdx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/artificial-intelligence-3-text-to-image-generation.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2022/dreaming-of-the-old-normal.mdx
  src/content/journal/2022/i-counted-everything-i-own.mdx
  src/content/journal/2022/manage-references-for-note-taking.mdx
  src/content/journal/2022/rss-news-feed.mdx
  src/content/journal/2022/tools-for-better-writing.mdx
Due: npx prettier --write

feat: add Tag pages and tags to journal pages
  src/components/Tag.tsx
  src/pages/[...slug].astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
Due: npx prettier --write, npx eslint --fix

fix: broken and missing links
  src/content/ai-art/south-park.mdx
  src/content/ai-art/this-is-john-galt-speaking.mdx
  src/pages/imprint.mdx
Due: npx prettier --write

fix: remove not working links
  src/content/journal/2021/the-decentralized-web-3-develop-and-publish-a-website.mdx
Due: npx prettier --write

chore: replace cover image
  public/assets/images/cover/human-documentary.jpg
Due: none

feat: add cover for essay
  public/assets/images/cover/design-koi.jpg
  src/content/journal/2007/koi-design.mdx
Due: npx prettier --write

feat: add second book
  src/content/journal/2007/japanese-colors.mdx
Due: npx prettier --write

feat: sort tags
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add missing download link
  src/text/traditional-colors-of-japan/intro.mdx
Due: npx prettier --write

feat: update essay and add cover photo
  public/assets/images/cover/everyday-carry.jpg
  public/assets/images/posts/everyday-carry.jpg
  src/content/journal/2020/everyday-carry.mdx
Due: npx prettier --write

feat: add cover photo
  public/assets/images/cover/bug-out-bag.jpg
  public/assets/images/posts/bug-out-bag.jpg
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
Due: npx prettier --write

feat: add more cover photos
  public/assets/images/cover/git.svg
  public/assets/images/cover/gitbook.jpg
  src/content/journal/2009/git.mdx
  src/content/journal/2017/gitbook.mdx
Due: npx prettier --write

chore: replace about page image
  public/assets/images/ai-portrait-stefan-imhoff.png
Due: none

feat: add helper to sort journal posts
  src/utils/format-posts.ts
  src/utils/index.ts
  src/utils/sort-by-alphabet.ts
Due: npx eslint --fix

refactor: replace custom implementations with helper
  src/pages/[...slug].astro
  src/pages/journal.astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

fix: reformat text examples
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
Due: npx prettier --write

chore: update cover photo
  public/assets/images/cover/gitbook.jpg
  src/content/journal/2017/gitbook.mdx
Due: npx prettier --write

chore: move humans.txt
  public/humans.txt
Due: none

chore: move robots.txt
  public/robots.txt
Due: none

chore: add description for Journal index page
  src/pages/journal.astro
Due: npx prettier --write, npx eslint --fix

chore: add Plop, Netlify CLI and npm-run-all
  package.json
  pnpm-lock.yaml
Due: none

chore: add Plop template and configuration
  plop/post/{{dashCase title}}.mdx.txt
  plopfile.cjs
Due: none

chore: add Netlify configuration
  netlify.toml
Due: none

feat: update colophon text
  src/pages/colophon.mdx
Due: npx prettier --write

feat: finish homepage design
  public/assets/images/cover/bonsai.jpg
  src/pages/index.astro
  src/text/homepage/about-me.mdx
  src/text/homepage/journal.mdx
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write, npx eslint --fix

chore: remove custom media query
  src/pages/haiku/[...slug].astro
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

refactor: remove outer container from JournalList
  src/components/JournalList.astro
  src/pages/journal.astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
Due: npx prettier --write, npx eslint --fix

feat: allow showing featured posts
  src/utils/format-posts.ts
Due: npx eslint --fix

refactor: remove top margin of headlines
  src/components/ColorSwatch.tsx
  src/components/Headline.tsx
  src/components/Picture.astro
  src/components/RSSLink.astro
  src/components/Subheadline.tsx
  src/components/Subsubheadline.tsx
  src/components/Title.tsx
  src/pages/[...slug].astro
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

feat: adjust brightness of images in light mode
  src/components/JournalList.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix: align pagination direction
  src/pages/ai-art/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/sketchnotes/[...slug].astro
Due: npx prettier --write, npx eslint --fix
