Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

chore(ai): restructure CLAUDE.md and AGENTS.md
  .claude/docs/build_features.md
  .claude/docs/content_collections.md
  .claude/docs/development_notes.md
  .claude/docs/directories.md
  .claude/docs/essential_commands.md
  .claude/docs/git_workflow.md
  .claude/docs/key_files.md
  .claude/docs/tech_stack.md
  AGENTS.md
  CLAUDE.md
Due: npx prettier --write

chore(beans): add beans configuration
  .beans.yml
Due: none

chore(relaunch): setup phase 0 — branch, docs, and beans
  .beans/stefanimhoff-de-1o06--phase-1-dependencies-configuration.md
  .beans/stefanimhoff-de-51x3--phase-3-core-react-components.md
  .beans/stefanimhoff-de-5ron--phase-10-documentation-launch-prep.md
  .beans/stefanimhoff-de-9cmg--phase-0-setup-documentation.md
  .beans/stefanimhoff-de-akaq--phase-6-motion-special-interactions.md
  .beans/stefanimhoff-de-djwt--phase-2-design-system-tailwind-v4-css-tokens.md
  .beans/stefanimhoff-de-i3ne--phase-7-astro-image-optimization.md
  .beans/stefanimhoff-de-l1kq--phase-8-routing-redirects.md
  .beans/stefanimhoff-de-r2th--phase-4-cmdk-command-menu.md
  .beans/stefanimhoff-de-tfhf--phase-5-layouts-pages.md
  .beans/stefanimhoff-de-vl2o--phase-9-testing-quality.md
  docs/README.md
  docs/checklist.md
  docs/decisions.md
  docs/work-log.md
Due: npx prettier --write

chore(beans): update prefix
  .beans.yml
  .beans/SI-1o06--phase-1-dependencies-configuration.md
  .beans/SI-51x3--phase-3-core-react-components.md
  .beans/SI-5ron--phase-10-documentation-launch-prep.md
  .beans/SI-9cmg--phase-0-setup-documentation.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-djwt--phase-2-design-system-tailwind-v4-css-tokens.md
  .beans/SI-i3ne--phase-7-astro-image-optimization.md
  .beans/SI-l1kq--phase-8-routing-redirects.md
  .beans/SI-r2th--phase-4-cmdk-command-menu.md
  .beans/SI-tfhf--phase-5-layouts-pages.md
  .beans/SI-vl2o--phase-9-testing-quality.md
Due: npx prettier --write

chore(claude): add playwright CLI skill
  .claude/skills/playwright-cli/SKILL.md
  .claude/skills/playwright-cli/references/request-mocking.md
  .claude/skills/playwright-cli/references/running-code.md
  .claude/skills/playwright-cli/references/session-management.md
  .claude/skills/playwright-cli/references/storage-state.md
  .claude/skills/playwright-cli/references/test-generation.md
  .claude/skills/playwright-cli/references/tracing.md
  .claude/skills/playwright-cli/references/video-recording.md
Due: npx prettier --write

feat(relaunch): phase 1+2 — dependency upgrades and Ma design system
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/assets/fonts/boska-variable-italic.woff2
  public/assets/fonts/boska-variable.woff2
  public/assets/fonts/switzer-variable-italic.woff2
  public/assets/fonts/switzer-variable.woff2
  src/components/BarChart.tsx
  src/components/DoughnutChart.tsx
  src/components/MenuModal.astro
  src/components/Pagination.astro
  src/components/ProjectContainer.astro
  src/components/SearchModal.astro
  src/layouts/BaseLayout.astro
  src/mdx-components.ts
  src/pages/[...slug].astro
  src/pages/index.astro
  src/styles/fonts.css
  src/styles/global.css
  tailwind.config.cjs
  tsconfig.json
Due: npx prettier --write, npx eslint --fix

chore(beans): mark phase 1 and phase 2 as completed
  .beans/SI-1o06--phase-1-dependencies-configuration.md
  .beans/SI-djwt--phase-2-design-system-tailwind-v4-css-tokens.md
Due: npx prettier --write

chore(beans): mark phase 3 as completed
  .beans/SI-51x3--phase-3-core-react-components.md
Due: npx prettier --write

feat(relaunch): phase 4 — CMDK command menu replaces search/menu modals
  astro.config.mjs
  src/components/CommandMenu.tsx
  src/components/Scripts.astro
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): mark phase 4 as completed
  .beans/SI-r2th--phase-4-cmdk-command-menu.md
Due: npx prettier --write

feat(relaunch): SI-xpz4 — scroll-driven haiku marquee animation
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat(relaunch): SI-yj2e — writing page redesign
  src/components/WritingPage.tsx
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

feat(relaunch): SI-n5p8 — work page redesign
  src/pages/work.astro
Due: npx prettier --write, npx eslint --fix

feat(relaunch): SI-4xvy — about page redesign
  public/assets/images/portrait-stefan-imhoff-2026.webp
  src/pages/about.astro
  src/pages/about.mdx
Due: npx prettier --write, npx eslint --fix

feat(relaunch): SI-xivd — haiku page redesign
  src/pages/haiku.astro
Due: npx prettier --write, npx eslint --fix

feat(relaunch): phase 5G — generic page template & simple pages [SI-0750]
  .beans/SI-0750--phase-5g-generic-page-template-simple-pages.md
  src/layouts/SimpleLayout.astro
  src/pages/[...slug].astro
  src/pages/colophon.astro
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

fix(relaunch): hero em-dash is beni-colored glyph, not a border line [SI-vh9x]
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix(relaunch): homepage hero & section polish
  .beans/SI-9q52--fix-haiku-marquee-scroll-driven-animation-timing.md
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat(about): reposition portrait into dedicated grid column
  src/pages/about.astro
Due: npx prettier --write, npx eslint --fix

fix(typography): replace fixed text-[0.65rem] with fluid text-2 token
  src/components/PageSection.astro
  src/components/WritingPage.tsx
  src/layouts/SimpleLayout.astro
  src/pages/[...slug].astro
  src/pages/about.astro
  src/pages/work.astro
Due: npx prettier --write, npx eslint --fix

chore(git): ignore playwright folders
  .gitignore
Due: none

fix(homepage): left-align hero title to match section grid
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix(homepage): hang list item dashes into the margin
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix(PageSection): optically align label with first content line
  src/components/PageSection.astro
Due: npx prettier --write, npx eslint --fix

fix(icons): make icon size tokens fluid with clamp
  src/styles/global.css
Due: npx prettier --write

fix(homepage): hero line breaks responsive — free-flow on mobile/tablet
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

fix(footer): reduce bottom padding to match spec
  src/components/PageFooter.astro
Due: npx prettier --write, npx eslint --fix

fix(homepage): prevent m-dash from breaking onto its own line
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat(relaunch): phase 5 polish — grid system, about layout, header micro-interactions
  src/components/Logo.astro
  src/components/MainNavigation.astro
  src/components/PageHeader.astro
  src/components/PageSection.astro
  src/components/ThemeToggle.astro
  src/pages/about.astro
Due: npx prettier --write, npx eslint --fix

refactor(pages): adopt shared components, fix imports, add subtitle support
  .beans/SI-4xvy--phase-5e-about-page-redesign.md
  .beans/SI-i2yu--refactor-pages-to-use-shared-components.md
  .beans/SI-n5p8--phase-5d-work-page-redesign.md
  .beans/SI-xivd--phase-5f-haiku-page-redesign.md
  .beans/SI-xpz4--task-haiku-marquee-scroll-linked-to-viewport-entry.md
  .beans/SI-yj2e--phase-5c-writing-page-redesign.md
  src/components/interactive/WritingPage.tsx
  src/layouts/BaseLayout.astro
  src/layouts/SimpleLayout.astro
  src/pages/[...slug].astro
  src/pages/colophon.astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/projects.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

build(skills): add baseline-ui skill from ibelick/ui-skills
  .agents/skills/baseline-ui/SKILL.md
  .claude/skills/baseline-ui
  skills-lock.json
Due: npx prettier --write

fix(types): resolve all astro check errors, warnings, and hints
  src/components/content/DownloadLink.tsx
  src/components/content/EmailLink.tsx
  src/components/content/Spotify.tsx
  src/components/content/YouTube.tsx
  src/components/interactive/BarChart.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/site/PageFooter.astro
  src/components/site/PageHeader.astro
  src/components/site/Pagination.astro
  src/components/site/ThemeToggle.astro
  src/content.config.ts
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/[...slug].astro
  src/pages/index.astro
  src/schema/ai-art.ts
  src/schema/haiku.ts
  src/schema/journal.ts
  src/schema/projects.ts
  src/test/fixtures/posts.ts
  src/test/setup.ts
  src/utils/remark-widont.ts
Due: npx prettier --write, npx eslint --fix

chore: move files in different folder
  .agents/docs/architectural_patterns.md
  .agents/docs/build_features.md
  .agents/docs/content_collections.md
  .agents/docs/development_notes.md
  .agents/docs/directories.md
  .agents/docs/essential_commands.md
  .agents/docs/git_workflow.md
  .agents/docs/key_files.md
  .agents/docs/tech_stack.md
  AGENTS.md
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat(design-system): add content collection and page at /design-system
  src/content.config.ts
  src/content/config.ts
  src/content/design-system/0-index.mdx
  src/content/design-system/1-brand-foundations.mdx
  src/content/design-system/2-naming-and-voice.mdx
  src/content/design-system/3-logo.mdx
  src/content/design-system/4-color.mdx
  src/content/design-system/5-typography.mdx
  src/content/design-system/6-layout-and-grids.mdx
  src/content/design-system/7-imagery.mdx
  src/content/design-system/8-motion.mdx
  src/content/design-system/9-accessibility.mdx
  src/pages/design-system.astro
  src/schema/design-system.ts
  src/schema/index.ts
Due: npx prettier --write, npx eslint --fix

refactor(pages): replace raw HTML elements with UI components
  .beans/SI-i2yu--refactor-pages-to-use-shared-components.md
  CLAUDE.md
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/design-system.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

feat(work): add multi-image support and update project images from spec assets
  public/assets/images/projects/thumbnails/bamboo-illustration-new.webp
  public/assets/images/projects/thumbnails/exploring-hamburg-1.webp
  public/assets/images/projects/thumbnails/exploring-hamburg-2.webp
  public/assets/images/projects/thumbnails/exploring-hamburg-3.webp
  public/assets/images/projects/thumbnails/ia-writer-nanzan.webp
  public/assets/images/projects/thumbnails/ia-writer-shibui.webp
  public/assets/images/projects/thumbnails/koi-illustration-new.webp
  public/assets/images/projects/thumbnails/ninjutsu-book-1.webp
  public/assets/images/projects/thumbnails/ninjutsu-book-2.webp
  public/assets/images/projects/thumbnails/osteopathie-hamburg-new.webp
  public/assets/images/projects/thumbnails/thai-restaurants-1.webp
  public/assets/images/projects/thumbnails/thai-restaurants-2.webp
  public/assets/images/projects/thumbnails/xing-chrome-extension-1.webp
  public/assets/images/projects/thumbnails/xing-chrome-extension-2.webp
  public/assets/images/projects/thumbnails/xing-design-system-1.webp
  public/assets/images/projects/thumbnails/xing-design-system-2.webp
  public/assets/images/projects/thumbnails/xing-design-system-3.webp
  public/assets/images/projects/thumbnails/xing-onboarding-1.webp
  public/assets/images/projects/thumbnails/xing-onboarding-2.webp
  public/assets/images/projects/thumbnails/xing-onboarding-3.webp
  src/content.config.ts
  src/content/projects/bamboo-illustration.mdx
  src/content/projects/exploring-hamburg-v2.mdx
  src/content/projects/ia-writer-template-nanzan.mdx
  src/content/projects/ia-writer-template-shibui.mdx
  src/content/projects/kogakure-v9.mdx
  src/content/projects/koi-illustration.mdx
  src/content/projects/osteopathie-hamburg.mdx
  src/content/projects/thai-restaurants-hamburg.mdx
  src/content/projects/xing-design-system-chrome-extension.mdx
  src/content/projects/xing-design-system.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
  src/pages/work.astro
  src/schema/projects.ts
Due: npx prettier --write, npx eslint --fix
