Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

fix: journal thumbnails
  src/styles/global.css
Due: npx prettier --write

refactor: improve project page
  src/components/PageTitle.astro
  src/components/ProjectContainer.astro
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add basic image component using the picture of Astro
  src/components/BasicImage.astro
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

refactor: allow linking the image
  src/components/BasicImage.astro
Due: npx prettier --write, npx eslint --fix

fix: remove jpeg and png and use webp as fallback
  netlify.toml
  src/components/BasicImage.astro
Due: npx prettier --write, npx eslint --fix

chore: update plop template
  plop/post/{{dashCase title}}.mdx.txt
Due: none

feat: replace RSS handling
  package.json
  pnpm-lock.yaml
  public/rss.xsl
  src/components/AppleTVFlag.astro
  src/components/MarkdownImage.astro
  src/components/OdyseeVideo.astro
  src/components/RssXml.astro
  src/components/WriteFile.astro
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2007/koi-design.mdx
  src/mdx-components.ts
  src/pages/index.astro
  src/pages/rss-haiku.xml.js
  src/pages/rss.xml.js
  src/utils/index.ts
  src/utils/rss-parser.ts
Due: npx prettier --write, npx eslint --fix

fix: paths for OG images
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add new XSL template for the RSS feed
  public/rss.xsl
  src/pages/rss.xml.js
Due: npx eslint --fix

refactor: the chaotic grid to use subgrid and be much simpler
  src/components/PageTitle.astro
  src/layouts/AboutLayout.astro
  src/layouts/GridLayout.astro
  src/layouts/PageLayout.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/projects.astro
Due: npx prettier --write, npx eslint --fix

fix: ugly outline style for search input
  src/styles/global.css
Due: npx prettier --write

feat: remove backlink
  src/components/Backlink.astro
  src/components/PageHeader.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/GridLayout.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/about.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/imprint.mdx
  src/pages/journal.astro
  src/pages/libertarianism.mdx
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

feat: add new Hanko logo
  src/components/icons/Logo.tsx
  src/components/icons/index.ts
  src/icons/logo.svg
Due: npx prettier --write, npx eslint --fix

fix: rounded corners of photos when touching edges
  src/layouts/AboutLayout.astro
  src/pages/[...slug].astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat: add new logo, new theme switcher and realign navigation items
  src/components/Logo.astro
  src/components/MainNavigation.astro
  src/components/PageHeader.astro
  src/components/SearchLink.astro
  src/components/ThemeProvider.astro
  src/components/ThemeToggle.astro
  src/components/icons/Circle.tsx
  src/components/icons/Copyright.tsx
  src/components/icons/Hanko.tsx
  src/components/icons/Logo.tsx
  src/components/icons/Menu.tsx
  src/components/icons/Moon.tsx
  src/components/icons/Sun.tsx
  src/components/icons/index.ts
  src/data/navigation.json
  src/icons/circle.svg
  src/icons/copyright.svg
  src/icons/hanko.svg
  src/icons/menu.svg
  src/icons/moon.svg
  src/icons/sun.svg
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix: reduce opacity for normal images in dark mode
  src/components/Image.astro
  src/components/MarkdownImage.astro
Due: npx prettier --write, npx eslint --fix

feat: align header items more harmonical and add new hover styles for navigation items
  src/components/MainNavigation.astro
  src/components/PageHeader.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: improve the search modal design
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

fix: broken image alignment
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

chore: remove emoji
  src/pages/imprint.mdx
Due: npx prettier --write

feat: add mobile menu and modal
  src/components/MainNavigation.astro
  src/components/MenuLink.astro
  src/components/MenuModal.astro
  src/components/MenuNavigation.astro
  src/components/PageHeader.astro
  src/components/Scripts.astro
  src/components/SearchModal.astro
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: change tag design
  src/components/Tag.astro
Due: npx prettier --write, npx eslint --fix

fix: decrease width of wide figures
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix: alignment of cover photo on pages
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: change width of charts
  src/content/journal/2022/i-counted-everything-i-own.mdx
Due: npx prettier --write

chore: change page width
  src/pages/libertarianism.mdx
Due: npx prettier --write

feat: render year additionally during site generation
  src/components/LegalDate.astro
Due: npx prettier --write, npx eslint --fix
