Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

feat: add page layout and grid layout
  src/layouts/BaseLayout.astro
  src/layouts/GridLayout.astro
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add text for static pages
  src/pages/about.mdx
  src/pages/colophon.mdx
  src/pages/imprint.mdx
  src/pages/now.mdx
  src/pages/tools.mdx
Due: npx prettier --write

fix(prettier): white space in mdx files
  .prettierrc.json
  src/pages/colophon.mdx
  src/pages/now.mdx
Due: npx prettier --write

chore(postcss): add PostCSS nesting plugin
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
Due: none

chore(tailwind): remove comments
  tailwind.config.cjs
Due: none

feat(tailwind): add new colors and list style types
  tailwind.config.cjs
Due: none

feat: add components for list item, unordered, and ordered lists
  src/components/ListItem.tsx
  src/components/OrderedList.tsx
  src/components/UnorderedList.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

chore: add some Emoji and improve texts
  src/pages/about.mdx
  src/pages/now.mdx
Due: npx prettier --write

feat: migrate some global styles
  src/styles/global.css
Due: npx prettier --write

fix: remove default headline margin
  src/components/RSSLink.astro
Due: npx prettier --write, npx eslint --fix

fix(tailwind): remove missing grid column end
  tailwind.config.cjs
Due: none

feat: add fullsize grid and align grid columns with title
  src/layouts/GridLayout.astro
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add Divider component
  src/components/Divider.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/pages/about.mdx
Due: npx prettier --write, npx eslint --fix

refactor: move page title into its own component
  src/components/PageTitle.astro
Due: npx prettier --write, npx eslint --fix

feat: add before and after content slots to layout
  src/layouts/GridLayout.astro
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add Image component
  src/components/Image.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: add About page layout
  public/assets/images/portrait-stefan-imhoff.svg
  src/layouts/AboutLayout.astro
  src/pages/about.mdx
Due: npx prettier --write, npx eslint --fix

fix: grids to work with both, Markdown and Astro pages
  src/layouts/AboutLayout.astro
  src/layouts/GridLayout.astro
Due: npx prettier --write, npx eslint --fix

fix: decouple page title component from Frontmatter
  src/components/PageTitle.astro
Due: npx prettier --write, npx eslint --fix

fix: add container around main so content doesn't stretch on small pages
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: add missing grid configuration for inner grids
  tailwind.config.cjs
Due: none

feat: add 404 error page
  src/content/404/haiku.mdx
  src/pages/404.astro
Due: npx prettier --write, npx eslint --fix

feat: create Verse component
  src/components/Verse.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

feat: add text-wrap balance to headlines
  pnpm-lock.yaml
  src/components/Headline.tsx
  src/components/Subheadline.tsx
  src/components/Subsubheadline.tsx
  src/components/Title.tsx
Due: none

chore: replace custom styling with Verse component
  src/pages/404.astro
Due: npx prettier --write, npx eslint --fix

chore(tailwind): add new grid template column settings
  src/env.d.ts
  tailwind.config.cjs
Due: npx eslint --fix

feat: add page for "Traditional Colors of Japan"
  src/content/traditional-colors-of-japan/intro.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

fix: allow innerGrid on the wrapper
  src/components/PageTitle.astro
  src/layouts/GridLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add Book and AmazonBook components
  src/components/AmazonBook.tsx
  src/components/Book.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/pages/traditional-colors-of-japan.astro
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

feat: add ColorSwatch component
  src/components/ColorSwatch.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

feat: add colors on page
  src/data/colors-japan.json
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

feat: add AffiliateLink component
  src/components/AffiliateLink.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

feat: add Banner component
  src/components/Banner.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

feat: add Flag components
  src/components/Flag.tsx
  src/components/NetflixFlag.tsx
  src/components/PrimeVideoFlag.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

feat: add Video components
  src/components/OdyseeVideo.tsx
  src/components/YouTubeVideo.tsx
  src/components/index.ts
  src/mdx-components.ts
Due: npx eslint --fix

chore: sort imports
  src/mdx-components.ts
Due: npx eslint --fix

feat: update text
  src/pages/tools.mdx
Due: npx prettier --write

feat: add More and Download links
  src/components/DownloadLink.astro
  src/components/MoreLink.astro
  src/components/index.ts
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

feat: add Email link component
  src/components/EmailLink.astro
  src/components/index.ts
  src/mdx-components.ts
  src/pages/imprint.mdx
Due: npx prettier --write, npx eslint --fix

chore: update link
  src/pages/now.mdx
Due: npx prettier --write

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,svelte,css}
  npx eslint --fix: any of: **/*.{js,ts,html,astro,svelte}
