Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

fix(ui): realign essay list dashes with first text line
  src/components/interactive/WritingPage.tsx
  src/components/site/LatestEssaysList.tsx
Due: npx prettier --write

feat(essay): add new essay
  public/assets/images/og/guide-to-agentic-coding.jpg
  public/assets/images/og/ma-design-system.jpg
  public/assets/images/preview/guide-to-agentic-coding.webp
  public/assets/images/preview/ma-design-system.webp
  src/assets/images/cover/guide-to-agentic-coding.webp
  src/content/writing/2026/guide-to-agentic-coding.mdx
Due: npx prettier --write

fix(seo): strip Astro hash from OG image URL in writing posts
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

fix(mobile): reduce font minimums and spacing on small screens
  src/components/site/HeroTitle.tsx
  src/pages/index.astro
  src/pages/writing.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

refactor(design-system): replace hardcoded clamps with named tokens
  src/components/ui/TextLink.tsx
  src/components/ui/Title.tsx
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

chore: rename articles collection to 'links'
  src/content.config.ts
  src/content/links/libertarianism/atlas-initiative.mdx
  src/content/links/libertarianism/der-sandwirt.mdx
  src/content/links/libertarianism/fee.mdx
  src/content/links/libertarianism/free-the-people.mdx
  src/content/links/libertarianism/freiheitsfunken.mdx
  src/content/links/libertarianism/libertarianism-org.mdx
  src/content/links/libertarianism/mises-institute.mdx
  src/content/links/libertarianism/mises-wire.mdx
  src/content/links/libertarianism/reason.mdx
  src/pages/libertarianism.astro
Due: npx prettier --write, npx eslint --fix

feat(libertarianism): add new links and videos
  src/content/links/libertarianism/anatomy-of-the-state.mdx
  src/content/links/libertarianism/hard-money-wtf-happened-in-1971.mdx
  src/content/links/libertarianism/petrodollars.mdx
  src/content/links/libertarianism/wtf-happened-in-1971.mdx
  src/content/videos/libertarianism/anatomy-of-the-state.mdx
  src/content/videos/libertarianism/hard-money-wft-happened-in-1971.mdx
  src/content/videos/libertarianism/petrodollars.mdx
Due: npx prettier --write

fix(design-system): stack hero meta above title on mobile to prevent overflow
  src/layouts/DesignSystemLayout.astro
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

docs(coolify): replace wrong Strategy 2 with accurate deployment notes
  docs/coolify-image-cache.md
Due: npx prettier --write

docs(ai): improve agent harness with a better documentation
  AGENTS.md
  CLAUDE.md
Due: npx prettier --write

docs(ai): list all components
  AGENTS.md
  CLAUDE.md
  src/components/COMPONENTS.md
Due: npx prettier --write

chore: remove unlighthouse
  .github/workflows/unlighthouse.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  tsconfig.json
  unlighthouse.config.ts
Due: npx prettier --write, npx eslint --fix

fix(scripts): update image generator input path after asset migration
  scripts/og-generate.cjs
  scripts/preview-generate.cjs
Due: none

build(docker): remove native build tools and skip Sharp compilation
  Dockerfile
Due: none

docs: remove stale image cache documentation
  AGENTS.md
  CLAUDE.md
  docs/build-features.md
  docs/coolify-image-cache.md
Due: npx prettier --write

fix(build): disable Astro default Sharp service to prevent load failure
  Dockerfile
  astro.config.mjs
Due: none

build(pnpm): migrate pnpm settings from package.json to pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(content): use absolute writing cover paths
  plop/writing/writing.mdx.txt
  src/content/writing/2025/from-typewriter-to-split-keyboard.mdx
Due: npx prettier --write

fix: video width and caption spacing
  src/components/content/YouTube.tsx
  src/styles/global.css
Due: npx prettier --write
