Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

feat: replace cover photo
  public/assets/images/cover/anarcho-capitalist-city.jpg
  public/assets/images/cover/anarcho-capitalist-city.webp
  public/assets/images/cover/libertarianism.jpg
  public/assets/images/cover/libertarianism.webp
  src/pages/libertarianism.mdx
Due: npx prettier --write

feat: improve introduction and update essay
  src/content/journal/2025/15-years-xing.mdx
  src/content/journal/2025/from-typewriter-to-split-keyboard.mdx
  src/content/journal/2025/ok-boomer.mdx
Due: npx prettier --write

feat: improve quality of cover images
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.jpg
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.webp
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.jpg
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.webp
  public/assets/images/cover/modern-atlas-shrugged-3-strike.jpg
  public/assets/images/cover/modern-atlas-shrugged-3-strike.webp
Due: none

fix: update image names
  public/assets/images/posts/modern-atlas-shrugged-snicklink-psyop.jpg
  public/assets/images/posts/modern-atlas-shrugged-snicklink-psyop.webp
  public/assets/images/posts/modern-atlas-shrugged-who-is-john-galt.jpg
  public/assets/images/posts/modern-atlas-shrugged-who-is-john-galt.webp
  public/assets/images/posts/modern-atlas-shrugged-who-radicalized-you.jpg
  public/assets/images/posts/modern-atlas-shrugged-who-radicalized-you.webp
  src/content/journal/2017/attention.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

feat: replace essay images
  public/assets/images/cover/beyond-the-bookshelf-1.jpg
  public/assets/images/cover/beyond-the-bookshelf-1.webp
  public/assets/images/cover/beyond-the-bookshelf-2.jpg
  public/assets/images/cover/beyond-the-bookshelf-2.webp
  public/assets/images/posts/modern-atlas-shrugged-bitcoin.webp
  public/assets/images/posts/modern-atlas-shrugged-bridge.webp
  public/assets/images/posts/modern-atlas-shrugged-dark-figure.webp
  public/assets/images/posts/modern-atlas-shrugged-decline.webp
  public/assets/images/posts/modern-atlas-shrugged-disobedience.webp
  public/assets/images/posts/modern-atlas-shrugged-division.webp
  public/assets/images/posts/modern-atlas-shrugged-education.webp
  public/assets/images/posts/modern-atlas-shrugged-emigration.webp
  public/assets/images/posts/modern-atlas-shrugged-energy.webp
  public/assets/images/posts/modern-atlas-shrugged-farm.webp
  public/assets/images/posts/modern-atlas-shrugged-farmers.webp
  public/assets/images/posts/modern-atlas-shrugged-grey-mass.webp
  public/assets/images/posts/modern-atlas-shrugged-health.webp
  public/assets/images/posts/modern-atlas-shrugged-inflation.webp
  public/assets/images/posts/modern-atlas-shrugged-john-galt.webp
  public/assets/images/posts/modern-atlas-shrugged-knife-crime.webp
  public/assets/images/posts/modern-atlas-shrugged-lawfare.webp
  public/assets/images/posts/modern-atlas-shrugged-mockery.webp
  public/assets/images/posts/modern-atlas-shrugged-politics.webp
  public/assets/images/posts/modern-atlas-shrugged-post.webp
  public/assets/images/posts/modern-atlas-shrugged-propaganda.webp
  public/assets/images/posts/modern-atlas-shrugged-regulations.webp
  public/assets/images/posts/modern-atlas-shrugged-resilience.webp
  public/assets/images/posts/modern-atlas-shrugged-rich-vs-poor.webp
  public/assets/images/posts/modern-atlas-shrugged-satoshi-nakamoto.webp
  public/assets/images/posts/modern-atlas-shrugged-surveillance.webp
  public/assets/images/posts/modern-atlas-shrugged-taxation.webp
  public/assets/images/posts/modern-atlas-shrugged-teaching.webp
  public/assets/images/posts/modern-atlas-shrugged-trains.webp
  public/assets/images/posts/modern-atlas-shrugged-wealth.webp
  public/assets/images/posts/modern-atlas-shrugged-welfare.webp
  public/assets/images/posts/modern-atlas-shrugged-who-is-john-galt.webp
Due: none

chore: update maintenance badge
  README.md
Due: npx prettier --write

feat: update Proton links and add affiliate
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/pages/tools.mdx
Due: npx prettier --write

feat: update CV and VCard
  public/downloads/business-card-stefan-imhoff.zip
  src/data/cv.json
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

fix: a few text parts
  src/content/journal/2025/15-years-xing.mdx
  src/content/journal/2025/ok-boomer.mdx
Due: npx prettier --write

feat: update CV and VCard
  public/downloads/business-card-stefan-imhoff.zip
  src/data/cv.json
  src/pages/cv.astro
  src/text/cv/interests-hobbies.mdx
Due: npx prettier --write, npx eslint --fix

feat: reorder projects
  src/content/projects/ai-art.mdx
  src/content/projects/journal.mdx
  src/content/projects/sketchnotes.mdx
  src/content/projects/traditional-colors-of-japan.mdx
  src/content/projects/xing-design-system.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
Due: npx prettier --write

feat: replace nearly all Wikipedia links with Grokipedia
  src/content/ai-art/clifton.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2014/john-seymour-books.mdx
  src/content/journal/2014/logo-design.mdx
  src/content/journal/2015/calisthenics.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/journal/2021/web-developer-work-environment-1.mdx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2022/civil-war-truth-3-political-division.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/content/journal/2022/rss-news-feed.mdx
  src/content/journal/2025/15-years-xing.mdx
  src/content/journal/2025/from-typewriter-to-split-keyboard.mdx
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
  src/content/journal/2025/note-taking-obsidian-readwise-ai.mdx
  src/content/projects/koi-illustration.mdx
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/text/projects/intro.mdx
Due: npx prettier --write

fix: issue with Docker build
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

feat: update resume
  public/downloads/Stefan Imhoff - Resume - 2026.pdf
  public/downloads/cv-stefan-imhoff.zip
  public/downloads/resume-stefan-imhoff.zip
  src/data/cv.json
  src/pages/cv.astro
  src/text/cv/intro.mdx
Due: npx prettier --write, npx eslint --fix

feat: update text
  src/pages/tools.mdx
  src/text/ai-art/intro.mdx
Due: npx prettier --write

chore: remove old file
  src/pages/rss-test.xml.js
Due: npx eslint --fix

feat: add scroll animations
  src/components/JournalList.astro
  src/content/projects/bamboo-illustration.mdx
  src/content/projects/book-cover.mdx
  src/content/projects/exploring-hamburg-v2.mdx
  src/content/projects/font-ingo.mdx
  src/content/projects/haiku.mdx
  src/content/projects/ia-writer-template-nanzan.mdx
  src/content/projects/ia-writer-template-shibui.mdx
  src/content/projects/journal.mdx
  src/content/projects/kogakure-v9.mdx
  src/content/projects/koi-illustration.mdx
  src/content/projects/osteopathie-hamburg.mdx
  src/content/projects/sketchnotes.mdx
  src/content/projects/stefanimhoff-v4.mdx
  src/content/projects/thai-restaurants-hamburg.mdx
  src/content/projects/traditional-colors-of-japan.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
  src/pages/ai-art.astro
  src/pages/index.astro
  src/pages/sketchnotes.astro
  src/pages/traditional-colors-of-japan.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: remove scroll animations
  src/components/JournalList.astro
  src/content/projects/bamboo-illustration.mdx
  src/content/projects/book-cover.mdx
  src/content/projects/exploring-hamburg-v2.mdx
  src/content/projects/font-ingo.mdx
  src/content/projects/haiku.mdx
  src/content/projects/ia-writer-template-nanzan.mdx
  src/content/projects/ia-writer-template-shibui.mdx
  src/content/projects/journal.mdx
  src/content/projects/kogakure-v9.mdx
  src/content/projects/koi-illustration.mdx
  src/content/projects/osteopathie-hamburg.mdx
  src/content/projects/sketchnotes.mdx
  src/content/projects/stefanimhoff-v4.mdx
  src/content/projects/thai-restaurants-hamburg.mdx
  src/content/projects/traditional-colors-of-japan.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
  src/pages/ai-art.astro
  src/pages/index.astro
  src/pages/sketchnotes.astro
  src/pages/traditional-colors-of-japan.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: add basic image component using the picture of Astro
  src/components/BasicImage.astro
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

refactor: allow linking the image
  src/components/BasicImage.astro
Due: npx prettier --write, npx eslint --fix

fix: remove jpeg and png and use webp as fallback
  netlify.toml
  src/components/BasicImage.astro
Due: npx prettier --write, npx eslint --fix

fix: journal thumbnails
  src/styles/global.css
Due: npx prettier --write

feat: remove sketchnotes
  src/components/GalleryDetail.astro
  src/content/config.ts
  src/content/journal/2017/attention.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/journal/2021/new-website-2021.mdx
  src/content/journal/2022/rss-news-feed.mdx
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
  src/content/journal/2025/15-years-xing.mdx
  src/content/projects/sketchnotes.mdx
  src/content/sketchnotes/being-a-good-listener.mdx
  src/content/sketchnotes/better-conversation.mdx
  src/content/sketchnotes/bikablo-practice.mdx
  src/content/sketchnotes/how-to-speak-so-that-people-want-to-listen.mdx
  src/content/sketchnotes/random-sketches.mdx
  src/content/sketchnotes/self-actualization-vs-self-image-actualization.mdx
  src/content/sketchnotes/the-art-of-enough.mdx
  src/content/sketchnotes/the-wim-hof-method.mdx
  src/content/sketchnotes/this-is-water.mdx
  src/content/sketchnotes/title-lettering.mdx
  src/content/sketchnotes/weight-idea.mdx
  src/data/subnavigation.json
  src/layouts/BaseLayout.astro
  src/pages/about.mdx
  src/pages/now.mdx
  src/pages/rss-sketchnotes.xml.js
  src/pages/sketchnotes.astro
  src/pages/sketchnotes/[...slug].astro
  src/schema/index.ts
  src/schema/sketchnotes.ts
  src/text/cv/interests-hobbies.mdx
  src/text/homepage/about-me.mdx
  src/text/sketchnotes/intro.mdx
Due: npx prettier --write, npx eslint --fix

chore: update plop template
  plop/post/{{dashCase title}}.mdx.txt
Due: none

refactor: improve project page
  src/components/PageTitle.astro
  src/components/ProjectContainer.astro
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
Due: npx prettier --write, npx eslint --fix
