Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

feat(colors): redesign ColorSwatch into three variants
  .beans/SI-2060--extend-colors-japanjson-with-kanji-hiragana-rgb-cm.md
  .beans/SI-aa24--redesign-colorswatch-component-system-3-variants.md
  src/components/content/ColorSwatchMini.tsx
  src/components/content/ColorSwatchPrimary.tsx
  src/lib/color-contrast.ts
  src/mdx-components.ts
  src/pages/design-system.astro
  src/pages/traditional-colors-of-japan.astro
  src/utils/rss-parser.test.ts
  src/utils/rss-parser.ts
Due: npx prettier --write, npx eslint --fix

chore(beans): add beans configuration
  .beans.yml
Due: none

feat: move subtitle into its own field
  src/content/journal/2026/agentic-note-taking-obsidian-claude-code.mdx
Due: npx prettier --write

feat(plop): add subtitle to template
  plop/post/{{dashCase title}}.mdx.txt
  plopfile.cjs
Due: none

feat(essay): a new article
  src/content/journal/2026/bookmark-to-brain.mdx
Due: npx prettier --write

fix(rss): handle missing cover images and correct enclosure URL
  eslint.config.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/rss.xml.js
Due: npx eslint --fix

chore(ai): restructure CLAUDE.md and AGENTS.md
  .claude/docs/build_features.md
  .claude/docs/content_collections.md
  .claude/docs/development_notes.md
  .claude/docs/directories.md
  .claude/docs/essential_commands.md
  .claude/docs/git_workflow.md
  .claude/docs/key_files.md
  .claude/docs/tech_stack.md
  AGENTS.md
  CLAUDE.md
Due: npx prettier --write

fix(colors-japan): migrate layout, fix DownloadLink underline, redesign Book
  .beans/SI-de9r--fix-grid-width-on-traditional-colors-page.md
  .beans/SI-dqg7--fix-traditional-colors-of-japan-page-layout-and-co.md
  .beans/SI-jj7k--redesign-bookamazonbook-components-for-design-syst.md
  .beans/SI-s6ii--fix-downloadlink-underline-stretching-full-width.md
  eslint.config.mjs
  src/components/content/Book.tsx
  src/components/content/ColorStack.tsx
  src/components/content/DownloadLink.tsx
  src/pages/traditional-colors-of-japan.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix(hover-preview): persist component across view transitions, restore morph
  src/components/interactive/HoverPreview.tsx
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

docs: update tech stack information
  .agents/docs/architectural_patterns.md
  .agents/docs/directories.md
  .agents/docs/tech_stack.md
  AGENTS.md
  CLAUDE.md
  README.md
  public/humans.txt
Due: npx prettier --write

feat(email): replace mailto links with clipboard-copy EmailLink
  .beans/SI-aqs1--copy-email-function.md
  CLAUDE.md
  components.json
  package.json
  pnpm-lock.yaml
  src/components/content/EmailLink.tsx
  src/components/site/Scripts.astro
  src/components/ui/tooltip.tsx
  src/pages/cv.astro
  src/pages/imprint.mdx
  src/pages/index.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix(about): remove left rounded corners on mobile portrait photo
  .beans/SI-7a25--about-page-photo-mobile-view.md
  src/pages/about.astro
Due: npx prettier --write, npx eslint --fix

chore: move texts into content folder
  src/content/text/404/haiku.mdx
  src/content/text/about/intro.mdx
  src/content/text/colophon/design.mdx
  src/content/text/colophon/technology.mdx
  src/content/text/cv/interests-hobbies.mdx
  src/content/text/cv/intro.mdx
  src/content/text/haiku/intro.mdx
  src/content/text/homepage/about.mdx
  src/content/text/homepage/work.mdx
  src/content/text/homepage/writing.mdx
  src/content/text/traditional-colors-of-japan/intro.mdx
  src/content/text/work/intro.mdx
  src/content/text/writing/intro.mdx
  src/pages/404.astro
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/traditional-colors-of-japan.astro
  src/pages/work.astro
  src/pages/writing.astro
Due: npx prettier --write, npx eslint --fix

chore(now): update page
  src/pages/now.mdx
Due: npx prettier --write

feat(styles): align text selection and inpage search colors to design system
  .beans/SI-e0cz--text-highlight-color.md
  .beans/SI-s9mq--inpage-search-color.md
  src/styles/global.css
Due: npx prettier --write

feat(writing): replace inline clear link with ClearFiltersButton pill
  src/components/interactive/WritingPage.tsx
  src/components/ui/ClearFiltersButton.tsx
Due: npx prettier --write

refactor(tailwind): convert to new syntax
  src/components/content/AppleTVFlag.tsx
  src/components/content/Book.tsx
  src/components/content/Bookshelf.tsx
  src/components/content/ColorSwatchPrimary.tsx
  src/components/content/DownloadLink.tsx
  src/components/content/EmailLink.tsx
  src/components/content/Figure.tsx
  src/components/content/Image.tsx
  src/components/content/NetflixFlag.tsx
  src/components/content/PrimeVideoFlag.tsx
  src/components/content/Pullquote.tsx
  src/components/content/ThemeBox.tsx
  src/components/content/YouTube.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/HoverPreview.tsx
  src/components/interactive/WritingList.tsx
  src/components/site/Logo.astro
  src/components/site/MenuModal.astro
  src/components/site/MenuNavigation.astro
  src/components/site/Pagination.astro
  src/components/site/ProjectContent.astro
  src/components/site/ProjectImage.astro
  src/components/site/SearchModal.astro
  src/components/ui/Divider.tsx
  src/components/ui/FootnoteSection.tsx
  src/components/ui/Headline.tsx
  src/components/ui/Subheadline.tsx
  src/components/ui/Subsubheadline.tsx
  src/components/ui/TableHead.tsx
  src/components/ui/TableRow.tsx
  src/components/ui/TextLink.tsx
  src/components/ui/tooltip.tsx
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

fix(layout): pin social icons to viewport bottom on short pages
  src/components/site/PageFooter.astro
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

fix(life-rules): texts and list alignment
  src/layouts/SimpleLayout.astro
  src/pages/life-rules.mdx
Due: npx prettier --write, npx eslint --fix

feat(DESIGN.md): add specifications for the design system
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat(agents): add useful subagents to enforce quality, design, and speed
  .claude/agents/component-architecture-auditor.md
  .claude/agents/design-system-enforcer.md
  .claude/agents/performance-bundle-analyst.md
  .claude/agents/qa-reviewer.md
  .opencode/agents/component-architecture-auditor.md
  .opencode/agents/design-system-enforcer.md
  .opencode/agents/performance-bundle-analyst.md
  .opencode/agents/qa-reviewer.md
Due: npx prettier --write

feat(writing): redesign detail page layout, typography, and meta
  .beans/SI-vqr1--phase-5h-writing-detail-page-redesign.md
  DESIGN.md
  src/components/content/Figure.tsx
  src/components/content/Image.tsx
  src/components/site/PageTitle.astro
  src/pages/[...slug].astro
  src/utils/remark-reading-time.ts
Due: npx prettier --write, npx eslint --fix

feat: improve writing detail pages
  .beans/SI-mebe--table-of-contents.md
  .beans/SI-rj73--nextprevious-links.md
  src/components/content/Image.tsx
  src/components/site/PostNavigation.astro
  src/components/ui/Headline.tsx
  src/components/ui/OrderedList.tsx
  src/components/ui/Subheadline.tsx
  src/components/ui/Subsubheadline.tsx
  src/components/ui/UnorderedList.tsx
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat(writing): add table of contents to journal posts
  .beans/SI-mebe--table-of-contents.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/interactive/TableOfContents.tsx
  src/pages/[...slug].astro
  src/utils/index.ts
  src/utils/remark-toc.ts
Due: npx prettier --write, npx eslint --fix

fix(writing): refine footnote rendering
  src/components/ui/FootnoteSection.tsx
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix(writing): reduce gap between article content and pagination
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix(code-blocks): restore rendering and apply Ma syntax theme
  .beans/SI-as18--fix-code-blocks-and-apply-ma-syntax-theme.md
  shiki-theme.json
  src/mdx-components.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix(toc): add explicit React import
  src/components/interactive/TableOfContents.tsx
Due: npx prettier --write
