Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

fix(cv): normalize contact link colors and constrain click area
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

feat: add Ruby elements to text
  mise.toml
  pnpm-lock.yaml
  src/content/writing/2014/logo-design.mdx
  src/content/writing/2016/japanese-netflix-tv-show-underwear.mdx
  src/content/writing/2017/gitbook.mdx
  src/content/writing/2020/best-of-2020.mdx
  src/content/writing/2020/new-website-2020-design.mdx
  src/content/writing/2020/new-website-2020-inspiration.mdx
  src/content/writing/2021/how-to-prepare-for-the-worst-case.mdx
  src/content/writing/2021/interpretation-if.mdx
  src/content/writing/2022/template-ia-writer-nanzan.mdx
  src/content/writing/2022/template-ia-writer-shibui.mdx
  src/content/writing/2023/shokunin.mdx
  src/content/writing/2024/beyond-the-bookshelf-2-books-2024.mdx
Due: npx prettier --write

feat(colophon): update texts
  src/content/text/colophon/design.mdx
  src/content/text/colophon/technology.mdx
Due: npx prettier --write

chore(mise): update node version
  mise.toml
  pnpm-lock.yaml
Due: none

feat(tools): update information
  src/pages/tools.mdx
Due: npx prettier --write

fix(design-system): darken the navigation text
  pnpm-lock.yaml
  src/components/site/DesignSystemNav.astro
Due: npx prettier --write, npx eslint --fix

feat(mdx): add RSSText component for RSS-only content
  src/components/content/RSSText.tsx
  src/mdx-components.ts
  src/utils/rss-parser.ts
Due: npx prettier --write, npx eslint --fix

feat(content): replace platform emoji with Phosphor icons in apps-tools-services
  src/components/content/Platform.tsx
  src/content/writing/2020/apps-tools-services.mdx
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

feat(charts): increase chart size and fix legend/tooltip readability
  src/components/interactive/BarChart.tsx
  src/components/interactive/DoughnutChart.tsx
Due: npx prettier --write

perf(youtube): replace iframe with lite-youtube-embed facade
  package.json
  pnpm-lock.yaml
  src/components/content/YouTube.tsx
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

feat(cmdk): redesign command menu with two-view architecture
  .beans/SI-ex39--phase-5j-404-page-redesign.md
  .beans/SI-knz7--cmdk-menu.md
  .beans/SI-vqr1--phase-5h-writing-detail-page-redesign.md
  specs/designs/Homepage (CMDK).webp
  src/components/interactive/CommandMenu.tsx
  src/components/site/Scripts.astro
Due: npx prettier --write, npx eslint --fix

fix: spacing of footer
  src/components/site/PageFooter.astro
Due: npx prettier --write, npx eslint --fix

fix: remove dead item from essay
  src/content/writing/2023/shokunin.mdx
Due: npx prettier --write

fix: wording for link
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(codex): migrate agents and skills
  .agents/skills/playwright-cli/SKILL.md
  .agents/skills/playwright-cli/references/request-mocking.md
  .agents/skills/playwright-cli/references/running-code.md
  .agents/skills/playwright-cli/references/session-management.md
  .agents/skills/playwright-cli/references/storage-state.md
  .agents/skills/playwright-cli/references/test-generation.md
  .agents/skills/playwright-cli/references/tracing.md
  .agents/skills/playwright-cli/references/video-recording.md
  .codex/agents/component-architecture-auditor.toml
  .codex/agents/design-system-enforcer.toml
  .codex/agents/performance-bundle-analyst.toml
  .codex/agents/qa-reviewer.toml
Due: npx prettier --write

chore(beans): update tickets with plan contents
  .beans/SI-1o06--phase-1-dependencies-configuration.md
  .beans/SI-51x3--phase-3-core-react-components.md
  .beans/SI-5ron--phase-10-documentation-launch-prep.md
  .beans/SI-9cmg--phase-0-setup-documentation.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-djwt--phase-2-design-system-tailwind-v4-css-tokens.md
  .beans/SI-i3ne--phase-7-astro-image-optimization.md
  .beans/SI-l1kq--phase-8-routing-redirects.md
  .beans/SI-r2th--phase-4-cmdk-command-menu.md
  .beans/SI-tfhf--phase-5-layouts-pages.md
  .beans/SI-vl2o--phase-9-testing-quality.md
Due: npx prettier --write

chore(beans): update requirements specs
  .beans/SI-kezu--libertarianism-page.md
Due: npx prettier --write

chore(ai): move documentation location
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/architectural_patterns.md
  docs/build_features.md
  docs/checklist.md
  docs/content_collections.md
  docs/decisions.md
  docs/development_notes.md
  docs/directories.md
  docs/essential_commands.md
  docs/git_workflow.md
  docs/key_files.md
  docs/tech_stack.md
  docs/work-log.md
Due: npx prettier --write

feat(libertarianism): add curated Roadmap section to guide newcomers
  src/components/interactive/Roadmap.tsx
  src/components/interactive/RoadmapMilestone.tsx
  src/data/roadmap-libertarianism.ts
  src/pages/libertarianism.astro
  src/utils/resolve-roadmap.ts
Due: npx prettier --write, npx eslint --fix

fix(dark-mode): replace Beni with Beni Light across all dark contexts
  .beans/SI-4h3e--fix-dark-mode-beni-contrast-allow-red-logo-on-dark.md
  DESIGN.md
  src/components/content/DownloadLink.tsx
  src/components/content/EmailLink.tsx
  src/components/design-system/AltTextTable.tsx
  src/components/design-system/BreakpointTable.tsx
  src/components/design-system/ComponentShowcase.tsx
  src/components/design-system/DurationBar.tsx
  src/components/design-system/EasingComparison.tsx
  src/components/design-system/EasingCurvePlot.tsx
  src/components/design-system/FocusRingDemo.tsx
  src/components/design-system/GridOverlay.tsx
  src/components/design-system/IconGrid.tsx
  src/components/design-system/ItalicComparison.tsx
  src/components/design-system/JapaneseSpecimen.tsx
  src/components/design-system/LogoSpecimen.tsx
  src/components/design-system/MotionDemo.tsx
  src/components/design-system/PhosphorNote.tsx
  src/components/design-system/ReducedMotionDemo.tsx
  src/components/design-system/SpacingPicker.tsx
  src/components/design-system/SpacingScale.tsx
  src/components/design-system/TouchTargetOverlay.tsx
  src/components/design-system/TypeScale.tsx
  src/components/design-system/TypeSpecimen.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/WritingPage.tsx
  src/components/site/Logo.astro
  src/components/site/MainNavigation.astro
  src/components/ui/Badge.tsx
  src/components/ui/ClearFiltersButton.tsx
  src/components/ui/EssayLink.tsx
  src/components/ui/JapanesePoem.tsx
  src/components/ui/MoreLink.tsx
  src/components/ui/OrderedList.tsx
  src/components/ui/TextLink.tsx
  src/components/ui/UnorderedList.tsx
  src/content/design-system/3-logo.mdx
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): update tickets
  .beans/SI-031b--ds-6-motion-page-easing-curves-duration-bar-motion.md
  .beans/SI-495k--create-linebreak-component-srccomponentsuilinebrea.md
  .beans/SI-js25--ds-4-typography-page-scale-specimens-italic-compar.md
  .beans/SI-kezu--libertarianism-page.md
  .beans/SI-n5p8--phase-5d-work-page-redesign.md
  .beans/SI-wri5--ds-5-layout-grid-spacing-pages.md
Due: npx prettier --write

feat(styles): add missing logical property utilities (inline-end, block-end, border-is/ie)
  src/styles/global.css
Due: npx prettier --write

refactor(pages): convert all block-axis physical classes to logical properties
  src/pages/404.astro
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/cv.astro
  src/pages/design-system/index.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/libertarianism.astro
  src/pages/traditional-colors-of-japan.astro
  src/pages/work.astro
  src/pages/writing.astro
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

chore(beans): mark SI-2kad as completed
  .beans/SI-2kad--tailwind-logical-properties.md
Due: npx prettier --write

fix(logical-props): replace fractional custom-utility tokens with arbitrary rem values
  src/components/design-system/AltTextTable.tsx
  src/components/design-system/ComponentShowcase.tsx
  src/components/design-system/ContrastBadge.tsx
  src/components/design-system/GridOverlay.tsx
  src/components/interactive/RoadmapMilestone.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/site/MenuModal.astro
  src/components/site/MenuNavigation.astro
  src/components/site/SearchModal.astro
  src/components/ui/Badge.tsx
  src/components/ui/ClearFiltersButton.tsx
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(now): fix missing front-matter separator
  src/pages/now.mdx
Due: npx prettier --write

chore(beans): update tickets
  .beans/SI-13js--ds-11-new-guideline-pages-quotes-and-italics-print.md
  .beans/SI-5wss--cleanup-unused-code.md
  .beans/SI-6edx--ds-10-brand-foundations-naming-pages.md
  .beans/SI-a70g--run-react-doctor.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-b9m3--ds-12-components-catalogue-componentshowcase-props.md
  .beans/SI-bzgh--ds-8-imagery-icons-page-icon-grid-phosphor-note.md
  .beans/SI-ec1h--phase-5i-additional-components-and-styling.md
  .beans/SI-ei8h--ds-7-logo-page-specimen-size-strip-donts.md
  .beans/SI-jrz3--ds-13-polish-toc-prevnext-breadcrumbs-dark-mode-qa.md
  .beans/SI-pgi6--ds-9-accessibility-page-focus-ring-touch-target-al.md
  .beans/SI-tfhf--phase-5-layouts-pages.md
  .beans/SI-ztwu--update-to-tailwind-css-43.md
Due: npx prettier --write

feat(design-system): expand components page with all missing components
  .beans/SI-7qd5--add-missing-components-to-design-system-components.md
  src/layouts/DesignSystemLayout.astro
  src/pages/design-system/components/index.astro
Due: npx prettier --write, npx eslint --fix

build(deps): upgrade tailwindcss and @tailwindcss/vite to 4.3.0
  .beans/SI-ztwu--update-to-tailwind-css-43.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

refactor: replace moment with date-fns and fix react-doctor issues
  .beans/SI-a70g--run-react-doctor.md
  .beans/SI-gr3h--create-vitest-unit-tests-for-all-react-components.md
  .beans/SI-kezu--libertarianism-page.md
  .beans/SI-sje6--book-recommendation-section-or-page.md
  package.json
  pnpm-lock.yaml
  src/components/content/EmailLink.tsx
  src/components/content/MediaLinkRow.tsx
  src/components/content/Spotify.tsx
  src/components/design-system/FocusRingDemo.tsx
  src/components/design-system/JapaneseSpecimen.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/interactive/LightboxRoot.tsx
  src/components/interactive/Roadmap.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/ui/ClearFiltersButton.tsx
  src/pages/rss.xml.js
  src/pages/writing/[slug].astro
  src/utils/date.test.ts
  src/utils/date.ts
Due: npx prettier --write, npx eslint --fix

test: add React component coverage
  .beans/SI-gr3h--create-vitest-unit-tests-for-all-react-components.md
  .beans/SI-ku53--improve-low-react-component-coverage.md
  DEPLOYMENT_CHECKLIST.md
  DOCKER_IMPROVEMENTS.md
  src/components/content/content-components.test.tsx
  src/components/design-system/design-system-components.test.tsx
  src/components/icons/icons.test.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/interactive/interactive-components.test.tsx
  src/components/ui/ui-components.test.tsx
  src/test/pagefind-mock.ts
  src/test/setup.ts
  tsconfig.json
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

chore(beans): update tickets
  .beans/SI-9bwi--task-update-header-and-footer-icons-to-new-design.md
  .beans/SI-mpgh--paralax-scrolling-on-work-page.md
  .beans/SI-stbm--task-replace-logo-with-new-version-from-specsasset.md
Due: npx prettier --write

chore: clean up spec folder
  specs/assets/Bamboo Illustration.webp
  specs/assets/Exploring Hamburg 1.webp
  specs/assets/Exploring Hamburg 2.webp
  specs/assets/Exploring Hamburg 3.webp
  specs/assets/Koi Illustration.webp
  specs/assets/Ninjutsu Book 1.webp
  specs/assets/Ninjutsu Book 2.webp
  specs/assets/Osteopathie-Institut Hamburg.webp
  specs/assets/Thai Restaurants Hamburg 1.webp
  specs/assets/Thai Restaurants Hamburg 2.webp
  specs/assets/XING Design System - Browser Extension 1.webp
  specs/assets/XING Design System - Browser Extension 2.webp
  specs/assets/XING Design System 1.webp
  specs/assets/XING Design System 2.webp
  specs/assets/XING Design System 3.webp
  specs/assets/XING Onboarding Illustrations 1.webp
  specs/assets/XING Onboarding Illustrations 2.webp
  specs/assets/XING Onboarding Illustrations 3.webp
  specs/assets/arrow.svg
  specs/assets/fonts/boska-variable-italic.woff2
  specs/assets/fonts/boska-variable.woff2
  specs/assets/fonts/switzer-variable-italic.woff2
  specs/assets/fonts/switzer-variable.woff2
  specs/assets/iA Writer Template Nanzan.webp
  specs/assets/iA Writer Template Shibui.webp
  specs/assets/logo.svg
  specs/assets/portrait.webp
  specs/designs/Homepage (Dark Mode) - Grid-Spacing.webp
  specs/designs/Homepage (Dark Mode).webp
Due: none
