Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css,tsx,ts}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

chore(life-rules): add cake proverb
  src/pages/life-rules.mdx
Due: npx prettier --write

chore(tools): update desk setup, remove Things app
  src/pages/tools.mdx
Due: npx prettier --write

fix(home): prevent writing links from stretching full width
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(now): remove stale website rebuild item
  src/pages/now.mdx
Due: npx prettier --write

chore(deps): upgrade to Astro 7, keep unified MDX pipeline
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix(flag): add dark:text-washi for dark mode text visibility
  src/components/ui/Flag.tsx
Due: npx prettier --write

fix(design-system): use dark mode text token for ColorSwatchMini labels
  src/pages/design-system/components/index.astro
Due: npx prettier --write, npx eslint --fix

feat(ui): replace paid Badge with 💰 emoji icon
  src/components/content/AudioCard.tsx
  src/components/content/BookCard.tsx
  src/components/ui/Badge.tsx
  src/pages/design-system/components/index.astro
Due: npx prettier --write, npx eslint --fix

chore: add symlink
  CLAUDE.md
  package.json
Due: npx prettier --write

chore: remove beans
  .beans.yml
  .dockerignore
  AGENTS.md
Due: npx prettier --write

chore: remove graphify
  .claude/settings.json
  .claude/skills/graphify/.graphify_version
  .claude/skills/graphify/SKILL.md
  .claude/skills/graphify/references/add-watch.md
  .claude/skills/graphify/references/exports.md
  .claude/skills/graphify/references/extraction-spec.md
  .claude/skills/graphify/references/github-and-merge.md
  .claude/skills/graphify/references/hooks.md
  .claude/skills/graphify/references/query.md
  .claude/skills/graphify/references/transcribe.md
  .claude/skills/graphify/references/update.md
  .codex/hooks.json
  .gitignore
  .graphifyignore
  .opencode/opencode.json
  .opencode/plugins/graphify.js
  AGENTS.md
  graphify-out/.graphify_labels.json
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: npx prettier --write, npx eslint --fix

feat(markdown): migrate custom remark plugins to Sätteri (SI-32)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/design-system/[slug].astro
  src/pages/writing/[slug].astro
  src/utils/remark-mark.ts
  src/utils/remark-reading-time.test.ts
  src/utils/remark-reading-time.ts
  src/utils/remark-toc.ts
  src/utils/remark-widont.test.ts
  src/utils/remark-widont.ts
Due: npx prettier --write, npx eslint --fix

feat(tools): update development tools and editors (SI-67)
  src/pages/tools.mdx
Due: npx prettier --write

feat(design-sync): sync Ma Design System to Claude Design (SI-28)
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/conventions.md
  .design-sync/extract-css.mjs
  .design-sync/fonts-face.css
  .design-sync/previews/AmazonBook.tsx
  .design-sync/previews/Badge.tsx
  .design-sync/previews/Banner.tsx
  .design-sync/previews/Book.tsx
  .design-sync/previews/Bookshelf.tsx
  .design-sync/previews/ClearFiltersButton.tsx
  .design-sync/previews/CodeBlock.tsx
  .design-sync/previews/ColorStack.tsx
  .design-sync/previews/DownloadLink.tsx
  .design-sync/previews/EssayLink.tsx
  .design-sync/previews/Flag.tsx
  .design-sync/previews/HomePageSection.tsx
  .design-sync/previews/InlineCode.tsx
  .design-sync/previews/LineBreak.tsx
  .design-sync/previews/ListItem.tsx
  .design-sync/previews/Marked.tsx
  .design-sync/previews/MoreLink.tsx
  .design-sync/previews/NetflixFlag.tsx
  .design-sync/previews/PageSection.tsx
  .design-sync/previews/PrimeVideoFlag.tsx
  .design-sync/previews/Spotify.tsx
  .design-sync/previews/TableCell.tsx
  .design-sync/previews/TableHeaderCell.tsx
  .design-sync/previews/Tag.tsx
  .design-sync/previews/TaskCheckbox.tsx
  .design-sync/previews/YouTube.tsx
  .gitignore
  src/components/content/Image.tsx
Due: npx prettier --write

feat(writing): add dolomitgrau post and economics tag
  public/assets/images/cover/dolomitgrau.webp
  public/assets/images/og/dolomitgrau.jpg
  public/assets/images/posts/dolomitgrau-audi-tt.webp
  public/assets/images/preview/dolomitgrau.webp
  src/content.config.ts
  src/content/writing/2026/dolomitgrau.mdx
Due: npx prettier --write, npx eslint --fix

chore(writing): tag related posts with economics
  src/content/writing/2023/thomas-sowell.mdx
  src/content/writing/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/content/writing/2025/modern-atlas-shrugged-2-looters-in-action.mdx
  src/content/writing/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

feat(libertarianism): add Mises.at, The Liberty Archive, and Conza organizations
  src/content/organizations/libertarianism/conza.mdx
  src/content/organizations/libertarianism/fee.mdx
  src/content/organizations/libertarianism/mises-at.mdx
  src/content/organizations/libertarianism/mises-institute.mdx
  src/content/organizations/libertarianism/the-liberty-archive.mdx
Due: npx prettier --write

fix(writing): refine dolomitgrau details and add fiat returns
  src/content/writing/2026/dolomitgrau.mdx
Due: npx prettier --write

chore(now): update page
  src/pages/now.mdx
Due: npx prettier --write

feat: change podcast name
  public/assets/images/podcasts/libertarianism/aethervox-ehrenfeld.webp
  public/assets/images/podcasts/libertarianism/aethervox-podcast.webp
  public/assets/images/videos/libertarianism/channel-aethervox-ehrenfeld.webp
  public/assets/images/videos/libertarianism/channel-aethervox-podcast.webp
  src/content/podcasts/libertarianism/aethervox-patreon.mdx
  src/content/podcasts/libertarianism/aethervox-podcast.mdx
  src/content/videos/libertarianism/channel-aethervox-ehrenfeld.mdx
  src/content/writing/2025/modern-atlas-shrugged-2-looters-in-action.mdx
  src/content/writing/2025/modern-atlas-shrugged-3-strike.mdx
  src/content/writing/2025/ok-boomer.mdx
Due: npx prettier --write

feat(writing): The Golden Cage
  public/assets/images/cover/golden-cage.webp
  public/assets/images/og/golden-cage.jpg
  public/assets/images/posts/omarchy.webp
  public/assets/images/preview/golden-cage.webp
  src/content/writing/2026/golden-cage.mdx
Due: npx prettier --write
