Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

feat: add page with resources for Libertarianism
  public/assets/images/cover/libertarianism.jpg
  public/assets/images/cover/libertarianism.webp
  src/layouts/GridLayout.astro
  src/layouts/PageLayout.astro
  src/pages/about.mdx
  src/pages/libertarianism.mdx
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat(now): update page
  src/pages/now.mdx
Due: npx prettier --write

chore(about): update information
  src/pages/about.mdx
Due: npx prettier --write

chore(life-rules): reword and reorder
  src/pages/life-rules.mdx
Due: npx prettier --write

chore: update browser link
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: update images and text on outdated parts
  public/assets/images/posts/raycast-ai.jpg
  public/assets/images/posts/raycast-ai.webp
  public/assets/images/posts/raycast-calendar.jpg
  public/assets/images/posts/raycast-calendar.webp
  public/assets/images/posts/raycast-extension-search-brave-tabs.jpg
  public/assets/images/posts/raycast-extension-search-brave-tabs.webp
  public/assets/images/posts/raycast-homebrew.jpg
  public/assets/images/posts/raycast-homebrew.webp
  public/assets/images/posts/raycast-notes.jpg
  public/assets/images/posts/raycast-notes.webp
  public/assets/images/posts/raycast-quicklinks.jpg
  public/assets/images/posts/raycast-quicklinks.webp
  public/assets/images/posts/raycast-snippets.jpg
  public/assets/images/posts/raycast-snippets.webp
  public/assets/images/posts/raycast-things.jpg
  public/assets/images/posts/raycast-things.webp
  public/assets/images/posts/raycast-tmdb.jpg
  public/assets/images/posts/raycast-tmdb.webp
  public/assets/images/posts/raycast-wrapped-2024.jpg
  public/assets/images/posts/raycast-wrapped-2024.webp
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

chore(about): update links
  src/pages/about.mdx
Due: npx prettier --write

chore: update texts
  src/pages/about.mdx
  src/pages/tools.mdx
Due: npx prettier --write

fix(ai-art): aspect ratio issue
  src/pages/ai-art.astro
Due: npx prettier --write, npx eslint --fix

feat(ai-art): add new FLUX LoRA page
  public/assets/images/ai-art/flux-dev-lora/1.jpg
  public/assets/images/ai-art/flux-dev-lora/1.webp
  public/assets/images/ai-art/flux-dev-lora/10.jpg
  public/assets/images/ai-art/flux-dev-lora/10.webp
  public/assets/images/ai-art/flux-dev-lora/11.jpg
  public/assets/images/ai-art/flux-dev-lora/11.webp
  public/assets/images/ai-art/flux-dev-lora/2.jpg
  public/assets/images/ai-art/flux-dev-lora/2.webp
  public/assets/images/ai-art/flux-dev-lora/3.jpg
  public/assets/images/ai-art/flux-dev-lora/3.webp
  public/assets/images/ai-art/flux-dev-lora/4.jpg
  public/assets/images/ai-art/flux-dev-lora/4.webp
  public/assets/images/ai-art/flux-dev-lora/5.jpg
  public/assets/images/ai-art/flux-dev-lora/5.webp
  public/assets/images/ai-art/flux-dev-lora/6.jpg
  public/assets/images/ai-art/flux-dev-lora/6.webp
  public/assets/images/ai-art/flux-dev-lora/7.jpg
  public/assets/images/ai-art/flux-dev-lora/7.webp
  public/assets/images/ai-art/flux-dev-lora/8.jpg
  public/assets/images/ai-art/flux-dev-lora/8.webp
  public/assets/images/ai-art/flux-dev-lora/9.jpg
  public/assets/images/ai-art/flux-dev-lora/9.webp
  src/content/ai-art/flux-dev-lora.mdx
Due: npx prettier --write

feat(a11y): improve accessibility
  src/components/JournalList.astro
  src/components/ProjectContent.astro
  src/components/ProjectImage.astro
  src/components/RSSLink.astro
  src/components/SocialLinks.astro
  src/layouts/AboutLayout.astro
  src/pages/index.astro
  src/pages/journal.astro
Due: npx prettier --write, npx eslint --fix

fix: sharp issue
  package.json
  pnpm-lock.yaml
Due: none

feat(a11y): add aria-current to navigation
  src/components/Scripts.astro
Due: npx prettier --write, npx eslint --fix

feat: add content to essay
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

feat: update essay
  src/content/journal/2018/morning-routine.mdx
Due: npx prettier --write

feat: add AI tag
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/artificial-intelligence-3-text-to-image-generation.mdx
  src/content/journal/2022/artificial-intelligence-4-getting-started.mdx
  src/content/journal/2024/raycast.mdx
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat: add new essay about Obsidian, Readwise and note-taking with AI
  public/assets/images/cover/note-taking-obsidian-readwise-ai.jpg
  public/assets/images/cover/note-taking-obsidian-readwise-ai.webp
  public/assets/images/posts/brave-leo-ai.webp
  public/assets/images/posts/obsidian-graph-view-2025.webp
  public/assets/images/posts/obsidian-layout.webp
  public/assets/images/posts/raycast-ai-summarize.webp
  public/assets/images/posts/raycast-ai-tldr.webp
  public/assets/images/posts/readwise-chat.webp
  src/content/journal/2025/note-taking-obsidian-readwise-ai.mdx
Due: npx prettier --write

chore: update information
  src/data/cv.json
  src/layouts/AboutLayout.astro
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write, npx eslint --fix

fix: broken link
  src/content/journal/2017/minimalism.mdx
Due: npx prettier --write

feat: update awards
  src/data/cv.json
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write

feat: add ruby annotation component
  src/components/Ruby.astro
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

feat: add more sources
  src/pages/libertarianism.mdx
Due: npx prettier --write

feat: new essay
  public/assets/images/cover/fuck-you-sonos.jpg
  public/assets/images/cover/fuck-you-sonos.webp
  src/content/journal/2025/fuck-you-sonos.mdx
Due: npx prettier --write

feat: deliver OG images as jpeg
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: update information about Raycast iOS and add referal link
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat(nostr): add nostr public key
  public/.well-known/nostr.json
Due: none

feat: new essay Modern Atlas Shrugged 1
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.jpg
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.webp
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.jpg
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.webp
  public/assets/images/cover/modern-atlas-shrugged-3-strike.jpg
  public/assets/images/cover/modern-atlas-shrugged-3-strike.webp
  public/assets/images/posts/modern-atlas-shrugged-bridge.jpg
  public/assets/images/posts/modern-atlas-shrugged-bridge.webp
  public/assets/images/posts/modern-atlas-shrugged-decline.jpg
  public/assets/images/posts/modern-atlas-shrugged-decline.webp
  public/assets/images/posts/modern-atlas-shrugged-division.jpg
  public/assets/images/posts/modern-atlas-shrugged-division.webp
  public/assets/images/posts/modern-atlas-shrugged-education.jpg
  public/assets/images/posts/modern-atlas-shrugged-education.webp
  public/assets/images/posts/modern-atlas-shrugged-energy.jpg
  public/assets/images/posts/modern-atlas-shrugged-energy.webp
  public/assets/images/posts/modern-atlas-shrugged-knife-crime.jpg
  public/assets/images/posts/modern-atlas-shrugged-knife-crime.webp
  public/assets/images/posts/sniklink-psyop.jpg
  public/assets/images/posts/sniklink-psyop.webp
  public/assets/images/posts/who-is-john-galt.jpg
  public/assets/images/posts/who-is-john-galt.webp
  public/assets/images/posts/who-radicalized-you.jpg
  public/assets/images/posts/who-radicalized-you.webp
  src/components/Blockquote.astro
  src/components/Figure.astro
  src/components/Pullquote.astro
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix: typo
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: replace hyper with ✦
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: new essay Modern Atlas Shrugged 1
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.jpg
  public/assets/images/cover/modern-atlas-shrugged-1-signs-of-collapse.webp
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.jpg
  public/assets/images/cover/modern-atlas-shrugged-2-looters-in-action.webp
  public/assets/images/cover/modern-atlas-shrugged-3-strike.jpg
  public/assets/images/cover/modern-atlas-shrugged-3-strike.webp
  public/assets/images/posts/modern-atlas-shrugged-bridge.jpg
  public/assets/images/posts/modern-atlas-shrugged-bridge.webp
  public/assets/images/posts/modern-atlas-shrugged-decline.jpg
  public/assets/images/posts/modern-atlas-shrugged-decline.webp
  public/assets/images/posts/modern-atlas-shrugged-division.jpg
  public/assets/images/posts/modern-atlas-shrugged-division.webp
  public/assets/images/posts/modern-atlas-shrugged-education.jpg
  public/assets/images/posts/modern-atlas-shrugged-education.webp
  public/assets/images/posts/modern-atlas-shrugged-energy.jpg
  public/assets/images/posts/modern-atlas-shrugged-energy.webp
  public/assets/images/posts/modern-atlas-shrugged-knife-crime.jpg
  public/assets/images/posts/modern-atlas-shrugged-knife-crime.webp
  public/assets/images/posts/sniklink-psyop.jpg
  public/assets/images/posts/sniklink-psyop.webp
  public/assets/images/posts/who-is-john-galt.jpg
  public/assets/images/posts/who-is-john-galt.webp
  public/assets/images/posts/who-radicalized-you.jpg
  public/assets/images/posts/who-radicalized-you.webp
  src/components/Blockquote.astro
  src/components/Figure.astro
  src/components/Pullquote.astro
  src/content/journal/2024/raycast.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-collapse.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: new essay Modern Atlas Shrugged 2
  public/assets/images/posts/modern-atlas-shrugged-dark-figure.jpg
  public/assets/images/posts/modern-atlas-shrugged-dark-figure.webp
  public/assets/images/posts/modern-atlas-shrugged-inflation.jpg
  public/assets/images/posts/modern-atlas-shrugged-inflation.webp
  public/assets/images/posts/modern-atlas-shrugged-lawfare.jpg
  public/assets/images/posts/modern-atlas-shrugged-lawfare.webp
  public/assets/images/posts/modern-atlas-shrugged-propaganda.jpg
  public/assets/images/posts/modern-atlas-shrugged-propaganda.webp
  public/assets/images/posts/modern-atlas-shrugged-regulations.jpg
  public/assets/images/posts/modern-atlas-shrugged-regulations.webp
  public/assets/images/posts/modern-atlas-shrugged-surveillance.jpg
  public/assets/images/posts/modern-atlas-shrugged-surveillance.webp
  public/assets/images/posts/modern-atlas-shrugged-taxation.jpg
  public/assets/images/posts/modern-atlas-shrugged-taxation.webp
  public/assets/images/posts/modern-atlas-shrugged-welfare.jpg
  public/assets/images/posts/modern-atlas-shrugged-welfare.webp
  src/content/journal/2024/raycast.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-collapse.mdx
  src/content/journal/2025/modern-atlas-shrugged-1-signs-of-decline.mdx
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
Due: npx prettier --write

feat: add section about using the MCP protocol with Readwise MCP in Raycast
  public/assets/images/posts/readwise-raycast-mcp.jpg
  public/assets/images/posts/readwise-raycast-mcp.webp
  src/content/journal/2025/note-taking-obsidian-readwise-ai.mdx
Due: npx prettier --write

feat: new essay Modern Atlas Shrugged 3
  public/assets/images/cover/modern-atlas-shrugged-3-strike.jpg
  public/assets/images/cover/modern-atlas-shrugged-3-strike.webp
  public/assets/images/posts/modern-atlas-shrugged-bitcoin.jpg
  public/assets/images/posts/modern-atlas-shrugged-bitcoin.webp
  public/assets/images/posts/modern-atlas-shrugged-disobedience.jpg
  public/assets/images/posts/modern-atlas-shrugged-disobedience.webp
  public/assets/images/posts/modern-atlas-shrugged-emigration.jpg
  public/assets/images/posts/modern-atlas-shrugged-emigration.webp
  public/assets/images/posts/modern-atlas-shrugged-farm.jpg
  public/assets/images/posts/modern-atlas-shrugged-farm.webp
  public/assets/images/posts/modern-atlas-shrugged-grey-mass.jpg
  public/assets/images/posts/modern-atlas-shrugged-grey-mass.webp
  public/assets/images/posts/modern-atlas-shrugged-mockery.jpg
  public/assets/images/posts/modern-atlas-shrugged-mockery.webp
  public/assets/images/posts/modern-atlas-shrugged-resilience.jpg
  public/assets/images/posts/modern-atlas-shrugged-resilience.webp
  public/assets/images/posts/modern-atlas-shrugged-teaching.jpg
  public/assets/images/posts/modern-atlas-shrugged-teaching.webp
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
  src/content/journal/2025/modern-atlas-shrugged-3-strike.mdx
Due: npx prettier --write

feat: add focus state for search input
  src/styles/global.css
Due: npx prettier --write

chore: update page
  src/pages/libertarianism.mdx
Due: npx prettier --write

Create .pages.yml
  .editorconfig
  .pages.yml
  .prettierrc.json
Due: none

fix: remove space before comma
  src/components/Pullquote.astro
Due: npx prettier --write, npx eslint --fix

chore: improve text
  src/content/journal/2025/modern-atlas-shrugged-2-looters-in-action.mdx
Due: npx prettier --write

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
