Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

feat: new home office photo
  public/assets/images/cover/home-office.webp
  src/data/writing/beyond-the-bookshelf-2.ts
  src/data/writing/i-counted-everything-i-own.ts
Due: npx prettier --write, npx eslint --fix

feat(routing): implement Phase 8 routing & redirects (SI-l1kq)
  .beans/SI-l1kq--phase-8-routing-redirects.md
  nginx.conf
  src/components/ui/HaikuItem.tsx
  src/content/writing/2020/new-website-2020-development.mdx
  src/content/writing/2020/new-website-2020-inspiration.mdx
  src/content/writing/2020/new-website-2020.mdx
  src/content/writing/2021/the-old-man-on-the-bench.mdx
  src/content/writing/2022/i-counted-everything-i-own.mdx
  src/content/writing/2023/website-relaunch-2023.mdx
  src/content/writing/2024/beyond-the-bookshelf-2-books-2024.mdx
  src/content/writing/2025/15-years-xing.mdx
  src/pages/haiku.astro
  src/pages/imprint.mdx
  src/pages/rss-haiku.xml.js
  src/pages/rss.xml.js
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

fix(lint): resolve all ESLint errors and modernize Tailwind utilities
  .lintstagedrc.json
  .zed/settings.json
  eslint.config.mjs
  src/components/content/Banner.tsx
  src/components/content/BookCard.tsx
  src/components/content/MediaLinkRow.tsx
  src/components/content/RSSText.tsx
  src/components/content/VideoCard.tsx
  src/components/design-system/FocusRingDemo.tsx
  src/components/design-system/ReducedMotionDemo.tsx
  src/components/icons/ArrowCta.tsx
  src/components/icons/Hanko.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/interactive/HoverPreview.tsx
  src/components/interactive/LightboxRoot.tsx
  src/components/interactive/RoadmapMilestone.tsx
  src/components/interactive/WritingPage.tsx
  src/components/interactive/interactive-components.test.tsx
  src/components/ui/Marked.tsx
  src/components/ui/OrderedList.tsx
  src/components/ui/Tag.tsx
  src/layouts/BaseLayout.astro
  src/pages/writing/[slug].astro
  src/styles/global.css
  src/utils/analytics.ts
  src/utils/remark-reading-time.test.ts
  src/utils/remark-widont.test.ts
  src/utils/sort-by-sortkey.test.ts
Due: npx prettier --write, npx eslint --fix

chore(pnpm): upgrade pnpm 9 → 11
  .github/workflows/tests.yml
  Dockerfile
  package.json
Due: none

fix(rss): fix component gaps and add YouTube/Platform handlers
  src/utils/rss-parser.test.ts
  src/utils/rss-parser.ts
Due: npx prettier --write, npx eslint --fix

fix(a11y+perf): Lighthouse accessibility 100, performance 90
  .lintstagedrc.json
  src/components/interactive/motion/SplitText.tsx
  src/components/ui/SectionLabel.tsx
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): mark SI-vl2o done with full summary of changes
  .beans/SI-vl2o--phase-9-testing-quality.md
Due: npx prettier --write

fix(docker): replace podman with docker in package.json scripts
  package.json
Due: none

feat(unlighthouse): add full-site Lighthouse audit with score budgets
  .github/workflows/unlighthouse.yml
  package.json
  pnpm-lock.yaml
  tsconfig.json
  unlighthouse.config.ts
Due: npx prettier --write, npx eslint --fix

chore(beans): mark SI-4gnh done
  .beans/SI-4gnh--lighthouse-ci-unlighthouse-integration.md
Due: npx prettier --write

fix(node): align .nvmrc to Node 22.13.1 LTS; fix pnpm-workspace.yaml allowBuilds
  .nvmrc
  pnpm-workspace.yaml
Due: none

chore(beans): mark SI-4gwl done, commit SI-uuk8 and SI-e1sq
  .beans/SI-4gwl--node-version-alignment-nvmrc-25-vs-dockerfileci-22.md
  .beans/SI-e1sq--playwright-e2e-framework.md
  .beans/SI-uuk8--interactive-component-tests-hoverpreview-lightboxr.md
Due: npx prettier --write

fix(node): pin mise.toml node to 22.13.1 LTS
  mise.toml
Due: none

chore(beans): update SI-4gwl to include mise.toml
  .beans/SI-4gwl--node-version-alignment-nvmrc-25-vs-dockerfileci-22.md
Due: npx prettier --write

fix(docker): copy pnpm-workspace.yaml so allowBuilds reaches Docker build
  Dockerfile
Due: none

feat(e2e): implement Playwright E2E test suite (SI-e1sq)
  .beans/SI-4gnh--lighthouse-ci-unlighthouse-integration.md
  .beans/SI-4gwl--node-version-alignment-nvmrc-25-vs-dockerfileci-22.md
  .beans/SI-e1sq--playwright-e2e-framework.md
  .beans/SI-uuk8--interactive-component-tests-hoverpreview-lightboxr.md
  .beans/SI-vl2o--phase-9-testing-quality.md
  .github/workflows/tests.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/command-menu.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/post.spec.ts
  tests/e2e/rss.spec.ts
  tests/e2e/theme.spec.ts
  tests/e2e/writing.spec.ts
  tsconfig.json
Due: npx prettier --write, npx eslint --fix

chore: ignore Playwright test-results and playwright-report dirs
  .gitignore
Due: none

docs(SI-5ron): sync agent docs with current implementation
  .beans/SI-5ron--phase-10-documentation-launch-prep.md
  .beans/SI-70hh--open-pr-featurerelaunch-redesign-master-relaunch.md
  .beans/SI-e1sq--playwright-e2e-framework.md
  .beans/SI-i3ne--phase-7-astro-image-optimization.md
  .beans/SI-qqdm--phase-7b-astro-image-optimization-for-mdx-in-body.md
  AGENTS.md
  CLAUDE.md
  DESIGN.md
  docs/architectural-patterns.md
  docs/build-features.md
  docs/content-collections.md
  docs/content_collections.md
  docs/development-notes.md
  docs/development_notes.md
  docs/directories.md
  docs/essential-commands.md
  docs/git-workflow.md
  docs/key-files.md
  docs/key_files.md
  docs/tech-stack.md
  docs/tech_stack.md
Due: npx prettier --write

fix(ui): treat own-domain absolute URLs as internal in Link component
  src/components/ui/Link.tsx
Due: npx prettier --write

content(books): add Tuttle Twins Miraculous Pencil and descriptions
  public/assets/images/books/libertarianism/tuttle-twins-miraculous-pencil.webp
  src/content/books/libertarianism/tuttle-twins-12-rules-boot-camp.mdx
  src/content/books/libertarianism/tuttle-twins-fate-of-the-future.mdx
  src/content/books/libertarianism/tuttle-twins-messed-up-market.mdx
  src/content/books/libertarianism/tuttle-twins-miraculous-pencil.mdx
  src/content/books/libertarianism/tuttle-twins-road-to-surfdom.mdx
  src/content/books/libertarianism/tuttle-twins-search-for-atlas.mdx
Due: npx prettier --write

fix(ci): remove duplicate pnpm version from tests workflow
  .github/workflows/tests.yml
Due: none

fix(hover-preview): strip Astro content-hash from cover basename
  src/pages/rss.xml.js
  src/utils/preview-url.ts
Due: npx prettier --write, npx eslint --fix

fix(ui): center bookshelf cards and fix code block dark bg
  src/components/content/Bookshelf.tsx
  src/pages/libertarianism.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix(ui): override Shiki inline bg on code blocks in dark mode
  src/styles/global.css
Due: npx prettier --write

fix(ui): target pre[data-language] for Shiki code block dark override
  src/styles/global.css
Due: npx prettier --write

fix(lightbox): survive Astro view transition body swap
  src/components/interactive/LightboxRoot.tsx
Due: npx prettier --write

fix(charts): remove background-matching colors from chart palette
  src/components/interactive/BarChart.tsx
  src/components/interactive/DoughnutChart.tsx
Due: npx prettier --write

fix(nginx): redirect haiku slugs to /haiku/ with trailing slash
  nginx.conf
Due: none

fix(nginx): resolve /haiku/ redirect loop caused by proxy slash handling
  nginx.conf
Due: none

chore: remove duplicate docs
  docs/build_features.md
  docs/content_collections.md
  docs/development_notes.md
  docs/essential_commands.md
  docs/git_workflow.md
  docs/key_files.md
  docs/tech_stack.md
Due: npx prettier --write

fix(plop): update template
  plop/writing/writing.mdx.txt
Due: none

fix: issue with missing src
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

feat(essay): add new essay
  public/assets/images/og/guide-to-agentic-coding.jpg
  public/assets/images/og/ma-design-system.jpg
  public/assets/images/preview/guide-to-agentic-coding.webp
  public/assets/images/preview/ma-design-system.webp
  src/assets/images/cover/guide-to-agentic-coding.webp
  src/content/writing/2026/guide-to-agentic-coding.mdx
Due: npx prettier --write

fix(ui): realign essay list dashes with first text line
  src/components/interactive/WritingPage.tsx
  src/components/site/LatestEssaysList.tsx
Due: npx prettier --write

fix(design-system): align pagination with article column width
  src/components/site/PrevNextNavigation.astro
  src/layouts/DesignSystemLayout.astro
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
