Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

chore: replace sprites in Pagination
  src/components/Pagination.astro
Due: npx prettier --write, npx eslint --fix

chore: replace EmailLink with preact component
  src/components/EmailLink.astro
  src/components/EmailLink.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

chore: replace sprite in SearchLink
  src/components/SearchLink.astro
Due: npx prettier --write, npx eslint --fix

chore: replace sprite in SearchModal
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

chore: replace SocialLinks with preact component
  src/components/PageFooter.astro
  src/components/SocialLinks.astro
  src/components/SocialLinks.tsx
  src/components/index.ts
  src/data/social-links.json
Due: npx prettier --write, npx eslint --fix

fix: type warnings in Picture component
  src/components/Picture.astro
Due: npx prettier --write, npx eslint --fix

chore: remove astro-icon dependency
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
  src/pages/colophon.mdx
Due: npx prettier --write, npx eslint --fix

feat: replace profile photo
  public/assets/images/ai-portrait-stefan-imhoff.jpg
  public/assets/images/ai-portrait-stefan-imhoff.png
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: update maintenance banner
  README.md
Due: npx prettier --write

chore: update now page
  src/pages/now.mdx
Due: npx prettier --write

chore: add award to the CV
  src/data/cv.json
Due: none

chore: update link to Twitter/X
  src/data/social-links.json
Due: none

fix: decrease keyboard shortcut spacings
  src/styles/global.css
Due: npx prettier --write

feat(essay): Raycast
  public/assets/images/branding/og/raycast.jpg
  public/assets/images/cover/raycast.jpg
  public/assets/images/posts/raycast-ai-commands.jpg
  public/assets/images/posts/raycast-ai.jpg
  public/assets/images/posts/raycast-calculator.jpg
  public/assets/images/posts/raycast-calendar.jpg
  public/assets/images/posts/raycast-change-case.jpg
  public/assets/images/posts/raycast-clipboard-history.jpg
  public/assets/images/posts/raycast-emoji-symbols-ai.jpg
  public/assets/images/posts/raycast-emoji-symbols.jpg
  public/assets/images/posts/raycast-extension-arc.jpg
  public/assets/images/posts/raycast-extension-brave-search.jpg
  public/assets/images/posts/raycast-extension-raindrop.jpg
  public/assets/images/posts/raycast-floating-notes.jpg
  public/assets/images/posts/raycast-giphy.jpg
  public/assets/images/posts/raycast-github.jpg
  public/assets/images/posts/raycast-glyph-search.jpg
  public/assets/images/posts/raycast-google-fonts.jpg
  public/assets/images/posts/raycast-homebrew.jpg
  public/assets/images/posts/raycast-launcher.jpg
  public/assets/images/posts/raycast-readwise.jpg
  public/assets/images/posts/raycast-screenshots.jpg
  public/assets/images/posts/raycast-search-files.jpg
  public/assets/images/posts/raycast-snippets.jpg
  public/assets/images/posts/raycast-spotify.jpg
  public/assets/images/posts/raycast-store.jpg
  public/assets/images/posts/raycast-tailwindcss.jpg
  public/assets/images/posts/raycast-things.jpg
  public/assets/images/posts/raycast-tmdb.jpg
  public/assets/images/posts/raycast-translator.jpg
  public/assets/images/posts/raycast-unsplash.jpg
  public/assets/images/posts/raycast-wrapped-2023.jpg
  public/assets/images/posts/raycast-youtube.jpg
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

chore(essay): update title
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

chore(tools): update tools
  public/assets/images/tools/protonpass.png
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat: add paragraph
  src/pages/about.mdx
Due: npx prettier --write

feat: add new documentary series
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

feat: add Raycast as a tool
  src/content/journal/2022/tools-for-better-writing.mdx
Due: npx prettier --write

feat: add new dynamic argument feature
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

fix: link highlighting whitespace
  src/components/RSSLink.astro
Due: npx prettier --write, npx eslint --fix

fix: remove broken link
  src/pages/tools.mdx
Due: npx prettier --write

chore: add affiliate links
  src/content/journal/2024/raycast.mdx
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

chore(pnpm): package update
  pnpm-lock.yaml
Due: none

chore: add prettier-plugin-astro-organize-imports and prettier-plugin-tailwindcss
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: none

chore(pnpm): package updates
  package.json
  pnpm-lock.yaml
Due: none

chore: add link
  src/pages/about.mdx
Due: npx prettier --write

fix: alignment and a11y issues for icons
  src/components/Backlink.tsx
  src/components/DownloadLink.tsx
  src/components/MoreLink.tsx
  src/components/SearchLink.astro
  src/components/UpLink.tsx
Due: npx prettier --write, npx eslint --fix

feat: change scale to use major third (5:6)
  tailwind.config.cjs
Due: none

fix: turn off swup on the search result modal
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

feat(swup): upgrade to swup 4 with Astro integration
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Scripts.astro
Due: npx prettier --write, npx eslint --fix

chore: remove duplicate class names
  src/components/Bookshelf.tsx
Due: npx prettier --write

fix: icon sizes
  src/components/DownloadLink.tsx
  src/components/MoreLink.tsx
  tailwind.config.cjs
Due: npx prettier --write

feat: add Dockerfile and custom nginx configuration
  Dockerfile
  nginx.conf
  package.json
  pnpm-lock.yaml
Due: none

fix: add missing package
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

fix: ngnix configuration
  nginx.conf
Due: none

chore: add redirect rules for ngnix
  nginx.conf
Due: none

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
