Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

chore: move scripts into dedicated folder
  docs/architectural_patterns.md
  package.json
  scripts/convert-images.cjs
  scripts/og-generate.cjs
  scripts/preview-generate.cjs
Due: npx prettier --write

chore: rename custom code syntax theme
  astro.config.mjs
  docs/development_notes.md
  ma-theme.json
Due: npx prettier --write

chore(docker): ignore more agentic folders
  .dockerignore
Due: none

chore(npm): upgrade node version
  .nvmrc
Due: none

chore(plop): update writing tag choices
  .beans/SI-ol71--update-plopfile-tags.md
  plopfile.cjs
Due: npx prettier --write

chore: replace screenshot
  public/assets/images/website-light.jpg
Due: none

chore: use a smaller banner for the design system
  public/assets/images/cover/ma-design-system.webp
  src/pages/design-system/index.astro
Due: npx prettier --write, npx eslint --fix

chore: update texts
  src/content/text/colophon/technology.mdx
  src/pages/cv.astro
  src/pages/now.mdx
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat(plop): add content generators
  .beans/SI-2q7n--add-and-update-plop-templates.md
  docs/essential_commands.md
  plop/articles/article.mdx.txt
  plop/audiobooks/audiobook.mdx.txt
  plop/books/book.mdx.txt
  plop/haiku/haiku.md.txt
  plop/organizations/organization.mdx.txt
  plop/podcasts/podcast.mdx.txt
  plop/post/{{dashCase title}}.mdx.txt
  plop/videos/video.mdx.txt
  plop/work/work.mdx.txt
  plop/writing/writing.mdx.txt
  plopfile.cjs
Due: npx prettier --write

docs(design): sync DESIGN.md with real Ma implementation
  DESIGN.md
  src/pages/writing/[slug].astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

refactor(tokens): replace arbitrary Tailwind values with Ma tokens
  .beans/SI-0sso--sync-designmd-with-real-ma-implementation.md
  .beans/SI-ar1x--replace-arbitrary-tailwind-with-ma-tokens.md
  src/components/content/ColorSwatch.tsx
  src/components/content/ColorSwatchMini.tsx
  src/components/content/ColorSwatchPrimary.tsx
  src/components/content/Image.tsx
  src/components/content/MarkdownImage.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/site/work/WorkImage.astro
  src/components/site/work/WorkItemFeatured.astro
  src/components/site/work/WorkItemFullBleed.astro
  src/components/site/work/WorkItemGallery3.astro
  src/components/site/work/WorkItemImageInset.astro
  src/components/ui/Flag.tsx
  src/components/ui/tooltip.tsx
  src/layouts/DesignSystemLayout.astro
  src/pages/404.astro
Due: npx prettier --write, npx eslint --fix

refactor(design): replace arbitrary Tailwind values with Ma tokens
  DESIGN.md
  src/components/content/Bookshelf.tsx
  src/components/content/ColorStack.tsx
  src/components/interactive/RoadmapMilestone.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/interactive/WritingPage.tsx
  src/components/ui/Badge.tsx
  src/components/ui/ClearFiltersButton.tsx
  src/components/ui/HomepagePageSection.tsx
  src/components/ui/PageSection.tsx
  src/components/ui/Title.tsx
  src/layouts/DesignSystemLayout.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/design-system/index.astro
  src/pages/index.astro
  src/pages/libertarianism.astro
  src/pages/traditional-colors-of-japan.astro
  src/pages/writing/[slug].astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

refactor(layouts): extract nav components, fix SEO and tokens
  src/components/site/Breadcrumb.astro
  src/components/site/PrevNextNavigation.astro
  src/layouts/BaseLayout.astro
  src/layouts/DesignSystemLayout.astro
  src/layouts/SimpleLayout.astro
  src/pages/writing/[slug].astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

test(a11y): add per-component axe accessibility test suites
  .beans/SI-fu24--a11y-unit-tests-per-component-axe-core.md
  .beans/SI-xskn--a11y-axe-coverage-for-astro-site-components.md
  package.json
  pnpm-lock.yaml
  src/components/content/content.a11y.test.tsx
  src/components/design-system/ReducedMotionDemo.tsx
  src/components/design-system/design-system.a11y.test.tsx
  src/components/icons/icons.a11y.test.tsx
  src/components/interactive/interactive.a11y.test.tsx
  src/components/ui/ui.a11y.test.tsx
  src/test/a11y.ts
  src/test/setup.ts
Due: npx prettier --write, npx eslint --fix

test(a11y): add axe coverage for site/ Astro components
  package.json
  src/components/site/site.a11y.test.ts
  src/test/a11y.ts
  src/test/astro-react-opts-mock.ts
  src/test/astro-react-renderer.ts
  tsconfig.json
  vitest.astro.config.ts
Due: npx prettier --write, npx eslint --fix

test(vitest): unify configs via projects, fix DOMException noise and motion warning
  .beans/SI-w49p--fix-pnpm-test-testui-vitest-projects-config.md
  package.json
  src/components/interactive/SeriesStepper.tsx
  src/components/site/site.a11y.test.ts
  src/test/setup.ts
  vitest.astro.config.ts
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

chore(agents): add a11y-auditor subagent and Pi agent definitions
  .claude/agents/a11y-auditor.md
  .codex/agents/a11y-auditor.toml
  .opencode/agents/a11y-auditor.md
  .pi/agents/a11y-auditor.md
  .pi/agents/component-architecture-auditor.md
  .pi/agents/design-system-enforcer.md
  .pi/agents/performance-bundle-analyst.md
  .pi/agents/qa-reviewer.md
Due: npx prettier --write

fix(a11y): resolve audit findings and add global beni focus rings
  src/components/content/AudioCard.tsx
  src/components/content/BookCard.tsx
  src/components/content/ColorSwatch.tsx
  src/components/content/ColorSwatchPrimary.tsx
  src/components/content/Image.tsx
  src/components/content/MarkdownImage.tsx
  src/components/content/VideoCard.tsx
  src/components/content/content-components.test.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/LightboxRoot.tsx
  src/components/interactive/WritingPage.tsx
  src/components/site/Breadcrumb.astro
  src/components/site/MainNavigation.astro
  src/components/site/PageFooter.astro
  src/components/site/PageHeader.astro
  src/components/site/work/WorkImage.astro
  src/components/site/work/WorkItemFeatured.astro
  src/components/ui/Badge.tsx
  src/components/ui/HaikuItem.tsx
  src/components/ui/JapanesePoem.tsx
  src/components/ui/SectionLabel.tsx
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

chore(beans): add multi-subagent src/ audit reports
  .beans/SI-90ta--design-system-audit-ma-token-components-first-comp.md
  .beans/SI-asme--performance-audit-bundle-hydration-findings.md
  .beans/SI-e24e--a11y-audit-src-review-findings.md
  .beans/SI-nwez--qa-review-src-code-quality-findings.md
  .beans/SI-s2ga--src-multi-agent-audit.md
  .beans/SI-zvy7--architecture-audit-astro-islands-react-boundaries.md
Due: npx prettier --write

fix(qa): address all SI-nwez QA findings
  .beans/SI-nwez--qa-review-src-code-quality-findings.md
  src/components/content/Pullquote.tsx
  src/components/content/content-components.test.tsx
  src/components/ui/Link.tsx
  src/pages/rss-haiku.xml.js
  src/pages/rss.xml.js
  src/utils/format-posts.ts
  src/utils/rss-parser.ts
  src/utils/sort-by-date.test.ts
  src/utils/sort-by-date.ts
  src/utils/word-count.test.ts
  src/utils/word-count.ts
Due: npx prettier --write, npx eslint --fix

refactor(design-system): enforce Ma token compliance across components
  .beans/SI-90ta--design-system-audit-ma-token-components-first-comp.md
  DESIGN.md
  src/components/content/AudioCard.tsx
  src/components/content/Banner.tsx
  src/components/content/Book.tsx
  src/components/content/BookCard.tsx
  src/components/content/DownloadLink.tsx
  src/components/content/InlineCode.tsx
  src/components/content/Pullquote.tsx
  src/components/content/VideoCard.tsx
  src/components/interactive/BarChart.tsx
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/DoughnutChart.tsx
  src/components/interactive/LightboxRoot.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/interactive/WritingPage.tsx
  src/components/interactive/interactive-components.test.tsx
  src/components/site/PageFooter.astro
  src/components/site/PageHeader.astro
  src/components/site/ThemeToggle.astro
  src/components/ui/ClearFiltersButton.tsx
  src/components/ui/DisplayEm.tsx
  src/components/ui/Tag.tsx
  src/pages/design-system/index.astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

perf(hydration): defer islands to client:idle and memoize WritingPage
  .beans/SI-asme--performance-audit-bundle-hydration-findings.md
  .beans/SI-xskn--a11y-axe-coverage-for-astro-site-components.md
  .beans/SI-zvy7--architecture-audit-astro-islands-react-boundaries.md
  src/components/interactive/WritingPage.tsx
  src/layouts/BaseLayout.astro
  src/layouts/DesignSystemLayout.astro
  src/lib/utils.ts
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/libertarianism.astro
  src/pages/work.astro
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

fix(typescript): resolve 161 type errors across test infrastructure
  src/env.d.ts
  src/lib/utils.ts
  src/test/a11y.ts
  src/test/vitest-axe.d.ts
  tsconfig.json
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

fix(ux): expand EssayLink hit area and prevent hover preview flicker
  src/components/interactive/HoverPreview.tsx
  src/components/interactive/WritingPage.tsx
  src/components/ui/EssayLink.tsx
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore(ai): add motion skill
  .agents/skills/framer-motion-animator/SKILL.md
  .claude/skills/framer-motion-animator
  skills-lock.json
Due: npx prettier --write

chore(beans): update tickets
  .beans/SI-2a4l--use-wallace-css-code-quality.md
  .beans/SI-4g7m--use-wallace-css-design-tokens.md
  .beans/SI-5mp9--analytics-strategy-with-umami.md
  .beans/SI-8idd--cms.md
  .beans/SI-99ml--use-wallace-custom-properties.md
  .beans/SI-a70g--run-react-doctor.md
  .beans/SI-akaq--phase-6-motion-special-interactions.md
  .beans/SI-ar1x--replace-arbitrary-tailwind-with-ma-tokens.md
  .beans/SI-k1it--use-wallace-css-analyzer.md
  .beans/SI-vb9g--use-wallace-code-coverage.md
Due: npx prettier --write

feat(motion): add shared motion module + primitives
  .beans/SI-5ron--phase-10-documentation-launch-prep.md
  .beans/SI-7q5r--reveal-on-scroll-for-content-pages.md
  .beans/SI-atbi--hero-split-text-stagger-on-homepage.md
  .beans/SI-i3ne--phase-7-astro-image-optimization.md
  .beans/SI-mpgh--paralax-scrolling-on-work-page.md
  .beans/SI-ukv5--reduced-motion-fix-in-commandmenu-toc.md
  .beans/SI-vl2o--phase-9-testing-quality.md
  .beans/SI-yek0--motion-foundation-shared-lib-primitives.md
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/LightboxRoot.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/interactive/motion/Parallax.tsx
  src/components/interactive/motion/Reveal.tsx
  src/components/interactive/motion/SplitText.tsx
  src/components/interactive/motion/StaggerList.tsx
  src/components/interactive/motion/index.ts
  src/lib/motion.test.ts
  src/lib/motion.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

fix(a11y): respect prefers-reduced-motion in CommandMenu and TableOfContents
  .beans/SI-ukv5--reduced-motion-fix-in-commandmenu-toc.md
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/TableOfContents.tsx
Due: npx prettier --write

feat(motion): reveal-on-scroll for content pages
  .beans/SI-7q5r--reveal-on-scroll-for-content-pages.md
  src/components/site/LatestEssaysList.tsx
  src/pages/about.astro
  src/pages/colophon.astro
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/libertarianism.astro
  src/pages/traditional-colors-of-japan.astro
  src/pages/work.astro
  src/pages/writing.astro
  src/pages/writing/[slug].astro
Due: npx prettier --write, npx eslint --fix

feat(hero): split-text word-stagger on homepage hero
  .beans/SI-atbi--hero-split-text-stagger-on-homepage.md
  src/components/site/HeroTitle.tsx
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat(work): parallax on work-page images
  .beans/SI-mpgh--paralax-scrolling-on-work-page.md
  src/components/site/work/WorkImage.astro
  src/components/site/work/WorkImageParallax.tsx
  src/components/site/work/WorkItemFeatured.astro
  src/components/site/work/WorkItemFullBleed.astro
  src/components/site/work/WorkItemGallery3.astro
  src/components/site/work/WorkItemImageInset.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): mark SI-akaq and SI-mpgh completed
  .beans/SI-akaq--phase-6-motion-special-interactions.md
Due: npx prettier --write

fix(work): make parallax visible with direction + scale buffer
  src/components/site/work/WorkImage.astro
  src/components/site/work/WorkImageParallax.tsx
  src/components/site/work/WorkItem.astro
  src/components/site/work/WorkItemFeatured.astro
  src/components/site/work/WorkItemFullBleed.astro
  src/components/site/work/WorkItemGallery2.astro
  src/components/site/work/WorkItemGallery2Stagger.astro
  src/components/site/work/WorkItemGallery3.astro
  src/components/site/work/WorkItemGallery3Stagger.astro
  src/components/site/work/WorkItemImageInset.astro
  src/pages/work.astro
Due: npx prettier --write, npx eslint --fix

feat(motion): translate whole image cards for parallax on work page
  src/components/site/work/WorkImage.astro
  src/components/site/work/WorkImageParallax.tsx
  src/components/site/work/WorkItemFeatured.astro
  src/components/site/work/WorkItemFullBleed.astro
  src/components/site/work/WorkItemGallery2.astro
  src/components/site/work/WorkItemGallery2Stagger.astro
  src/components/site/work/WorkItemGallery3.astro
  src/components/site/work/WorkItemGallery3Stagger.astro
  src/components/site/work/WorkItemImageInset.astro
Due: npx prettier --write, npx eslint --fix

chore(beans): update tickets
  .beans/SI-2a4l--use-wallace-css-code-quality.md
  .beans/SI-4g7m--use-wallace-css-design-tokens.md
  .beans/SI-8idd--cms.md
  .beans/SI-99ml--use-wallace-custom-properties.md
  .beans/SI-k1it--use-wallace-css-analyzer.md
  .beans/SI-vb9g--use-wallace-code-coverage.md
Due: npx prettier --write

refactor(work): replace parallax with per-image fade-in on viewport enter
  .beans/SI-tvza--remove-parallax-from-work-images-replace-with-per.md
  src/components/site/work/WorkImage.tsx
  src/components/site/work/WorkImageParallax.tsx
  src/components/site/work/WorkItemFeatured.astro
  src/components/site/work/WorkItemFullBleed.astro
  src/components/site/work/WorkItemGallery2.astro
  src/components/site/work/WorkItemGallery2Stagger.astro
  src/components/site/work/WorkItemGallery3.astro
  src/components/site/work/WorkItemGallery3Stagger.astro
  src/components/site/work/WorkItemImageInset.astro
Due: npx prettier --write, npx eslint --fix

chore(pnpm): increase security against attacks
  pnpm-workspace.yaml
Due: none

feat(analytics): implement Umami event tracking strategy
  .beans/SI-5mp9--analytics-strategy-with-umami.md
  .beans/SI-tijj--audit-and-implement-umami-analytics-strategy.md
  src/components/interactive/CommandMenu.tsx
  src/components/interactive/SeriesStepper.tsx
  src/components/interactive/TableOfContents.tsx
  src/components/interactive/WritingPage.tsx
  src/components/site/LatestEssaysList.tsx
  src/components/site/PageHeader.astro
  src/components/site/PrevNextNavigation.astro
  src/components/site/ThemeToggle.astro
  src/pages/index.astro
  src/utils/analytics.test.ts
  src/utils/analytics.ts
  src/utils/index.ts
Due: npx prettier --write, npx eslint --fix

test(a11y): fix WorkImage import and restore full test suite
  .beans/SI-2mx2--fix-workimage-a11y-test-import.md
  src/components/site/site.a11y.test.ts
  src/components/site/work/work-image.a11y.test.tsx
  src/test/astro-assets-mock.ts
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
