Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

fix: reduce opacity for normal images in dark mode
  src/components/Image.astro
  src/components/MarkdownImage.astro
Due: npx prettier --write, npx eslint --fix

fix: rounded corners of photos when touching edges
  src/layouts/AboutLayout.astro
  src/pages/[...slug].astro
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

feat: change tag design
  src/components/Tag.astro
Due: npx prettier --write, npx eslint --fix

feat: remove backlink
  src/components/Backlink.astro
  src/components/PageHeader.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/GridLayout.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/about.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/imprint.mdx
  src/pages/journal.astro
  src/pages/libertarianism.mdx
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/projects/[...slug].astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/pages/tools.mdx
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

fix: decrease width of wide figures
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: improve the search modal design
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

feat: add new Hanko logo
  src/components/icons/Logo.tsx
  src/components/icons/index.ts
  src/icons/logo.svg
Due: npx prettier --write, npx eslint --fix

feat: add mobile menu and modal
  src/components/MainNavigation.astro
  src/components/MenuLink.astro
  src/components/MenuModal.astro
  src/components/MenuNavigation.astro
  src/components/PageHeader.astro
  src/components/Scripts.astro
  src/components/SearchModal.astro
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: change width of charts
  src/content/journal/2022/i-counted-everything-i-own.mdx
Due: npx prettier --write

feat: add new logo, new theme switcher and realign navigation items
  src/components/Logo.astro
  src/components/MainNavigation.astro
  src/components/PageHeader.astro
  src/components/SearchLink.astro
  src/components/ThemeProvider.astro
  src/components/ThemeToggle.astro
  src/components/icons/Circle.tsx
  src/components/icons/Copyright.tsx
  src/components/icons/Hanko.tsx
  src/components/icons/Logo.tsx
  src/components/icons/Menu.tsx
  src/components/icons/Moon.tsx
  src/components/icons/Sun.tsx
  src/components/icons/index.ts
  src/data/navigation.json
  src/icons/circle.svg
  src/icons/copyright.svg
  src/icons/hanko.svg
  src/icons/menu.svg
  src/icons/moon.svg
  src/icons/sun.svg
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat: render year additionally during site generation
  src/components/LegalDate.astro
Due: npx prettier --write, npx eslint --fix

fix: broken image alignment
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

fix: alignment of cover photo on pages
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: align header items more harmonical and add new hover styles for navigation items
  src/components/MainNavigation.astro
  src/components/PageHeader.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

chore: change page width
  src/pages/libertarianism.mdx
Due: npx prettier --write

chore: remove old sketchnotes
  public/assets/images/sketchnotes/being-a-good-listener.webp
  public/assets/images/sketchnotes/better-conversation.webp
  public/assets/images/sketchnotes/bikablo-practice-1.webp
  public/assets/images/sketchnotes/bikablo-practice-2.webp
  public/assets/images/sketchnotes/bikablo-practice-3.webp
  public/assets/images/sketchnotes/bikablo-practice-4.webp
  public/assets/images/sketchnotes/how-to-speak.webp
  public/assets/images/sketchnotes/random-sketches-1.webp
  public/assets/images/sketchnotes/random-sketches-2.webp
  public/assets/images/sketchnotes/random-sketches-3.webp
  public/assets/images/sketchnotes/random-sketches-4.webp
  public/assets/images/sketchnotes/random-sketches-5.webp
  public/assets/images/sketchnotes/random-sketches-6.webp
  public/assets/images/sketchnotes/random-sketches-7.webp
  public/assets/images/sketchnotes/random-sketches-8.webp
  public/assets/images/sketchnotes/self-actualization.webp
  public/assets/images/sketchnotes/the-art-of-enough.webp
  public/assets/images/sketchnotes/this-is-water-1.webp
  public/assets/images/sketchnotes/this-is-water-2.webp
  public/assets/images/sketchnotes/title-lettering.webp
  public/assets/images/sketchnotes/weight-idea.webp
  public/assets/images/sketchnotes/wim-hof-method.webp
Due: none

feat: replace copyright symbol with icon
  src/components/Legal.astro
Due: npx prettier --write, npx eslint --fix

fix: modal colors in light mode
  src/components/MenuModal.astro
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

docs: add CLAUDE.md with repository guidance
  CLAUDE.md
Due: npx prettier --write

docs: add git workflow requirements to CLAUDE.md
  CLAUDE.md
Due: npx prettier --write

docs: recreate CLAUDE.md with concise structure and extract patterns
  .claude/docs/architectural_patterns.md
  CLAUDE.md
Due: npx prettier --write

feat: add comprehensive test suite with Vitest
  .gitignore
  package.json
  pnpm-lock.yaml
  src/test/fixtures/posts.ts
  src/test/setup.ts
  src/utils/date.test.ts
  src/utils/format-posts.test.ts
  src/utils/remark-reading-time.test.ts
  src/utils/remark-widont.test.ts
  src/utils/rss-parser.test.ts
  src/utils/sort-by-alphabet.test.ts
  src/utils/sort-by-date.test.ts
  src/utils/sort-by-sortkey.test.ts
  src/utils/titlecase.test.ts
  src/utils/word-count.test.ts
  tsconfig.json
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

fix: eliminate SSR warnings during test runs
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

fix: enable watch mode for Vitest UI
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

chore: add happy-dom for future component testing
  package.json
  pnpm-lock.yaml
  src/test/setup.ts
  vitest.config.ts
Due: npx prettier --write, npx eslint --fix

test: fill coverage gaps to achieve 98.92% coverage
  src/utils/pick-two-random-colors.test.ts
  src/utils/rss-parser.test.ts
  src/utils/sort-by-date.test.ts
Due: npx prettier --write, npx eslint --fix

chore: auto-open coverage report in browser
  package.json
Due: none

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
