Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc.json:

{
	"**/*.{md,mdx,html,astro,css}": ["npx prettier --write"],
	"**/*.{js,ts,html,astro}": ["npx eslint --fix"]
}

feat: add XSL stylesheet for feeds and fix sorting order
  public/rss.xsl
  src/components/RssXml.astro
  src/mdx-components.ts
  src/pages/rss-ai-art.xml.js
  src/pages/rss-haiku.xml.js
  src/pages/rss-sketchnotes.xml.js
Due: npx prettier --write, npx eslint --fix

fix: wrap theme provider in self-invoking function
  src/components/ThemeProvider.astro
Due: npx prettier --write, npx eslint --fix

feat: add cover photos for Civil War for Truth essay series
  public/assets/images/branding/og/civil-war-truth-1-introduction.jpg
  public/assets/images/branding/og/civil-war-truth-2-corporatism-technocracy.jpg
  public/assets/images/branding/og/civil-war-truth-3-political-division.jpg
  public/assets/images/branding/og/civil-war-truth-4-media-journalism.jpg
  public/assets/images/branding/og/civil-war-truth-5-academia.jpg
  public/assets/images/branding/og/civil-war-truth-6-science.jpg
  public/assets/images/branding/og/civil-war-truth-7-conclusion.jpg
  public/assets/images/cover/civil-war-truth-1-introduction.jpg
  public/assets/images/cover/civil-war-truth-2-corporatism-technocracy.jpg
  public/assets/images/cover/civil-war-truth-3-political-division.jpg
  public/assets/images/cover/civil-war-truth-4-media-journalism.jpg
  public/assets/images/cover/civil-war-truth-5-academia.jpg
  public/assets/images/cover/civil-war-truth-6-science.jpg
  public/assets/images/cover/civil-war-truth-7-conclusion.jpg
  src/content/journal/2022/civil-war-truth-1-introduction.mdx
  src/content/journal/2022/civil-war-truth-2-corporatism-technocracy.mdx
  src/content/journal/2022/civil-war-truth-3-political-division.mdx
  src/content/journal/2022/civil-war-truth-4-media-journalism.mdx
  src/content/journal/2022/civil-war-truth-5-academia.mdx
  src/content/journal/2022/civil-war-truth-6-science.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
Due: npx prettier --write

refactor: change social icons to line icons
  src/data/social-links.json
Due: none

refactor: change RSS icon to line icon
  src/components/RSSLink.astro
Due: npx prettier --write, npx eslint --fix

fix: remove space between icon and text when link is hovered
  src/components/RSSLink.astro
Due: npx prettier --write, npx eslint --fix

chore(pnpm): update packages
  package.json
  pnpm-lock.yaml
Due: none

feat: add site search with pagefind
  .cspell.json
  .cspell/dictionary.txt
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/pinterest-428b1.html
  src/components/MainNavigation.astro
  src/components/Scripts.astro
  src/components/SearchLink.astro
  src/components/SearchModal.astro
  src/layouts/BaseLayout.astro
  src/pages/ai-art.astro
  src/pages/colophon.mdx
  src/pages/haiku.astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/sketchnotes.astro
Due: npx prettier --write, npx eslint --fix

feat: change design of search modal
  src/components/Scripts.astro
  src/components/SearchLink.astro
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

fix: change first headline to H1
  src/components/GalleryDetail.astro
Due: npx prettier --write, npx eslint --fix

feat: load first image of gallery immediatly
  src/components/GalleryDetail.astro
Due: npx prettier --write, npx eslint --fix

fix: move data attribute to element
  src/pages/ai-art.astro
Due: npx prettier --write, npx eslint --fix

feat: add preview image to README
  README.md
  public/assets/images/website-dark.jpg
  public/assets/images/website-light.jpg
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

fix: search layout for small screens
  src/components/SearchModal.astro
Due: npx prettier --write, npx eslint --fix

feat: add new AI art image "Clifton"
  public/assets/images/ai-art/clifton/1.jpeg
  src/content/ai-art/clifton.mdx
Due: npx prettier --write

feat: add section with Noh mask example
  src/content/journal/2023/shokunin.mdx
Due: npx prettier --write

fix: make sure the background color is used for the minimal ui
  astro.config.mjs
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add new cover image for two essays
  public/assets/images/branding/og/manage-references-for-note-taking.jpg
  public/assets/images/branding/og/tools-for-better-writing.jpg
  public/assets/images/cover/manage-references-for-note-taking.jpg
  public/assets/images/cover/tools-for-better-writing.jpg
  src/content/journal/2022/manage-references-for-note-taking.mdx
  src/content/journal/2022/tools-for-better-writing.mdx
Due: npx prettier --write

feat: add AI art images for Roman Stoics
  public/assets/images/ai-art/roman-stoics/epictetus.jpeg
  public/assets/images/ai-art/roman-stoics/marcus-aurelius.jpeg
  public/assets/images/ai-art/roman-stoics/seneca.jpeg
  src/content/ai-art/roman-stoics.mdx
Due: npx prettier --write

chore(npm): update package
  package.json
  pnpm-lock.yaml
Due: none

fix: typo
  src/pages/now.mdx
Due: npx prettier --write

fix(netlify): redirect rule
  netlify.toml
Due: none

chore(astro): upgrade to Astro 3
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

chore(astro): upgrade to Astro 3
  .nvmrc
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: remove swup to test native page transitions
  .cspell/dictionary.txt
  package.json
  pnpm-lock.yaml
  src/components/Scripts.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
  types/swup.d.ts
Due: npx prettier --write, npx eslint --fix

chore: remove blog link
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
Due: npx prettier --write

chore: update text
  src/text/homepage/what-i-do.mdx
Due: npx prettier --write

feat(essay): Discovering Thomas Sowell
  public/assets/images/branding/og/thomas-sowell.jpg
  public/assets/images/cover/thomas-sowell.jpg
  src/content/journal/2023/thomas-sowell.mdx
Due: npx prettier --write

feat: add Spotify component
  src/components/Spotify.tsx
  src/components/index.ts
  src/content/journal/2023/thomas-sowell.mdx
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

chore: run prettier on ts and tsx files
  .lintstagedrc.json
Due: none

feat: add script to generate icon components
  icons-generate.cjs
  package.json
  pnpm-lock.yaml
Due: none

chore: add SVG icons
  src/icons/arrow-left-s.svg
  src/icons/arrow-left.svg
  src/icons/arrow-right-s.svg
  src/icons/arrow-right.svg
  src/icons/arrow-up.svg
  src/icons/close.svg
  src/icons/download.svg
  src/icons/github.svg
  src/icons/instagram.svg
  src/icons/mail-send.svg
  src/icons/mail.svg
  src/icons/rss.svg
  src/icons/search.svg
  src/icons/twitter-x.svg
  src/icons/twitter.svg
Due: none

chore: replace UpLink with preact component
  src/components/PageFooter.astro
  src/components/UpLink.astro
  src/components/UpLink.tsx
  src/components/index.ts
Due: npx prettier --write, npx eslint --fix

chore: replace DownloadLink with preact component
  src/components/DownloadLink.astro
  src/components/DownloadLink.tsx
  src/components/index.ts
  src/mdx-components.ts
  src/pages/cv.astro
Due: npx prettier --write, npx eslint --fix

chore: replace Backlink with preact component
  src/components/Backlink.astro
  src/components/Backlink.tsx
  src/components/PageHeader.astro
  src/components/index.ts
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

chore: generate icon components
  src/components/icons/ArrowLeft.tsx
  src/components/icons/ArrowLeftS.tsx
  src/components/icons/ArrowRight.tsx
  src/components/icons/ArrowRightS.tsx
  src/components/icons/ArrowUp.tsx
  src/components/icons/Circle.tsx
  src/components/icons/Close.tsx
  src/components/icons/Download.tsx
  src/components/icons/Github.tsx
  src/components/icons/Instagram.tsx
  src/components/icons/Mail.tsx
  src/components/icons/MailSend.tsx
  src/components/icons/Rss.tsx
  src/components/icons/Search.tsx
  src/components/icons/Twitter.tsx
  src/components/icons/TwitterX.tsx
  src/components/icons/index.ts
Due: npx eslint --fix

chore: replace MoreLink with preact component
  src/components/MoreLink.astro
  src/components/MoreLink.tsx
  src/components/ProjectContent.astro
  src/components/index.ts
  src/mdx-components.ts
  src/pages/index.astro
Due: npx prettier --write, npx eslint --fix

chore: replace sprite in RSSLink
  src/components/RSSLink.astro
Due: npx prettier --write, npx eslint --fix

chore: replace sprite in ThemeToggle
  src/components/ThemeToggle.astro
Due: npx prettier --write, npx eslint --fix
