Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

fix: add https protocol for links
  src/components/AmazonBook.astro
Due: npx prettier --write, npx eslint --fix

fix: white space issue
  src/components/NetflixFlag.astro
  src/components/PrimeVideoFlag.astro
Due: npx prettier --write, npx eslint --fix

chore: add more umami event links
  src/components/AmazonBook.astro
  src/components/DownloadLink.astro
  src/components/Link.astro
  src/components/NetflixFlag.astro
  src/components/PrimeVideoFlag.astro
  src/components/ProductLink.astro
Due: npx prettier --write, npx eslint --fix

refactor: replace all twitter links with 𝕏 links
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2021/the-decentralized-web-1-why-do-we-need-it.mdx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/civil-war-truth-2-corporatism-technocracy.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/content/journal/2022/dreaming-of-the-old-normal.mdx
  src/content/journal/2023/thomas-sowell.mdx
  src/content/journal/2024/raycast.mdx
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

refactor: replace Twitter with 𝕏 in text and layout
  public/humans.txt
  src/content/journal/2014/gulp-tutorial-16-postcss.mdx
  src/content/journal/2017/attention.mdx
  src/content/journal/2018/storing-information.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/best-of-2020.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-development.mdx
  src/content/journal/2021/processing-information-into-notes.mdx
  src/content/journal/2021/the-decentralized-web-2-the-wild-west-web.mdx
  src/content/journal/2021/using-readwise-with-obsidian-for-note-talking.mdx
  src/content/journal/2022/artificial-intelligence-1-introduction.mdx
  src/content/journal/2022/artificial-intelligence-2-text-generation.mdx
  src/content/journal/2022/civil-war-truth-3-political-division.mdx
  src/content/journal/2022/civil-war-truth-4-media-journalism.mdx
  src/content/journal/2022/civil-war-truth-5-academia.mdx
  src/content/journal/2022/civil-war-truth-7-conclusion.mdx
  src/content/journal/2022/dreaming-of-the-old-normal.mdx
  src/content/journal/2022/manage-references-for-note-taking.mdx
  src/content/journal/2022/rss-news-feed.mdx
  src/content/journal/2023/thomas-sowell.mdx
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
  src/content/journal/2024/raycast.mdx
  src/data/site.ts
  src/layouts/BaseLayout.astro
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat: add four new cover images
  public/assets/images/branding/og/japanese-colors.jpg
  public/assets/images/branding/og/japanese-colors.webp
  public/assets/images/branding/og/learning-poems.jpg
  public/assets/images/branding/og/learning-poems.webp
  public/assets/images/branding/og/minimalism.jpg
  public/assets/images/branding/og/minimalism.webp
  public/assets/images/branding/og/website-typography.jpg
  public/assets/images/branding/og/website-typography.webp
  public/assets/images/cover/japanese-colors.jpg
  public/assets/images/cover/japanese-colors.webp
  public/assets/images/cover/learning-poems.jpg
  public/assets/images/cover/learning-poems.webp
  public/assets/images/cover/minimalism.jpg
  public/assets/images/cover/minimalism.webp
  public/assets/images/cover/website-typography.jpg
  public/assets/images/cover/website-typography.webp
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2014/website-typography.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2021/learning-poems.mdx
Due: npx prettier --write

chore: update text for AI
  src/content/projects/ai-art.mdx
Due: npx prettier --write

chore: update link to my window manager
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

fix: restoring a destroyed article from Git history
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
Due: npx prettier --write

chore: update tools used for note-taking
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
Due: npx prettier --write

chore: shorten the links of tracking events
  src/components/Link.astro
Due: npx prettier --write, npx eslint --fix

fix(A11Y): hide icons with aria labels
  src/components/Backlink.astro
  src/components/RSSLink.astro
  src/components/SearchLink.astro
  src/components/SocialLinks.astro
  src/components/ThemeToggle.astro
  src/components/UpLink.astro
Due: npx prettier --write, npx eslint --fix

chore: add task to automatically build before previewing astro
  package.json
Due: none

fix: wrong and outdated sentences
  src/content/journal/2021/interpretation-the-gods-of-the-copybook-headings.mdx
  src/content/projects/xing-design-system.mdx
Due: npx prettier --write

feat: improve footnote ref design
  src/pages/[...slug].astro
Due: npx prettier --write, npx eslint --fix

feat: add AppleTV flag
  src/components/AppleTVFlag.astro
  src/mdx-components.ts
Due: npx prettier --write, npx eslint --fix

feat: update tools
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat(essay): new "Beyond the Bookshelf" series
  public/assets/images/branding/og/beyond-the-bookshelf-1.jpg
  public/assets/images/branding/og/beyond-the-bookshelf-1.webp
  public/assets/images/branding/og/beyond-the-bookshelf-2.jpg
  public/assets/images/branding/og/beyond-the-bookshelf-2.webp
  public/assets/images/cover/beyond-the-bookshelf-1.jpg
  public/assets/images/cover/beyond-the-bookshelf-1.webp
  public/assets/images/cover/beyond-the-bookshelf-2.jpg
  public/assets/images/cover/beyond-the-bookshelf-2.webp
  src/components/BarChart.tsx
  src/components/Blockquote.astro
  src/components/RssXml.astro
  src/content/journal/2024/beyond-the-bookshelf-1.mdx
  src/content/journal/2024/beyond-the-bookshelf-2-books-2024.mdx
  src/data/journal/beyond-the-bookshelf-2.ts
  src/mdx-components.ts
  src/pages/[...slug].astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/now.mdx
  src/pages/tag.astro
  src/pages/tag/[tag].astro
Due: npx prettier --write, npx eslint --fix

chore: update maintenance badge
  README.md
Due: npx prettier --write

fix: remove outdated information
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: add update for Floating Notes 2.0
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: update section about AI
  src/content/journal/2024/raycast.mdx
Due: npx prettier --write

feat: add home page to main navigation
  src/data/navigation.json
Due: none

feat: add intro to page layout
  src/components/Pullquote.astro
  src/layouts/PageLayout.astro
  src/pages/now.mdx
Due: npx prettier --write, npx eslint --fix

feat: add updated block to page template
  src/layouts/PageLayout.astro
  src/pages/colophon.mdx
  src/pages/now.mdx
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

feat: add page with Life Rules
  src/data/subnavigation.json
  src/pages/life-rules.mdx
Due: npx prettier --write

feat: remove Sal.js
  package.json
  pnpm-lock.yaml
  public/assets/scripts/sal.js
  public/assets/scripts/sal.js.map
  public/assets/styles/print.css
  src/components/GalleryDetail.astro
  src/components/JournalList.astro
  src/components/ProjectContainer.astro
  src/components/Scripts.astro
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
  src/data/site.ts
  src/layouts/PageLayout.astro
  src/pages/404.astro
  src/pages/about.mdx
  src/pages/ai-art.astro
  src/pages/colophon.mdx
  src/pages/cv.astro
  src/pages/haiku.astro
  src/pages/haiku/[...slug].astro
  src/pages/index.astro
  src/pages/journal.astro
  src/pages/life-rules.mdx
  src/pages/now.mdx
  src/pages/projects.astro
  src/pages/sketchnotes.astro
  src/pages/tag.astro
  src/pages/tag/[tag].astro
  src/pages/traditional-colors-of-japan.astro
  src/styles/sal.css
  src/styles/sal.css.map
Due: npx prettier --write, npx eslint --fix

refactor: replace preact with react
  astro.config.mjs
  icons-generate.cjs
  package.json
  pnpm-lock.yaml
  src/components/Backlink.astro
  src/components/DownloadLink.astro
  src/components/EmailLink.astro
  src/components/MoreLink.astro
  src/components/Pagination.astro
  src/components/RSSLink.astro
  src/components/SearchLink.astro
  src/components/SearchModal.astro
  src/components/SocialLinks.astro
  src/components/ThemeToggle.astro
  src/components/UpLink.astro
  src/components/icons/ArrowLeft.tsx
  src/components/icons/ArrowLeftS.tsx
  src/components/icons/ArrowRight.tsx
  src/components/icons/ArrowRightS.tsx
  src/components/icons/ArrowUp.tsx
  src/components/icons/Circle.tsx
  src/components/icons/Close.tsx
  src/components/icons/Download.tsx
  src/components/icons/Github.tsx
  src/components/icons/Instagram.tsx
  src/components/icons/Mail.tsx
  src/components/icons/MailSend.tsx
  src/components/icons/Rss.tsx
  src/components/icons/Search.tsx
  src/components/icons/Twitter.tsx
  src/components/icons/TwitterX.tsx
  tsconfig.json
Due: npx prettier --write, npx eslint --fix

feat: remove Swup
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Scripts.astro
  src/components/SearchModal.astro
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
  src/layouts/BaseLayout.astro
  src/pages/colophon.mdx
  types/swup.d.ts
Due: npx prettier --write, npx eslint --fix

refactor: replace Swup page transitions with native transitions
  astro.config.mjs
  src/components/Scripts.astro
  src/components/ThemeProvider.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: npx prettier --write, npx eslint --fix

feat(tools): add Ghostty terminal emulator and Zed
  public/assets/images/tools/ghostty.png
  public/assets/images/tools/ghostty.webp
  public/assets/images/tools/zed.png
  public/assets/images/tools/zed.webp
  src/content/journal/2024/raycast.mdx
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

fix: JavaScript errors
  src/components/Pagination.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: replace photo
  public/assets/images/ai-portrait-stefan-imhoff.jpg
  public/assets/images/ai-portrait-stefan-imhoff.webp
  public/assets/images/portrait-stefan-imhoff-2025.jpg
  public/assets/images/portrait-stefan-imhoff-2025.webp
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

feat(life-rules): add a new rule
  src/pages/about.mdx
  src/pages/life-rules.mdx
Due: npx prettier --write

chore: add new tags
  src/content/journal/2007/gtd.mdx
  src/content/journal/2007/japanese-colors.mdx
  src/content/journal/2007/koi-design.mdx
  src/content/journal/2014/logo-design.mdx
  src/content/journal/2016/japanese-netflix-tv-show-underwear.mdx
  src/content/journal/2017/attention.mdx
  src/content/journal/2017/minimalism.mdx
  src/content/journal/2020/apps-tools-services.mdx
  src/content/journal/2020/everyday-carry.mdx
  src/content/journal/2020/new-website-2020-design.mdx
  src/content/journal/2020/new-website-2020-inspiration.mdx
  src/content/journal/2020/new-website-2020.mdx
  src/content/journal/2020/tools-i-use-for-note-taking.mdx
  src/content/journal/2022/i-counted-everything-i-own.mdx
  src/content/journal/2022/template-ia-writer-nanzan.mdx
  src/content/journal/2022/template-ia-writer-shibui.mdx
  src/content/journal/2023/shokunin.mdx
  src/content/journal/2023/website-relaunch-astro-preact-tailwind.mdx
  src/schema/journal.ts
Due: npx prettier --write, npx eslint --fix

feat(about): move colophon page to about and shorten page
  src/layouts/AboutLayout.astro
  src/pages/about.mdx
  src/pages/colophon.mdx
Due: npx prettier --write, npx eslint --fix

feat: update essay with current tools
  src/content/journal/2020/apps-tools-services.mdx
Due: npx prettier --write

feat: add the intro line to the layout
  src/layouts/PageLayout.astro
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,css,tsx,ts}
  npx eslint --fix: any of: **/*.{js,ts,html,astro}
