Repository kogakure/website-astro-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

chore: move markdown text snippets into text folder to prevent clash with content collections
  src/pages/404.astro
  src/pages/traditional-colors-of-japan.astro
  src/text/404/haiku.mdx
  src/text/traditional-colors-of-japan/intro.mdx
Due: npx prettier --write, npx eslint --fix

feat: move Haiku to collection
  src/content/config.ts
  src/content/haiku/1.md
  src/content/haiku/10.md
  src/content/haiku/11.md
  src/content/haiku/12.md
  src/content/haiku/13.md
  src/content/haiku/14.md
  src/content/haiku/15.md
  src/content/haiku/16.md
  src/content/haiku/17.md
  src/content/haiku/18.md
  src/content/haiku/19.md
  src/content/haiku/2.md
  src/content/haiku/20.md
  src/content/haiku/21.md
  src/content/haiku/22.md
  src/content/haiku/23.md
  src/content/haiku/3.md
  src/content/haiku/4.md
  src/content/haiku/5.md
  src/content/haiku/6.md
  src/content/haiku/7.md
  src/content/haiku/8.md
  src/content/haiku/9.md
  tsconfig.json
Due: npx prettier --write, npx eslint --fix

refactor: allow page header to turn off the navigation
  src/components/PageHeader.astro
Due: npx prettier --write, npx eslint --fix

refactor: allow base layout to turn of footer and navigation
  src/layouts/BaseLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: add basic page for Haiku detail pages
  src/pages/haiku/[...slug].astro
Due: npx prettier --write, npx eslint --fix

refactor: add class property to page header
  src/components/PageHeader.astro
Due: npx prettier --write, npx eslint --fix

refactor: allow to hide the header
  src/layouts/BaseLayout.astro
  src/layouts/GridLayout.astro
Due: npx prettier --write, npx eslint --fix

feat: finish page layout of Haiku detail
  src/pages/haiku/[...slug].astro
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

feat: add Haiku list page
  src/pages/haiku.astro
  src/text/haiku/intro.mdx
  tailwind.config.cjs
Due: npx prettier --write, npx eslint --fix

fix: focus state of backlink
  src/components/Backlink.astro
Due: npx prettier --write, npx eslint --fix

feat: add Pagination component
  src/components/Pagination.astro
  src/components/index.ts
Due: npx prettier --write, npx eslint --fix

feat: add pagination to Haiku detail pages and sort entries
  src/pages/haiku/[...slug].astro
  src/utils/sort-by-date.ts
Due: npx prettier --write, npx eslint --fix

chore: remove CSS classes
  src/pages/traditional-colors-of-japan.astro
Due: npx prettier --write, npx eslint --fix

fix: remove commas
  src/content/haiku/10.md
  src/content/haiku/11.md
  src/content/haiku/12.md
  src/content/haiku/13.md
  src/content/haiku/14.md
  src/content/haiku/15.md
  src/content/haiku/16.md
  src/content/haiku/17.md
  src/content/haiku/18.md
  src/content/haiku/19.md
  src/content/haiku/20.md
  src/content/haiku/21.md
  src/content/haiku/22.md
  src/content/haiku/23.md
  src/content/haiku/6.md
  src/content/haiku/7.md
  src/content/haiku/8.md
  src/content/haiku/9.md
Due: npx prettier --write

chore: remove Svelte
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  svelte.config.js
  tailwind.config.cjs
Due: npx eslint --fix

docs: update README
  README.md
Due: npx prettier --write

chore: rewrite paragraph
  src/pages/tools.mdx
Due: npx prettier --write

chore: update text and links
  src/pages/colophon.mdx
Due: npx prettier --write

feat: add Instagram to social links
  src/data/social-links.json
Due: none

feat: add Projects overview data
  src/content/config.ts
  src/content/projects/bamboo-illustration.mdx
  src/content/projects/book-cover.mdx
  src/content/projects/exploring-hamburg-v2.mdx
  src/content/projects/font-ingo.mdx
  src/content/projects/haiku.mdx
  src/content/projects/ia-writer-template-nanzan.mdx
  src/content/projects/ia-writer-template-shibui.mdx
  src/content/projects/journal.mdx
  src/content/projects/kogakure-v9.mdx
  src/content/projects/koi-illustration.mdx
  src/content/projects/osteopathie-hamburg.mdx
  src/content/projects/sketchnotes.mdx
  src/content/projects/stefanimhoff-v4.mdx
  src/content/projects/thai-restaurants-hamburg.mdx
  src/content/projects/traditional-colors-of-japan.mdx
  src/content/projects/xing-design-system.mdx
  src/content/projects/xing-onboarding-illustrations.mdx
  src/pages/projects.astro
  src/text/projects/intro.mdx
  src/utils/sort-by-sortkey.ts
Due: npx prettier --write, npx eslint --fix

refactor: change Image component to use Astro Image
  src/components/Image.astro
  src/components/Image.tsx
  src/components/index.ts
Due: npx prettier --write, npx eslint --fix

feat: add Picture component using Astro Picture
  src/components/Picture.astro
  src/components/index.ts
Due: npx prettier --write, npx eslint --fix

feat(about): replace SVG image with AI portrai photo
  public/assets/images/ai-portrait-stefan-imhoff.png
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: remove assets of old projects
  public/assets/images/projects/exploring-hamburg-v1/exploring-hamburg-v1-homepage.jpg
  public/assets/images/projects/exploring-hamburg-v1/exploring-hamburg-v1-typefaces.svg
  public/assets/images/projects/kogakure-v8/kogakure-v8-homepage.jpg
  public/assets/images/projects/kogakure-v8/kogakure-v8-illustration.jpg
  public/assets/images/projects/kogakure-v8/kogakure-v8-logo.svg
  public/assets/images/projects/kogakure-v8/kogakure-v8-ninjutsu.jpg
  public/assets/images/projects/kogakure-v8/kogakure-v8-recommendations.jpg
  public/assets/images/projects/kogakure-v8/kogakure-v8-typeface.svg
  public/assets/images/projects/stefanimhoff-v2/stefanimhoff-v2-homepage.jpg
  public/assets/images/projects/stefanimhoff-v2/stefanimhoff-v2-logo.svg
  public/assets/images/projects/stefanimhoff-v2/stefanimhoff-v2-subpage.jpg
  public/assets/images/projects/stefanimhoff-v2/stefanimhoff-v2-typeface.svg
Due: none

refactor: remove mirrored types of Picture and Image and use native types instead
  src/components/Image.astro
  src/components/Picture.astro
Due: npx prettier --write, npx eslint --fix

chore: improve paragraph
  src/data/tools.ts
  src/pages/tools.mdx
Due: npx prettier --write, npx eslint --fix

fix: remove unnecessary class
  src/components/ColorSwatch.tsx
Due: none

chore(npm): upgrade Astro package
  package.json
  pnpm-lock.yaml
Due: none

chore: add lazy loading to FloatingImage
  src/components/FloatingImage.tsx
Due: none

refactor: use AstroImageTools to optimize Markdown images
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/FloatingImage.tsx
  src/components/MarkdownImage.astro
  src/components/index.ts
  src/mdx-components.ts
  types/astro-imagetools.d.ts
Due: npx prettier --write, npx eslint --fix

refactor: convert Picture component to use AstroImageTools
  src/components/Picture.astro
  src/components/ProjectImage.astro
  src/content/config.ts
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

refactor: convert Image to AstroImageTools
  src/components/Image.astro
Due: npx prettier --write, npx eslint --fix

fix: make sure the component doesn't crash with SVG images
  src/components/Picture.astro
Due: npx prettier --write, npx eslint --fix

fix: update API of toolbox component
  src/components/Toolbox.astro
Due: npx prettier --write, npx eslint --fix

fix: mirror the container not the image to prevent wrong blur up image
  src/layouts/AboutLayout.astro
Due: npx prettier --write, npx eslint --fix

chore: remove @astrojs/image
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/env.d.ts
Due: npx eslint --fix

feat: add a sticky page header
  src/components/PageHeader.astro
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: any of: **/*.{md,mdx,html,astro,svelte,css}
  npx eslint --fix: any of: **/*.{js,ts,html,astro,svelte}
